.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
    margin-bottom: 50px;
    size: 60%;
}

.selector {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.valueCell {
	text-align: right;
}

.treeHolder {
	max-height: 300px;
	max-width: 300px;
	overflow: auto;
	border: 1px solid rgb(212,212,212);
}


.outlier {
	background-color: #FF6633 !important;
	font-weight: 700;
}

.container {
  padding: 3px;	
}

body {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}


