body {
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.selector {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.valueCell {
	text-align: right;
	vertical-align: middle;
}

.container {
  margin: 3px;
}

.tableButton {
	height: 30px;
	padding: 4px; 
	text-aling:center;
}

.bigChart {
	border: 1px solid gray;
	height: 400px;
}