<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
	
	<script src="libs/jquery.js"></script>
	<script src="libs/angular.js"></script>
	<script src="libs/moment.js"></script>
	<script src="libs/ui-bootstrap-tpls.js"></script>
	<script src="libs/select.js"></script>
	<script src="libs/angular-sanitize.js"></script>
	<script src="libs/periodTypeNoDep.js"></script>
	<script src="libs/d3.js"></script>
	<script src="libs/nv.d3.js"></script>


	<link rel="stylesheet" href="libs/bootstrap.css"/>
	<link rel="stylesheet" href="libs/select.min.css">
	<link rel="stylesheet" href="libs/nv.d3.css">
		
	
	<!-- App -->
	<script lang="javascript" src="scripts/app.js"></script>
	
	<!-- App Services -->
	<script lang="javascript" src="scripts/appServiceMath.js"></script>
	<script lang="javascript" src="scripts/appServiceMetaData.js"></script>
	<script lang="javascript" src="scripts/appServicePeriod.js"></script>
	<script lang="javascript" src="scripts/appServiceRequest.js"></script>
	<script lang="javascript" src="scripts/appServiceVisualisation.js"></script>
	
	<!-- App Analysis -->
	<script lang="javascript" src="scripts/completeness.js"></script>
	<script lang="javascript" src="scripts/completenessParameters.js"></script>
	<script lang="javascript" src="scripts/completenessResults.js"></script>
	<script lang="javascript" src="scripts/completenessService.js"></script>
	
	<!-- App Export -->
	<script lang="javascript" src="scripts/export.js"></script>


	<!-- App Style -->
	<link type="text/css" rel="stylesheet" media="screen" href="css/style.css">		
	
	
	
	<!--
	    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
	    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
	  -->
	  <!--[if lt IE 9]>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
	    <script>
	      document.createElement('ui-select');
	      document.createElement('ui-select-match');
	      document.createElement('ui-select-choices');
	    </script>
	  <![endif]-->
	  
</head>

<body>
<div class="container" ng-controller="NavigationController as navCtrl">
	
	<nav id="navbar-example" class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button class="navbar-toggle" type="button" ng-click="navCtrl.isCollapsed = !navCtrl.isCollapsed">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">WHO Data Quality Tool</a>
	        </div>
	        <div collapse="navCtrl.isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
	          <ul class="nav navbar-nav">
  					<li ng-class="{active: navCtrl.current === 'report'}"><a href ng-click="navCtrl.menuClicked('report');">Report Card</a></li>
					<li ng-class="{active: navCtrl.current === 'quality'}"><a href ng-click="navCtrl.menuClicked('quality');">Quality Analysis</a></li>
					<li ng-class="{active: navCtrl.current === 'dictionary'}"><a href ng-click="navCtrl.menuClicked('dictionary');">Data Dictionary</a></li>
					<li ng-class="{active: navCtrl.current === 'export'}"><a href ng-click="navCtrl.menuClicked('export');">Data Export</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">About data quality</a></li>
							<li><a href="#">Using the data quality app</a></li>
							<li class="divider"></li>
							<li><a href="#">Data Quality Report Card Excel tool</a></li>
							<li class="divider"></li>
							<li><a href ng-click="navCtrl.menuClicked('admin');">Administration</a></li>
						</ul>
					</li>

	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#">Exit</a></li>
	          </ul>
	        </div><!-- /.nav-collapse -->
	      </div><!-- /.container-fluid -->
	    </nav>
	<div id="completeness" ng-show="navCtrl.current === 'report'">
		<h3>Report Card</h3>
		Report card goes here...
	</div>
	<div id="quality" ng-show="navCtrl.current === 'quality'">
		<h3>Completeness and Consistency Analysis</h3>
		<completeness-parameters></completeness-parameters>
		<br>
		<completeness-result></completeness-result>
	</div>
	<div ng-cloak id="dictionary" ng-show="navCtrl.current === 'dictionary'">
		<h3>Data Dictionary</h3>
		<p>Browse indicators and their defintion.</p>
	</div>
	<div ng-cloak id="export" ng-show="navCtrl.current === 'export'">
		<export-parameters></export-parameters>
	</div>
	<div ng-cloak id="admin" ng-show="navCtrl.current === 'admin'">
		<h3>App Administration</h3>
		Administraiton goes here
	</div>
			
	
</div> <!-- /container -->	
</body>
</html>