<div ng-controller="AdminController as admCtrl">

	<tabset>
		<tab heading="Data Mapping" active="admCtrl.activeTab">
			<br />
			<p>Please map the reference data elements/indicators to the corresponding data element/indicator in this database.</p>
			<table style="font-size: 95%;" class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Group</th>
					<th>Reference data</th>
					<th>Data element/indicator</th>
					<th>Dataset (completeness)</th>
					<th width="135px"></th>
				</tr>
				<tr ng-repeat="indicator in admCtrl.mapping.data track by indicator.name">
					<td class="vert-align">{{indicator.group}}</td>
					<td class="vert-align">{{indicator.name}}</td>
					<td class="vert-align">{{indicator.localData.name}}</td>
					<td class="vert-align">{{admCtrl.dataSetNameFromID(indicator.dataSetID);}}</td>
					<td class="vert-align"><button ng-click="admCtrl.mapIndicator(indicator);" class="btn btn-default">Edit</button><button ng-disabled="!indicator.matched" style="margin-left: 5px;" ng-click="admCtrl.deleteMapping(indicator);" class="btn btn-warning">Delete</button></td>	
				</tr>
			
			</table>
		</tab>
		<tab heading="Data Quality Parameters">
			<br />
			<h4>Outliers</h4>
			<table style="font-size: 95%;" class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Group</th>
					<th>Reference indicator/data element</th>
					<th>Local data element/indicator</th>
					<th>Moderate outlier</th>
					<th>Extreme outlier</th>
					<th>Consistency</th>
				</tr>
				<tr ng-repeat="indicator in admCtrl.mapping.data | filter: {matched: true}">
					<td class="vert-align">{{indicator.group}}</td>
					<td class="vert-align">{{indicator.name}}</td>
					<td class="vert-align">{{indicator.localData.name}}</td>
					<td class="vert-align">
						<select ng-model="indicator.moderateOutlier" ng-options="opts.val as opts.label for opts in admCtrl.outlierOptions">
						</select>
					</td>
					<td class="vert-align">
						<select ng-model="indicator.extremeOutlier" ng-options="opts.val as opts.label for opts in admCtrl.outlierOptions">
						</select>
					</td>
					<td style="width: 150px;" class="vert-align"><input type="number" class="form-control" ng-model="indicator.consistency" min="0" max="1"/></td>
				</tr>			
			</table>
			<h4>Completeness</h4>
			<table style="font-size: 95%; max-width: 400px;" class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Data set</th>
					<th>Threshold for completeness (%)</th>
				</tr>
				<tr ng-class="{danger: !dataSet.threshold}" ng-repeat="dataSet in admCtrl.mapping.dataSets">
					<td class="vert-align">{{dataSet.name}}</td>
					<td style="width: 150px;" class="vert-align"><input type="number" class="form-control" ng-model="dataSet.threshold" min="0" max="100"/></td>
				</tr>
			</table>
			
			
			<h4>Internal consistency</h4>
			<table style="font-size: 95%; max-width: 800px;" class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th nowrap>Indicator A</th>
					<th nowrap>Indicator B</th>
					<th nowrap>Type</th>
					<th nowrap>Threshold</th>
					<th nowrap>Description</th>
				</tr>
				<tr ng-repeat="relation in admCtrl.mapping.relations" ng-if="admCtrl.filterMatchedRelations(relation)">
					<td class="vert-align">{{admCtrl.dataNameFromCode(relation.A);}}</td>
					<td class="vert-align">{{admCtrl.dataNameFromCode(relation.B);}}</td>
					<td class="vert-align">{{relation.type}}</td>
					<td style="width: 150px;" class="vert-align"><input type="number" class="form-control" ng-model="relation.criteria" min="0" max="2"/></td>
					<td class="vert-align">
					<span ng-if="relation.type === 'levelRatio'">Districts will be marked as outliers if their ratio of {{admCtrl.dataNameFromCode(relation.A);}} to {{admCtrl.dataNameFromCode(relation.B);}} is more than {{relation.criteria}} higher or lower than the national ratio.</span>
					<span ng-if="relation.type === 'internalRatio'">Districts will be marked as outliers if the ratio of {{admCtrl.dataNameFromCode(relation.A);}} to {{admCtrl.dataNameFromCode(relation.B);}} is more than {{relation.criteria}}</span>
					</td>
					
				</tr>
			</table>
			
			
			
			
			<button class="btn btn-primary pull-right" ng-click="admCtrl.saveParameterChanges();">Save changes</button>
				
		</tab>
	</tabset>
	
</div>