<div ng-controller="AdminController as admCtrl">

	<tabset>
		<tab heading="Data Mapping" active="admCtrl.activeTab">
			<br />
			<p>Please map the reference data elements/indicators to the corresponding data element/indicator in this database.</p>
			<table class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Group</th>
					<th>Reference indicator/data element</th>
					<th>Definition</th>
					<th width="400px">Local data element/indicator</th>
				</tr>
				<tr ng-repeat="indicator in admCtrl.mapping track by $index">
					<td>{{indicator.group}}</td>
					<td>{{indicator.name}}</td>
					<td>{{indicator.definition}}</td>
					<td>{{indicator.localDataElement.name}}{{indicator.localIndicator.name}}</td>
				</tr>
			
			</table>
			<button class="btn btn-primary pull-right">Save changes</button>
			{{admCtrl.mapping}}
			
		</tab>
		<tab heading="Data Quality Parameters">
			
		</tab>
	</tabset>
	
</div>