<div ng-controller="CompletenessResultsController as compResultCtrl">
	<div ng-show="compResultCtrl.results.length === 0" style="height: 400px;"></div>
	<div ng-show="compResultCtrl.results.length > 0">
		<h3>Result</h3>
		<tabset>
			<tab ng-repeat="result in compResultCtrl.results" heading="{{result.title}} ({{result.type}})" active="result.active">
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-condensed table-hover">
						
				        <thead>
				            <tr>
				            	<th ng-click="compResultCtrl.changeSortOrder($index)" ng-repeat="header in result.headers" ng-if="!header.hidden"><span>{{header.name}}</span><span ng-if="header.meta && !header.hidden" class="glyphicon glyphicon-sort"></span></th>
				            	<th></th>
				            </tr>
				        </thead>
				        
				        <tfoot>
				            <td colspan="{{1+result.headers.length}}">
					            <div class="btn-group btn-group-justified pull-left" style="margin-top: 20px; width: 200px;" class="pull-left">
					            	<label ng-change="compResultCtrl.updateCurrentView()" class="btn btn-default" ng-model="result.outliersOnly" btn-radio="false">All rows</label>
	            				  <label ng-change="compResultCtrl.updateCurrentView()" class="btn btn-default" ng-model="result.outliersOnly" btn-radio="true">Violations</label>
								</div>
					            
					            <div style="margin-left:20px; margin-top:27px" class="pull-left">
					            <span style="font-size: 100%;" class="label label-primary">{{result.metaData.totalRows}}</span> rows   <span style="font-size: 100%;" class="label label-danger">{{result.metaData.outlierRows}}</span> with violations.</div>
					            
					            
					            <pagination total-items="result.outliersOnly ? result.metaData.outlierRows : result.metaData.totalRows" items-per-page="10" max-size="5" ng-model="result.currentPage" class="pagination-sm pull-right" boundary-links="true" rotate="true"></pagination>
				            </td>
				        </tfoot>
				        
				        <tbody>
				        	<tr valign="middle" ng-repeat="row in result.pages[result.currentPage-1]">
				                
				                <!-- IF: Outlier and threshold -->
				                <td ng-if="result.type != 'gap'" ng-repeat="value in row.data track by $index" ng-class="{danger: (value < row.metaData.lowLimit || value > row.metaData.highLimit) && value != '' && !result.headers[$index].meta, valueCell: result.headers[$index].type != 'java.lang.String'}">
									{{value}}
				                </td>
				                
				                <!-- IF: Gap -->
				                <td ng-if="result.type === 'gap'" ng-repeat="value in row.data track by $index" ng-class="{danger: (value === '' && !result.headers[$index].meta), valueCell: result.headers[$index].type != 'java.lang.String'}">{{value}}
				                </td>
				                
				                <td><div class="btn-group" dropdown is-open="status.isopen">
				                      <button type="button tableButton" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
				                        Action <span class="caret"></span>
				                      </button>
				                      <ul class="dropdown-menu" role="menu">
				                        <li><a href ng-click="compResultCtrl.showDetails(row);">Visualise</a></li>
				                        <li><a href ng-click="alert('To-Do...');">Contact</a></li>
				                      </ul>
				                    </div>
				                </td>    
				            </tr>
				    	</tbody>
				    	
					</table>
				</div>
			</tab>
		</tabset>
		<div style="min-height: 400px; margin-top: 20px; margin-bottom: 20px;" id="detailedResult"></div>
	</div>
</div>