<div ng-controller="ParamterController as paramCtrl">
	
	
	<accordion close-others="paramCtrl.oneAtATime">
	    <accordion-group heading="Analysis type" is-open="paramCtrl.status.isFirstOpen">
			<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 380px;">
				  <label class="btn btn-default" ng-model="paramCtrl.analysisType" btn-radio="'outlier'">Outlier</label>
  				  <label class="btn btn-default" ng-model="paramCtrl.analysisType" btn-radio="'gap'">Gap</label>
				  <label class="btn btn-default" ng-model="paramCtrl.analysisType" btn-radio="'threshold'">Threshold</label>
			
			</div>
				<div ng-show="paramCtrl.analysisType === 'threshold'"><br />
				<label for="threshold">Threshold low limit</label><br />
				<input style="width: 100px;" id="thresholdLow" class="selector" type="number" min="0" max="100000" ng-model="paramCtrl.thresholdLow"/><br />
				<label for="threshold">Threshold high limit</label><br />
				<input style="width: 100px;" id="thresholdHigh" class="selector" type="number" min="0" max="100000" ng-model="paramCtrl.thresholdHigh"/>
				<br />
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with values below <span style="font-size: 100%;" class="label label-primary">{{paramCtrl.thresholdLow}}</span> or above <span style="font-size: 100%;" class="label label-primary">{{paramCtrl.thresholdHigh}}</span> will be displayed.</p>	
			</div>
			
			
			<div ng-show="paramCtrl.analysisType === 'gap'"><br />
				<label for="threshold">Gap threshold (missing values)</label><br />
				<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 350px;">
				  	<label class="btn btn-info" ng-model="paramCtrl.gapLimit" btn-radio="1">1 or more</label>
				  	<label class="btn btn-warning" ng-model="paramCtrl.gapLimit" btn-radio="2">2 or more</label>
					<label class="btn btn-danger" ng-model="paramCtrl.gapLimit" btn-radio="3">3 or more</label>
				</div>
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with more than <span style="font-size: 100%;" class="label label-primary">{{paramCtrl.gapLimit}}</span> missing values be displayed. If a facility has no data in the selected period for the given variable, it is ignored.</p>	
			</div>
			
			
			<div ng-show="paramCtrl.analysisType === 'outlier'"><br />
				<label for="threshold">Standard deviations</label><br />
				<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 350px;">
				  		<label class="btn btn-warning" ng-model="paramCtrl.stdDev" btn-radio="2">Moderate (> 2 SD)</label>
						<label class="btn btn-danger" ng-model="paramCtrl.stdDev" btn-radio="3">Extreme (> 3 SD)</label>
				</div>
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with values more than <span style="font-size: 100%;" class="label label-primary">{{paramCtrl.stdDev}}</span> standard deviations from the mean will be displayed.</p>
			</div>	
	    </accordion-group>
	    
	    
	    <accordion-group heading="Data">
			<ui-select ng-disabled="paramCtrl.indicatorsSelected || paramCtrl.dataElementsSelected" ng-show="paramCtrl.analysisType === 'threshold'" ng-model="paramCtrl.dataSetsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
			  <ui-select-match placeholder="Select data set...">
			  	{{paramCtrl.dataSetsSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.dataSets | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			<ui-select ng-disabled="paramCtrl.indicatorsSelected || paramCtrl.dataSetsSelected" ng-model="paramCtrl.dataElementsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
			  <ui-select-match placeholder="Select data elements...">
			  	{{paramCtrl.dataElementsSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.dataElements | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			<ui-select ng-disabled="paramCtrl.dataSetsSelected || paramCtrl.dataElementsSelected" ng-show="paramCtrl.analysisType === 'threshold'" ng-model="paramCtrl.indicatorsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
			  <ui-select-match placeholder="Select indicators...">
			  	{{paramCtrl.indicatorsSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.indicators | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
			<div ng-show="!paramCtrl.dataSetsSelected && !paramCtrl.dataElementsSelected && !paramCtrl.dataSetsSelected">Select data for analysis.</div>
			<div ng-show="paramCtrl.dataSetsSelected || paramCtrl.dataElementsSelected || paramCtrl.indicatorsSelected">Will perform {{paramCtrl.analysisType}} analysis on <span style="font-size: 100%;" class="label label-primary" ng-show="paramCtrl.dataSetsSelected">{{paramCtrl.dataSetsSelected.name}} (completeness)</span><span style="font-size: 100%;" class="label label-primary" ng-show="paramCtrl.dataElementsSelected">{{paramCtrl.dataElementsSelected.name}}</span><span style="font-size: 100%;" class="label label-primary" ng-show="paramCtrl.indicatorsSelected">{{paramCtrl.indicatorsSelected.name}}</span></div>
	    </accordion-group>
	    
	    
	    <accordion-group heading="Period">
			<div class="btn-group" style="margin-bottom: 10px;">
				  <label class="btn btn-default" ng-model="paramCtrl.periodOption" btn-radio="'last'">Recent periods</label>
				  <label class="btn btn-default" ng-model="paramCtrl.periodOption" btn-radio="'year'">Periods in year</label>
				  <label class="btn btn-default" ng-model="paramCtrl.periodOption" btn-radio="'custom'">Custom range</label>
				</div>
			<div style="margin-bottom: 15px;" ng-show="paramCtrl.periodOption === 'last'">
			
			<label>Use the last...</label><br />
			<ui-select ng-model="paramCtrl.periodCountSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select number of periods...">
			  	{{paramCtrl.periodCountSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.periodCounts | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<ui-select ng-model="paramCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{paramCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
			
			
			
			<div style="margin-bottom: 15px;" ng-show="paramCtrl.periodOption === 'year'">
			<label>Use...</label><br />
			<ui-select ng-model="paramCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{paramCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<label>in</label>			
			<ui-select ng-model="paramCtrl.yearSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select year...">
			  	{{paramCtrl.yearSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.years | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			</div>
			<div ng-show="paramCtrl.periodOption === 'custom'">
			<label>Use...</label><br />
			<div style="margin-bottom: 10px;">
			<ui-select ng-model="paramCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{paramCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in paramCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
				</div>
				<div style="display: inline-block;"><label>From</label>
				<div style="min-height:290px;">
				        <datepicker ng-model="paramCtrl.date.startDate" class="well well-sm" starting-day="1" max-date="paramCtrl.date.endDate"></datepicker>
				</div></div>
				<div style="display: inline-block;"><label>To</label>
				<div style="min-height:290px;">
				        <datepicker ng-model="paramCtrl.date.endDate" min-date="paramCtrl.date.startDate" max-date="paramCtrl.currentDate" class="well well-sm" starting-day="1"></datepicker>
				</div>
				</div>
			</div>				
	    </accordion-group>
	    
	    <accordion-group heading="Orgunit" is-open="status.open">
		    <label for="orgunitSelect">Disaggregation</label>
			<div id="orgunitSelect">
				<ui-select ng-disabled="paramCtrl.orgunitGroupSelected" ng-model="paramCtrl.orgunitLevelSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
				  <ui-select-match placeholder="Select organisation unit level">
				  	{{paramCtrl.orgunitLevelSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in paramCtrl.orgunitLevels">
				   		<div ng-if="obj.level > paramCtrl.userOrgunits[0].level" ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
				
				<ui-select ng-disabled="paramCtrl.orgunitLevelSelected" ng-model="paramCtrl.orgunitGroupSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
					  <ui-select-match placeholder="Select organisation unit group">
					  	{{paramCtrl.orgunitGroupSelected.name}}
					  </ui-select-match>
					  <ui-select-choices 
					  	repeat="obj in paramCtrl.orgunitGroups | filter: $select.search">
					   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
					  </ui-select-choices>
				</ui-select>
			</div>
			
			<label for="orgunitSelected">Selected </label>
			<div id="orgunitSelected">
				<p ng-show="paramCtrl.orgunitLevelSelected"><span style="font-size: 100%;" class="label label-primary">{{paramCtrl.userOrgunitLabel}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{paramCtrl.orgunitLevelSelected.name}}</span></p>
				
				<p ng-show="paramCtrl.orgunitGroupSelected"><span style="font-size: 100%;" class="label label-primary">{{paramCtrl.userOrgunitLabel}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{paramCtrl.orgunitGroupSelected.name}}</span></p>
				
				<p ng-show="!paramCtrl.orgunitGroupSelected && !paramCtrl.orgunitLevelSelected"><span style="font-size: 100%;" class="label label-primary">{{paramCtrl.userOrgunitLabel}}</span></p>
			</div>
	    </accordion-group>
	  </accordion>
	  	
	<button ng-disabled="(!paramCtrl.dataElementsSelected && !paramCtrl.indicatorsSelected && !paramCtrl.dataSetsSelected)" type="button" class="btn btn-primary" ng-click="paramCtrl.doAnalysis();"> Analyze</button>
</div>