<div ng-controller="CompletenessParamterController as compParamCtrl">
	<accordion close-others="compParamCtrl.oneAtATime">
	
	    <accordion-group heading="Analysis type" is-open="compParamCtrl.status.isFirstOpen">
			<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 380px;">
				  <label class="btn btn-default" ng-model="compParamCtrl.analysisType" btn-radio="'outlier'">Outlier</label>
  				  <label class="btn btn-default" ng-model="compParamCtrl.analysisType" btn-radio="'gap'">Gap</label>
				  <label class="btn btn-default" ng-model="compParamCtrl.analysisType" btn-radio="'threshold'">Threshold</label>
			</div>
			
			<div ng-show="compParamCtrl.analysisType === 'threshold'"><br />
				<label for="threshold">Threshold low limit</label><br />
				<input style="width: 100px;" id="thresholdLow" class="selector" type="number" min="0" max="100000" ng-model="compParamCtrl.thresholdLow"/><br />
				<label for="threshold">Threshold high limit</label><br />
				<input style="width: 100px;" id="thresholdHigh" class="selector" type="number" min="0" max="100000" ng-model="compParamCtrl.thresholdHigh"/>
				<br />
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with values below <span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.thresholdLow}}</span> or above <span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.thresholdHigh}}</span> will be displayed.</p>	
			</div>
			
			
			<div ng-show="compParamCtrl.analysisType === 'gap'"><br />
				<label for="threshold">Gap threshold (missing values)</label><br />
				<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 380px;">
				  	<label class="btn btn-default" ng-model="compParamCtrl.gapLimit" btn-radio="1">1 or more</label>
				  	<label class="btn btn-warning" ng-model="compParamCtrl.gapLimit" btn-radio="2">2 or more</label>
					<label class="btn btn-danger" ng-model="compParamCtrl.gapLimit" btn-radio="3">3 or more</label>
				</div>
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with more than <span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.gapLimit}}</span> missing values be displayed.</p>	
			</div>
			
			
			<div ng-show="compParamCtrl.analysisType === 'outlier'"><br />
				<label for="threshold">Standard deviations</label><br />
				<div class="btn-group btn-group-justified" style="margin-bottom: 5px; max-width: 380px;">
						<label class="btn btn-default" ng-model="compParamCtrl.stdDev" btn-radio="1.5">Mild (1.5 SD)</label>
				  		<label class="btn btn-warning" ng-model="compParamCtrl.stdDev" btn-radio="2">Moderate (2 SD)</label>
						<label class="btn btn-danger" ng-model="compParamCtrl.stdDev" btn-radio="3">Extreme (3 SD)</label>
				</div>
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with values more than <span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.stdDev}}</span> standard deviations from the mean will be displayed.</p>
			</div>	
	    </accordion-group>
	    
	    
	    <accordion-group heading="Data">
	    	    	<div ng-show="compParamCtrl.analysisType === 'threshold' && compParamCtrl.dataDisaggregation === 0">
	    	<label>Data sets (completeness)</label><br />
			<ui-select ng-model="compParamCtrl.dataSetsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
			  <ui-select-match placeholder="Select data set...">
			  	{{$item.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.dataSets | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			  </ui-select>
			</div>
			
			
			<div>	
	    	<label>Data elements</label><br />
			<ui-select ng-model="compParamCtrl.dataElementGroupsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
			  <ui-select-match placeholder="Select data element group...">
			  	{{compParamCtrl.dataElementGroupsSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.dataElementGroups | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			<div class="btn-group btn-group-justified" style="margin-bottom: 10px; max-width: 380px;">
					<label class="btn btn-default" ng-model="compParamCtrl.dataDisaggregation" btn-radio="0">Totals</label>
			  		<label class="btn btn-default" ng-model="compParamCtrl.dataDisaggregation" btn-radio="1">Details</label>
			</div>
			<ui-select ng-if="compParamCtrl.dataElementGroupsSelected" ng-model="compParamCtrl.dataElementsSelected" multiple theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
			  <ui-select-match placeholder="{{compParamCtrl.dataElementPlaceholder}}">
			  	{{$item.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.dataElements | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			  </ui-select>
			</div>
			
			
			

			<div ng-show="compParamCtrl.analysisType != 'gap' && compParamCtrl.dataDisaggregation === 0">
	    	<label>Indicators</label><br />
	    	<ui-select ng-model="compParamCtrl.indicatorGroupsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
	    	  <ui-select-match placeholder="Select indicator group...">
	    	  	{{compParamCtrl.indicatorGroupsSelected.name}}
	    	  </ui-select-match>
	    	  <ui-select-choices
	    	  	repeat="obj in compParamCtrl.indicatorGroups | filter: $select.search">
	    	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	    	  </ui-select-choices>
	    	</ui-select>
	    	
			<ui-select ng-if="compParamCtrl.indicatorGroupsSelected" ng-model="compParamCtrl.indicatorsSelected" multiple theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
			  <ui-select-match placeholder="{{compParamCtrl.indicatorPlaceholder}}">
			  	{{$item.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.indicators | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
			
			
			
			
			
			<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
			<div ng-show="!compParamCtrl.dataSetsSelected && !compParamCtrl.dataElementsSelected && !compParamCtrl.dataSetsSelected">Select data for analysis.</div>
			<div ng-show="compParamCtrl.dataSetsSelected || compParamCtrl.dataElementsSelected || compParamCtrl.indicatorsSelected">Will perform {{compParamCtrl.analysisType}} analysis on <span style="font-size: 100%;" class="label label-primary" ng-show="compParamCtrl.dataSetsSelected">{{compParamCtrl.dataSetsSelected.name}} (completeness)</span><span style="font-size: 100%;" class="label label-primary" ng-show="compParamCtrl.dataElementsSelected">{{compParamCtrl.dataElementsSelected.name}}</span><span style="font-size: 100%;" class="label label-primary" ng-show="compParamCtrl.indicatorsSelected">{{compParamCtrl.indicatorsSelected.name}}</span></div>
	    </accordion-group>
	    
	    
	    
	    
	    
	    <accordion-group heading="Period">
			<div class="btn-group" style="margin-bottom: 10px;">
				  <label class="btn btn-default" ng-model="compParamCtrl.periodOption" btn-radio="'last'">Recent periods</label>
				  <label class="btn btn-default" ng-model="compParamCtrl.periodOption" btn-radio="'year'">Periods in year</label>
				  <label class="btn btn-default" ng-model="compParamCtrl.periodOption" btn-radio="'custom'">Custom range</label>
				</div>
			<div style="margin-bottom: 15px;" ng-show="compParamCtrl.periodOption === 'last'">
			
			<label>Use the last...</label><br />
			<ui-select ng-model="compParamCtrl.periodCountSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select number of periods...">
			  	{{compParamCtrl.periodCountSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.periodCounts | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<ui-select ng-model="compParamCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{compParamCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
			
			
			
			<div style="margin-bottom: 15px;" ng-show="compParamCtrl.periodOption === 'year'">
			<label>Use...</label><br />
			<ui-select ng-model="compParamCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{compParamCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<label>in</label>			
			<ui-select ng-model="compParamCtrl.yearSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select year...">
			  	{{compParamCtrl.yearSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.years | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			</div>
			<div ng-show="compParamCtrl.periodOption === 'custom'">
			<label>Use...</label><br />
			<div style="margin-bottom: 10px;">
			<ui-select ng-model="compParamCtrl.periodTypeSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 250px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{compParamCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in compParamCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
				</div>
				<div style="display: inline-block;"><label>From</label>
				<div style="min-height:290px;">
				        <datepicker ng-model="compParamCtrl.date.startDate" class="well well-sm" starting-day="1" max-date="compParamCtrl.date.endDate"></datepicker>
				</div></div>
				<div style="display: inline-block;"><label>To</label>
				<div style="min-height:290px;">
				        <datepicker ng-model="compParamCtrl.date.endDate" min-date="compParamCtrl.date.startDate" max-date="compParamCtrl.currentDate" class="well well-sm" starting-day="1"></datepicker>
				</div>
				</div>
			</div>				
	    </accordion-group>
	    
	    <accordion-group heading="Orgunit" is-open="status.open">
		    <label for="orgunitSelect">Disaggregation</label>
			<div id="orgunitSelect">
				<ui-select ng-disabled="compParamCtrl.orgunitGroupSelected" ng-model="compParamCtrl.orgunitLevelSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
				  <ui-select-match placeholder="Select organisation unit level">
				  	{{compParamCtrl.orgunitLevelSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in compParamCtrl.orgunitLevels">
				   		<div ng-if="obj.level > compParamCtrl.userOrgunits[0].level" ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
				
				<ui-select ng-disabled="compParamCtrl.orgunitLevelSelected" ng-model="compParamCtrl.orgunitGroupSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 380px;">
					  <ui-select-match placeholder="Select organisation unit group">
					  	{{compParamCtrl.orgunitGroupSelected.name}}
					  </ui-select-match>
					  <ui-select-choices 
					  	repeat="obj in compParamCtrl.orgunitGroups | filter: $select.search">
					   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
					  </ui-select-choices>
				</ui-select>
			</div>
			
			<label for="orgunitSelected">Selected </label>
			<div id="orgunitSelected">
				<p ng-show="compParamCtrl.orgunitLevelSelected"><span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.userOrgunitLabel}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.orgunitLevelSelected.name}}</span></p>
				
				<p ng-show="compParamCtrl.orgunitGroupSelected"><span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.userOrgunitLabel}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.orgunitGroupSelected.name}}</span></p>
				
				<p ng-show="!compParamCtrl.orgunitGroupSelected && !compParamCtrl.orgunitLevelSelected"><span style="font-size: 100%;" class="label label-primary">{{compParamCtrl.userOrgunitLabel}}</span></p>
				<br />
				<label><span style="font-size: 100%" class="glyphicon glyphicon-info-sign"></span>  Info</label>
				<p>Organisation units with no data for the selected variable in the given time period are not included in the result.</p>
			</div>
	    </accordion-group>
	  </accordion>
	  	
	<button ng-disabled="(!compParamCtrl.dataElementsSelected && !compParamCtrl.indicatorsSelected && !compParamCtrl.dataSetsSelected)" type="button" class="btn btn-primary" ng-click="compParamCtrl.doAnalysis();">Analyze</button>
</div>