<div ng-controller="DashboardController as dashCtrl">
	<div class="btn-group btn-group-justified" style="margin-bottom: 5px;">
		<label class="btn btn-default" ng-click="$( window ).resize();" ng-model="dashCtrl.analysisType" btn-radio="'comp'">Completeness</label>
		<label class="btn btn-default" ng-click="$( window ).resize();" ng-model="dashCtrl.analysisType" btn-radio="'yy'">Year-Over-Year</label>
		<label class="btn btn-default" ng-click="$( window ).resize();" ng-model="dashCtrl.analysisType" btn-radio="'out'">Outliers</label>
	</div>
		

		<div ng-class="{hideDiv: dashCtrl.analysisType != 'comp'}">
			<div style="display: inline-block; width: 100%;" ng-repeat="dataset in dashCtrl.dataSetsAvailable track by $index">
			
				<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;" id="compPE_{{dataset.id}}"><svg class="smallChart"></svg></div>
				
				<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;" id="compOU_{{dataset.id}}"><svg class="smallChart"></svg></div>
			</div>
		</div>
		
		
		
		<div ng-class="{hideDiv: dashCtrl.analysisType != 'yy'}">
		
			<div
				class="chartHolder"
				ng-repeat="data in dashCtrl.dataAvailable track by $index" 
				style="display: inline-block;" 
				id="yy_{{data.localData.id}}"
				ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}"
				>
				
				<svg class="smallChart"></svg>
				
			</div>
			
		</div>
		
		
		
		<div ng-class="{hideDiv: dashCtrl.analysisType != 'out'}">
		
			<div class="chartHolder" id="out_all"><svg class="bigChart"></svg></div>
			
			<div class="chartHolder" id="gap_all"><svg class="bigChart"></svg></div>
			
				
			<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;"  id="out_ou"><svg class="smallPie" ></svg></div>
			
			
			<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;" id="out_dx"><svg class="smallPie" ></svg></div>
		
			
			
			<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;"  id="gap_ou"><svg class="smallPie" ></svg></div>
			
			
			<div class="chartHolder" ng-class="{chartFull: dashCtrl.singleCol, chartHalf: !dashCtrl.singleCol}" style="display: inline-block;" id="gap_dx"><svg class="smallPie"></svg></div>	
		</div>
</div>