<div ng-controller="ReportResultController as repResCtrl" style="width: 100%;">
	<div ng-if="repResCtrl.ready">
		<table style="font-size: 90%;" class="table table-bordered table-condensed">
			<tr bgcolor="#f9f9f9">
			 	<th>Completeness</th><th>Data set</th><th>Overall Completeness</th><th># Units with poor score</th><th>% Units with poor score</th>
		    </tr>
		   	<tr ng-repeat="dataSet in repResCtrl.result.completeness.dataSets track by $index | orderBy:'label':false">
	    		<th width="40%" ng-if="$index === 0" rowspan="{{repResCtrl.result.completeness.dataSets.length}}">Completeness of facility reporting</th>
	    		<td>{{dataSet.label}}</td>
	    		<td class="valueCell">{{dataSet.level1}}%</td>
	    		<td class="valueCell">{{dataSet.level2c}}</td>
	    		<td class="valueCell">{{dataSet.level2p}}%</td>
	    	</tr>
	    </table>
	    
	    <table style="font-size: 90%;" class="table table-bordered table-condensed">
	    	<thead>
	    	<tr bgcolor="#f9f9f9">
	    	 	<th rowspan="2">Internal consistency</th><th rowspan="2">Indicator</th><th rowspan="2">Overall Score</th><th colspan="2">Units with poor score</th>
	        </tr>
	        <tr bgcolor="#f9f9f9"><th>Number</th><th>Percentage</th></tr>
	    	</thead>
	    	<tbody ng-repeat="section in repResCtrl.result.iConsistency track by $index">
	    		<tr ng-repeat="indicator in section.indicators | orderBy:'label':false">
	    			<td width="40%" ng-if="$index === 0" rowspan="{{section.indicators.length}}">
	    				<strong>{{section.label}}</strong>
	    				<br/>
	    				{{section.description}}
	    			</td>
	    			<td>{{indicator.label}}</td>
	    			<td class="valueCell">{{indicator.level1}}</td>
	    			<td class="valueCell">{{indicator.level2c}}</td>
	    			<td class="valueCell">{{indicator.level2p}}%</td>
	    		</tr>
			</tbody>
		</table>
	</div>
	<alert style="margin-top: 10px; margin-bottom: 10px;"ng-repeat="alert in repResCtrl.result.alerts track by $index" type="{{alert.type}}" close="repResCtrl.result.alerts.splice($index, 1)">{{alert.msg}}</alert>
</div>