<div class="no-print" ng-controller="ReportParametersController as repParamCtrl">
	<div ng-if="!repParamCtrl.notPossible">
	<span style="white-space:nowrap;"><label>Year:</label>
	<ui-select ng-model="repParamCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
	  <ui-select-match placeholder="Select year...">
	  	{{repParamCtrl.yearSelected.name}}
	  </ui-select-match>
	  <ui-select-choices 
	  	repeat="obj in repParamCtrl.years | filter: $select.search">
	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	  </ui-select-choices>
	</ui-select></span>
	<span style="white-space:nowrap;"><label>Level:</label>
	<ui-select ng-model="repParamCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 200px; display: inline-block;">
	  <ui-select-match placeholder="Select level...">
	  	{{repParamCtrl.orgunitLevelSelected.name}}
	  </ui-select-match>
	  <ui-select-choices 
	  	repeat="obj in repParamCtrl.orgunitLevels | filter: $select.search">
	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	  </ui-select-choices>
	</ui-select></span>
	<span style="white-space:nowrap;"><label>Group:</label>
	<ui-select ng-model="repParamCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
	  <ui-select-match placeholder="Select group...">
	  	{{repParamCtrl.groupSelected.name}}
	  </ui-select-match>
	  <ui-select-choices 
	  	repeat="obj in repParamCtrl.groups | filter: $select.search">
	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	  </ui-select-choices>
	</ui-select></span>
	<button  ng-disabled="!self.userOrgunit && !repParamCtrl.orgunitLevelSelected && !repParamCtrl.groupSelected" style="display: inline-block;" class="btn btn-primary pull-right" ng-click="repParamCtrl.doAnalysis();">Generate</button>
	</div>
	<div ng-if="repParamCtrl.notPossible">
	<p>Annual review not possible for the facility level.</p>
	</div>
	<hr />
</div>