	<h3>Annual Data Quality Review</h3>

<div class="no-print" ng-if="!revCtrl.notPossible">
<span style="white-space:nowrap;"><label>Year:</label>
<ui-select ng-model="revCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
  <ui-select-match placeholder="Select year...">
  	{{revCtrl.yearSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.years | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Level:</label>
<ui-select ng-model="revCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select level...">
  	{{revCtrl.orgunitLevelSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.orgunitLevels | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Group:</label>
<ui-select ng-model="revCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select group...">
  	{{revCtrl.groupSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.groups | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<button  ng-disabled="!self.userOrgunit && !revCtrl.orgunitLevelSelected && !revCtrl.groupSelected" style="display: inline-block;" class="btn btn-primary pull-right" ng-click="revCtrl.doAnalysis();">Generate</button>
</div>
<div ng-if="revCtrl.notPossible">
<p>Annual review not possible for the facility level.</p>
</div>
<hr />

<tabset ng-if="revCtrl.completeness">
<tab heading="Summary">
<div>
	<h4>Completeness</h4>
	<em>1) Completeness of facility reporting.</em> The percentage of expected reports that have been entered and completed.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th>Dataset</th><th>Overall score (%)</th><th># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th><th>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	    </tr>
	 	<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy : 'name'">
    		<td>{{dataset.name}}</td>
    		<td class="valueCell">{{dataset.boundary}}%</td>
    		<td class="valueCell">{{dataset.count}}</td>
    		<td class="valueCell">{{dataset.percent}}%</td>
    	</tr>
    	</tbody>
    </table>
	<em>2) Completeness of indicator data (missing or zero values)</em>
    {{self.completeness.indicators}}
    <table style="font-size: 90%;" class="table table-bordered table-condensed">
    		<tbody>
    
    		<tr bgcolor="#f9f9f9">
    		 	<th>Dataset</th><th>Overall score (%)</th><th># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th><th>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    	    </tr>	    
    	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
        		<td>{{indicator.name}}</td>
        		<td class="valueCell">{{indicator.boundary}}%</td>
        		<td class="valueCell">{{indicator.count}}</td>
        		<td class="valueCell">{{indicator.percent}}%</td>
        	</tr>
        	</tbody>
        </table>
    
	<em>3) Consistency of dataset completeness over time. </em>Completeness of datasets in {{revCtrl.yearSelected.id}} compared to previous three years.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th>Dataset</th><th>Overall score (%)</th><th># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th><th>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	    </tr>	    
	   	<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy:'name'">
    		<td>{{dataset.name}}</td>
    		<td class="valueCell">{{dataset.boundaryTrend}}%</td>
    		<td class="valueCell">{{dataset.countTrend}}</td>
    		<td class="valueCell">{{dataset.percentTrend}}%</td>
    	</tr>
    	</tbody>
    </table>
    <hr />
	<h4>Internal consistency</h4>
    
    
</div>
</tab>
<tab heading="Completeness">
<div>
<h4>Completeness of facility reporting</h4>
<em>1) Completeness of facility reporting.</em><br />The percentage of expected reports that have been entered and completed.
<table style="font-size: 90%;" class="table table-bordered table-condensed">
	<tbody>
	<tr bgcolor="#f9f9f9">
	 	<th width="150">Dataset</th>
	 	<th width="250">Indicator</th>
	 	<th width="50">{{revCtrl.yearSelected.name}}</th>
	 	<th>Names</th>
    </tr>
    <tbody ng-repeat="dataset in revCtrl.completeness.datasets| orderBy:'name':false">
  	<tr >
		<td rowspan="3">{{dataset.name}}</td>
		<td>Overall score (%)</td>
		<td class="valueCell">{{dataset.boundary}}%</td>
		<td rowspan="3">{{dataset.names.join(', ')}}.</td>
	</tr>
	<tr>
		<td># {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.count}}</td>	
	</tr>
	<tr>
		<td>% {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.percent}}%</td>	
	</tr>
	</tbody>
	</table>
	<h5>Interpretations</h5>
	<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 50px;"></textarea>

<em>2) Completeness of indicator data (missing/zero values).</em>
<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th>Indicator</th><th>Threshold</th><th>Overall score (%)</th><th># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th><th>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th>Names</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
    		<td>{{indicator.name}}</td>
    		<td>{{indicator.threshold}}</td>
    		<td class="valueCell">{{indicator.boundary}}%</td>
    		<td class="valueCell">{{indicator.count}}</td>
    		<td class="valueCell">{{indicator.percent}}%</td>
    		<td class="valueCell">{{indicator.names.join(', ')}}</td>
    	</tr>
    	</tbody>
    </table>

<h5>Interpretations</h5>
<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 50px;"></textarea>
<br />

<em>3) Consistency of dataset completeness over time.</em><br />Difference between the current year completeness and either the average of the 3 preceding years (if expected trend is constant), or the forecasted value.
<table style="font-size: 90%;" class="table table-bordered table-condensed">
<tr bgcolor="#f9f9f9">
<th>Dataset</th>
<th>Expected trend</th>
<th>Quality threshold</th>
<th>Overall score (%)</th>
<th># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
<th>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
<th>Names</th>
</tr>
<tr ng-repeat="dataset in revCtrl.completeness.datasets| orderBy:'name':false">
<td>{{dataset.name}}</td>
<td>{{dataset.trend}}</td>
<td class="valueCell">{{dataset.consistencyThreshold}}%</td>
<td class="valueCell">{{dataset.boundaryTrend}}%</td>
<td class="valueCell">{{dataset.countTrend}}</td>
<td class="valueCell">{{dataset.percentTrend}}%</td>
<td>{{dataset.namesTrend.join(', ')}}</td>
</tr>


</table>


<br />
<h5>Interpretations</h5>
<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 50px;"></textarea>
<h5>[Chart]</h5>
	
	
</div>
</tab>

<tab heading="Internal Consistency">
</tab>
</tabset>
<alert style="margin-top: 10px; margin-bottom: 10px;"ng-repeat="alert in revCtrl.result.alerts track by $index" type="{{alert.type}}" close="revCtrl.result.alerts.splice($index, 1)">{{alert.msg}}</alert>