	<h3>Annual Data Quality Review</h3>

<div class="no-print" ng-if="!revCtrl.notPossible">
<span style="white-space:nowrap;"><label>Year:</label>
<ui-select ng-model="revCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
  <ui-select-match placeholder="Select year...">
  	{{revCtrl.yearSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.years | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Level:</label>
<ui-select ng-model="revCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select level...">
  	{{revCtrl.orgunitLevelSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.orgunitLevels | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Group:</label>
<ui-select ng-model="revCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select group...">
  	{{revCtrl.groupSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.groups | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<button  ng-disabled="!self.userOrgunit && !revCtrl.orgunitLevelSelected && !revCtrl.groupSelected" style="display: inline-block;" class="btn btn-primary pull-right" ng-click="revCtrl.doAnalysis();">Generate</button>
</div>
<div ng-if="revCtrl.notPossible">
<p>Annual review not possible for the facility level.</p>
</div>
<hr />

<tabset>
<tab heading="Summary">
<br />
<div>
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>
		
		<tr bgcolor="#f9f9f9">
		 	<th>Completeness</th><th>Data set</th><th>Overall Completeness</th><th># Units with poor score</th><th>% Units with poor score</th>
	    </tr>
	    
	    <tr ng-if="!revCtrl.completeness"><td colspan="5">Reporting completeness from the facility - the percentage of expected reports that have been entered and completed.</td></tr>
	    
	    
	   	<tr ng-repeat="dataset in revCtrl.completeness.datasets track by $index | orderBy:'label':false">
    		<td width="40%" ng-if="$index === 0" rowspan="{{revCtrl.completeness.datasets.length}}"><em>Completeness of facility reporting.</em><br />The percentage of expected reports that have been entered and completed.</th>
    		<td>{{dataset.name}}</td>
    		<td class="valueCell">{{dataset.boundary}}%</td>
    		<td class="valueCell">{{dataset.count}}</td>
    		<td class="valueCell">{{dataset.percent}}%</td>
    	</tr>
    	</tbody>
    </table>
    
    <!--<table style="font-size: 90%;" class="table table-bordered table-condensed">
    	<thead>
    	<tr bgcolor="#f9f9f9">
    	 	<th rowspan="2">Internal consistency</th><th rowspan="2">Indicator</th><th rowspan="2">Overall Score</th><th colspan="2">Units with poor score</th>
        </tr>
        <tr bgcolor="#f9f9f9"><th>Number</th><th>Percentage</th></tr>
    	</thead>
    	<tbody ng-repeat="section in revCtrl.result.iConsistency track by $index">
    		<tr ng-repeat="indicator in section.indicators | orderBy:'label':false">
    			<td width="40%" ng-if="$index === 0" rowspan="{{section.indicators.length}}">
    				<strong>{{section.label}}</strong>
    				<br/>
    				{{section.description}}
    			</td>
    			<td>{{indicator.label}}</td>
    			<td class="valueCell">{{indicator.level1}}</td>
    			<td class="valueCell">{{indicator.level2c}}</td>
    			<td class="valueCell">{{indicator.level2p}}%</td>
    		</tr>
		</tbody>
	</table>-->
</div>
</tab>
<tab heading="Completeness">
<h4>Completeness of facility reporting</h4>
<table style="font-size: 90%;" class="table table-bordered table-condensed">
	<tbody>
	<tr bgcolor="#f9f9f9">
	 	<th width="150">Dataset</th>
	 	<th width="250">Indicator</th>
	 	<th width="50">{{revCtrl.yearSelected.name}}</th>
	 	<th>Names</th>
    </tr>
    <tbody ng-repeat="dataset in revCtrl.completeness.datasets track by $index| orderBy:'label':false">
  	<tr >
		<th rowspan="3">{{dataset.name}}</td>
		<td>National completeness</td>
		<td class="valueCell">{{dataset.boundary}}%</td>
		<td rowspan="3">{{dataset.names.join(', ')}}.</td>
	</tr>
	<tr>
		<td># units with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.count}}</td>	
	</tr>
	<tr>
		<td>% units with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.percent}}%</td>	
	</tr>
	</tbody>
	
	
	
	
	<!--<tr ng-repeat="dataset in revCtrl.completeness.datasets track by $index | orderBy:'label':false">
		<th width="40%" ng-if="$index === 0" rowspan="{{revCtrl.completeness.datasets.length}}">Number of districts with completeness below {{dataset.threshold}}%</th>
		<td>{{dataset.name}}</td>
		<td class="valueCell">{{dataset.count}}</td>
	</tr>
	<tr ng-repeat="dataset in revCtrl.completeness.datasets track by $index | orderBy:'label':false">
		<th width="40%" ng-if="$index === 0" rowspan="{{revCtrl.completeness.datasets.length}}">Percentage of districts with completeness below {{dataset.threshold}}%</th>
		<td>{{dataset.name}}</td>
		<td class="valueCell">{{dataset.percent}}</td>
	</tr>
	<tr ng-repeat="dataset in revCtrl.completeness.datasets track by $index | orderBy:'label':false">
		<td>{{dataset.name}}</td>
		<td colspan="2" class="valueCell">{{dataset.names.join(', ')}}</td>
	</tr>-->
	</tbody>
</table>
</tab>

<tab heading="Internal Consistency">
</tab>
</tabset>
<alert style="margin-top: 10px; margin-bottom: 10px;"ng-repeat="alert in revCtrl.result.alerts track by $index" type="{{alert.type}}" close="revCtrl.result.alerts.splice($index, 1)">{{alert.msg}}</alert>