	<h3>Annual Data Quality Review</h3>

<div class="no-print" ng-if="!revCtrl.notPossible">
<span style="white-space:nowrap;"><label>Year:</label>
<ui-select ng-model="revCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
  <ui-select-match placeholder="Select year...">
  	{{revCtrl.yearSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.years | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Level:</label>
<ui-select ng-model="revCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select level...">
  	{{revCtrl.orgunitLevelSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.orgunitLevels | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<span style="white-space:nowrap;"><label>Group:</label>
<ui-select ng-model="revCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
  <ui-select-match placeholder="Select group...">
  	{{revCtrl.groupSelected.name}}
  </ui-select-match>
  <ui-select-choices 
  	repeat="obj in revCtrl.groups | filter: $select.search">
   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select></span>
<button  ng-disabled="!self.userOrgunit && !revCtrl.orgunitLevelSelected && !revCtrl.groupSelected" style="display: inline-block;" class="btn btn-primary pull-right" ng-click="revCtrl.doAnalysis();">Generate</button>
</div>
<div ng-if="revCtrl.notPossible">
<p>Annual review not possible for the facility level.</p>
</div>
<hr />

<tabset ng-if="revCtrl.completeness">
<tab heading="Summary">
<div>
	<h4>1 Completeness</h4>
	<em>1a Completeness of facility reporting.</em> The percentage of expected reports that have been entered and completed.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="275">Dataset</th>
		 	<th width="175">Overall score (%)</th>
		 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	    </tr>
	 	<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy : 'name'">
    		<td>{{dataset.name}}</td>
    		<td class="valueCell">{{dataset.boundary}}%</td>
    		<td class="valueCell">{{dataset.count}}</td>
    		<td class="valueCell">{{dataset.percent}}%</td>
    	</tr>
    	</tbody>
    </table>
	<em>1b Completeness of indicator data (missing or zero values)</em>
    {{self.completeness.indicators}}
    <table style="font-size: 90%;" class="table table-bordered table-condensed">
    		<tbody>
    
    		<tr bgcolor="#f9f9f9">
    		 	<th width="275">Dataset</th>
    		 	<th width="175">Overall score (%)</th>
    		 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    		 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    	    </tr>	    
    	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
        		<td>{{indicator.name}}</td>
        		<td class="valueCell">{{indicator.boundary}}%</td>
        		<td class="valueCell">{{indicator.count}}</td>
        		<td class="valueCell">{{indicator.percent}}%</td>
        	</tr>
        	</tbody>
        </table>
    
	<em>1c Consistency of dataset completeness over time. </em>Completeness of datasets in {{revCtrl.yearSelected.id}} compared to previous three years.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="275">Dataset</th>
		 	<th width="175">Overall score (%)</th>
		 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	    </tr>	    
	   	<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy:'name'">
    		<td>{{dataset.name}}</td>
    		<td class="valueCell">{{dataset.boundaryTrend}}%</td>
    		<td class="valueCell">{{dataset.countTrend}}</td>
    		<td class="valueCell">{{dataset.percentTrend}}%</td>
    	</tr>
    	</tbody>
    </table>
    <br />
    <hr />
    <br />
	<h4>2 Internal consistency</h4>
	<em>2a Extreme outliers.</em>
    <table style="font-size: 90%;" class="table table-bordered table-condensed">
    		<tbody>
    		<tr bgcolor="#f9f9f9">
    		 	<th width="275">Indicator</th>
    		 	<th width="175">Overall score (%)</th>
    		 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    		 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    	    </tr>	    
    	   	<tr ng-repeat="indicator in revCtrl.consistency.outliers | orderBy:'name'">
        		<td>{{indicator.name}}</td>
        		<td class="valueCell">{{indicator.boundaryExtreme}}%</td>
        		<td class="valueCell">{{indicator.countExtreme}}</td>
        		<td class="valueCell">{{indicator.percentExtreme}}%</td>
        	</tr>
        	</tbody>
        </table>
	<em>2b Moderate outliers.</em> Outliers relative to the mean.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>
		<tr bgcolor="#f9f9f9">
		 	<th width="275">Indicator</th>
		 	<th width="175">Overall score (%)</th>
		 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.consistency.outliers | orderBy:'name'">
    		<td>{{indicator.name}}</td>
    		<td class="valueCell">{{indicator.boundaryModerate}}%</td>
    		<td class="valueCell">{{indicator.countModerate}}</td>
    		<td class="valueCell">{{indicator.percentModerate}}%</td>
    	</tr>
    	</tbody>
    </table>
    <em>2c Moderate outliers.</em> Outliers relative to the median (modified Z-score > 3.5).
    <table style="font-size: 90%;" class="table table-bordered table-condensed">
    	<tbody>
    	<tr bgcolor="#f9f9f9">
    	 	<th width="275">Indicator</th>
    	 	<th width="175">Overall score (%)</th>
    	 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    	 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
        </tr>	    
       	<tr ng-repeat="indicator in revCtrl.consistency.outliers | orderBy:'name'">
    		<td>{{indicator.name}}</td>
    		<td class="valueCell">{{indicator.boundaryZscore}}%</td>
    		<td class="valueCell">{{indicator.countZscore}}</td>
    		<td class="valueCell">{{indicator.percentZscore}}%</td>
    	</tr>
    	</tbody>
    </table>
    <em>2d Consistency over time.</em>
    <table style="font-size: 90%;" class="table table-bordered table-condensed">
	<tbody>

	<tr bgcolor="#f9f9f9">
	 	<th width="275">Indicator</th>
	 	<th width="175">Overall score (%)</th>
	 	<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
	 	<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
    </tr>	    
   	<tr ng-repeat="indicator in revCtrl.consistency.consistency | orderBy:'name'">
		<td>{{indicator.name}}</td>
		<td class="valueCell">{{indicator.boundaryConsistency}}%</td>
		<td class="valueCell">{{indicator.consistencyCount}}</td>
		<td class="valueCell">{{indicator.consistencyPercent}}%</td>
	</tr>
	</tbody>
</table>
    
</div>
</tab>
<tab heading="Completeness">
<div>
<br />
<em>1a  Completeness of facility reporting.</em><br />The percentage of expected reports that have been entered and completed.
<table style="font-size: 90%;" class="table table-bordered table-condensed">
	<tbody>
	<tr bgcolor="#f9f9f9">
	 	<th width="200">Dataset</th>
	 	<th width="260">Indicator</th>
	 	<th width="80">{{revCtrl.yearSelected.name}}</th>
	 	<th>Names</th>
    </tr>
    <tbody ng-repeat="dataset in revCtrl.completeness.datasets| orderBy:'name':false">
  	<tr >
		<td rowspan="3">{{dataset.name}}</td>
		<td>Overall score (%)</td>
		<td class="valueCell">{{dataset.boundary}}%</td>
		<td rowspan="3">{{dataset.names.join(', ')}}.</td>
	</tr>
	<tr>
		<td># {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.count}}</td>	
	</tr>
	<tr>
		<td>% {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
		<td class="valueCell">{{dataset.percent}}%</td>	
	</tr>
	</tbody>
	</table>
	<h5>Interpretations</h5>
	<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 50px;"></textarea>

<em>1b  Completeness of indicator data (missing/zero values).</em>
<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="200">Indicator</th>
		 	<th width="80">Threshold</th>
		 	<th width="80">Overall score (%)</th>
		 	<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th>Names</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
    		<td>{{indicator.name}}</td>
    		<td>{{indicator.missing}}%</td>
    		<td class="valueCell">{{indicator.boundary}}%</td>
    		<td class="valueCell">{{indicator.count}}</td>
    		<td class="valueCell">{{indicator.percent}}%</td>
    		<td class="valueCell">{{indicator.names.join(', ')}}</td>
    	</tr>
    	</tbody>
    </table>

<h5>Interpretations</h5>
<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 50px;"></textarea>
<br />

<em>1c  Consistency of dataset completeness over time.</em><br />Difference between the current year completeness and either the average of the 3 preceding years (if expected trend is constant), or the forecasted value.
<table style="font-size: 90%;" class="table table-bordered table-condensed">
<tr bgcolor="#f9f9f9">
<th width="200">Dataset</th>
<th width="80">Expected trend</th>
<th width="80">Quality threshold</th>
<th width="80">Overall score (%)</th>
<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
<th>Names</th>
</tr>
<tr ng-repeat="dataset in revCtrl.completeness.datasets| orderBy:'name':false">
<td>{{dataset.name}}</td>
<td>{{dataset.trend}}</td>
<td class="valueCell">{{dataset.consistencyThreshold}}%</td>
<td class="valueCell">{{dataset.boundaryTrend}}%</td>
<td class="valueCell">{{dataset.countTrend}}</td>
<td class="valueCell">{{dataset.percentTrend}}%</td>
<td>{{dataset.namesTrend.join(', ')}}</td>
</tr>


</table>


<br />
<h5>Interpretations</h5>
<textarea style="width: 100%; height: 150px; list-style: outside; margin-bottom: 20px;"></textarea>
<div class="chartHolder chartFull" id="completeness"><svg class="bigChart"></svg></div>
</div>
</tab>

<tab heading="Internal Consistency">
<br />
<em>2a  Extreme outliers.</em>
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="200">Indicator</th>
		 	<th width="80">Threshold</th>
		 	<th width="80">Overall score (%)</th>
		 	<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th>Names</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
    		<td>{{indicator.name}}</td>
    		<td class="valueCell">{{indicator.extremeOutlier}} SD</td>
    		<td class="valueCell">{{indicator.boundaryExtreme}}%</td>
    		<td class="valueCell">{{indicator.countExtreme}}</td>
    		<td class="valueCell">{{indicator.percentExtreme}}%</td>
    		<td class="valueCell">{{indicator.namesExtreme.join(', ')}}</td>
    	</tr>
    	</tbody>
    </table>

<em>2b  Moderate outliers.</em>
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="200">Indicator</th>
		 	<th width="80">Threshold</th>
		 	<th width="80">Overall score (%)</th>
		 	<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th>Names</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
    		<td>{{indicator.name}}</td>
    		<td class="valueCell">{{indicator.extremeOutlier}} SD</td>
    		<td class="valueCell">{{indicator.boundaryModerate}}%</td>
    		<td class="valueCell">{{indicator.countModerate}}</td>
    		<td class="valueCell">{{indicator.percentModerate}}%</td>
    		<td class="valueCell">{{indicator.namesModerate.join(', ')}}</td>
    	</tr>
    	</tbody>
    </table>

<em>2c  Moderate outliers.</em> Based on median (modified Z score).
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tbody>

		<tr bgcolor="#f9f9f9">
		 	<th width="200">Indicator</th>
		 	<th width="80">Threshold</th>
		 	<th width="80">Overall score (%)</th>
		 	<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		 	<th>Names</th>
	    </tr>	    
	   	<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'name'">
    		<td>{{indicator.name}}</td>
    		<td class="valueCell">3.5</td>
    		<td class="valueCell">{{indicator.boundaryZscore}}%</td>
    		<td class="valueCell">{{indicator.countZscore}}</td>
    		<td class="valueCell">{{indicator.percentZscore}}%</td>
    		<td class="valueCell">{{indicator.namesZscore.join(', ')}}</td>
    	</tr>
    	</tbody>
    </table>
	<em>2d  Consistency of indicator values over time.</em><br />Difference between the current year and either the average of the 3 preceding years (if expected trend is constant), or the forecasted value.
	<table style="font-size: 90%;" class="table table-bordered table-condensed">
		<tr bgcolor="#f9f9f9">
		<th width="200">Indicator</th>
		<th width="80">Expected trend</th>
		<th width="80">Quality threshold</th>
		<th width="80">Overall score (%)</th>
		<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
		<th>Names</th>
		</tr>
		<tr ng-repeat="indicator in revCtrl.consistency.consistency | orderBy:'name'">
			<td>{{indicator.name}}</td>
			<td>{{indicator.trend}}</td>
			<td class="valueCell">{{indicator.consistency}}%</td>
			<td class="valueCell">{{indicator.boundaryConsistency}}%</td>
			<td class="valueCell">{{indicator.consistencyCount}}</td>
			<td class="valueCell">{{indicator.consistencyPercent}}%</td>
			<td>{{indicator.consistencyNames.join(', ')}}</td>
		</tr>
	</table>


</tab>
</tabset>
<alert style="margin-top: 10px; margin-bottom: 10px;"ng-repeat="alert in revCtrl.result.alerts track by $index" type="{{alert.type}}" close="revCtrl.result.alerts.splice($index, 1)">{{alert.msg}}</alert>