.container {
    height: auto;
    margin-bottom: var(--spacers-dp16);
    display: flex;
}

.container .card {
    padding: var(--spacers-dp16) var(--spacers-dp8);
    display: flex;
    flex-wrap: wrap;
}

.segment {
    margin: 0 var(--spacers-dp8);
}
