<h4 style="margin-top: 20px;">Outliers and Missing Data</h4>


<!-- PARAMETERS -->
<accordion close-others="aCtrl.oneAtATime">


	<!-- DATA -->
    <accordion-group heading="Data" is-open="aCtrl.status.isFirstOpen">
    
    				
		<!-- DATA SETS -->
		<div>
		<label>Data set</label><br />
		<ui-select ng-model="aCtrl.datasetSelected"  style="margin-bottom: 10px; max-width: 470px;">
		  <ui-select-match placeholder="Select data set...">
		  	{{aCtrl.datasetSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.datasets | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		</ui-select-choices>
		</ui-select>
		</div>
		
		
		<!-- DATA ELEMENTS -->
		<div ng-if="!aCtrl.datasetSelected">
		<div style="display: inline-block;">
    	<label>Data elements</label><br />
		<ui-select ng-model="aCtrl.dataElementGroupsSelected"  style="margin-bottom: 10px; width: 330px;">
		  <ui-select-match placeholder="Select data element group...">
		  	{{aCtrl.dataElementGroupsSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.dataElementGroups | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		</ui-select-choices>
		</ui-select>
		</div>
		<div class="btn-group btn-group-justified" style="width: 120px; display: inline-block;">
				<label class="btn btn-default" ng-model="aCtrl.dataDisaggregation" btn-radio="0">Totals</label>
		  		<label class="btn btn-default" ng-model="aCtrl.dataDisaggregation" btn-radio="1">Details</label>
		</div>
		
		<ui-select multiple ng-if="aCtrl.dataElementGroupsSelected" ng-disabled="!aCtrl.dataElements" ng-model="aCtrl.dataElementsSelected" theme="bootstrap" style="margin-bottom: 10px; max-width: 470px;">
		  <ui-select-match placeholder="{{aCtrl.dataElementPlaceholder}}">
			  {{$item.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.dataElements | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		  </ui-select>
		</div>
		
		
		<!-- INDICATORS -->
		<div ng-if="!aCtrl.datasetSelected && aCtrl.dataDisaggregation === 0">
    	<label>Indicators</label><br />
    	<ui-select ng-model="aCtrl.indicatorGroupsSelected"  style="margin-bottom: 10px; max-width: 470px;">
    	  <ui-select-match placeholder="Select indicator group...">
    	  	{{aCtrl.indicatorGroupsSelected.name}}
    	  </ui-select-match>
    	  <ui-select-choices
    	  	repeat="obj in aCtrl.indicatorGroups | filter: $select.search">
    	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
    	  </ui-select-choices>
    	</ui-select>
    	
		<ui-select multiple ng-if="aCtrl.indicatorGroupsSelected" ng-disabled="!aCtrl.indicators" ng-model="aCtrl.indicatorsSelected"  style="margin-bottom: 10px; max-width: 470px;">
		  <ui-select-match placeholder="{{aCtrl.indicatorPlaceholder}}">
		  	{{$item.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.indicators | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
		</div>
    </accordion-group>
           
           
    <!-- PERIOD -->
    <accordion-group heading="Period">
		<div class="btn-group btn-group-justified" style="margin-bottom: 10px; width: 306px;">
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'last'">Recent</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'year'">By year</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'custom'">Custom</label>
			</div>
			
		
		<!-- RECENT -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'last'">
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodCountSelected"  style="margin-bottom: 10px; width: 106px;">
				  <ui-select-match placeholder="Select number of periods...">
				  	{{aCtrl.periodCountSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodCounts | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
				  <ui-select-match placeholder="Select period type...">
				  	{{aCtrl.periodTypeSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
		</div>
		
		
		<!-- BY YEAR -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'year'">
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{aCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
					
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.yearSelected"  style="margin-bottom: 10px; width: 106px;">
			  <ui-select-match placeholder="Select year...">
			  	{{aCtrl.yearSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.years | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
		</div>		
		
		<!-- CUSTOM -->
		<div ng-show="aCtrl.periodOption === 'custom'">
		<div style="margin-bottom: 10px;">
		<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 306px;">
		  <ui-select-match placeholder="Select period type...">
		  	{{aCtrl.periodTypeSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
		
			</div>
			<div style="display: inline-block;"><label>From</label>
			<div style="min-height:290px;">
			        <datepicker ng-model="aCtrl.date.startDate" class="well well-sm" starting-day="1" max-date="aCtrl.date.endDate"></datepicker>
			</div></div>
			<div style="display: inline-block;"><label>To</label>
			<div style="min-height:290px;">
			        <datepicker ng-model="aCtrl.date.endDate" min-date="aCtrl.date.startDate" max-date="aCtrl.currentDate" class="well well-sm" starting-day="1"></datepicker>
			</div>
			</div>
		</div>				
    </accordion-group>
    
    <!-- ORGUNIT -->
    <accordion-group heading="Orgunit" is-open="status.open">
    	<label>Boundary</label><br />
    	<div class="btn-group" style="margin-bottom: 10px; max-width: 400px;">
    	  	<label ng-repeat="orgunit in aCtrl.userOrgunits track by $index" class="btn btn-default" ng-model="aCtrl.boundarySelectionType" btn-radio="$index">{{orgunit.name}}</label>
    	  	<label class="btn btn-default" ng-model="aCtrl.boundarySelectionType" btn-radio="aCtrl.userOrgunits.length">Search</label>
    	</div>
		<br />	  
		<div ng-show="aCtrl.userOrgunits.length === aCtrl.boundarySelectionType" style="margin-bottom: 10px;">
		
	    	<ui-select 
	    		style="margin-bottom: 10px; width: 470px;" 
	    		ng-model="aCtrl.boundaryOrgunitSelected" 
	    		on-select="aCtrl.filterLevels()">
	    	<ui-select-match placeholder="Search for organisation unit...">
	    		{{aCtrl.boundaryOrgunitSelected.name}}
	    	</ui-select-match>
	    	<ui-select-choices 
	    		refresh="aCtrl.orgunitSearch($select.search)" 
	    		refresh-delay="500" 
	    		repeat="ou in aCtrl.ouSearchResult | filter: $select.search">
	    		<div ng-bind-html="ou.name | highlight: $select.search"></div>
	    	</ui-select-choices>
	    	</ui-select>
	    	
		</div>  		    	
		
	<!-- DISAGGREGATION -->
       <label for="orgunitSelect">Disaggregation</label>
		<div id="orgunitSelect">
			<ui-select ng-disabled="aCtrl.orgunitGroupSelected" ng-model="aCtrl.orgunitLevelSelected"  style="margin-bottom: 10px; max-width: 470px;">
			  <ui-select-match placeholder="{{aCtrl.getLevelPlaceholder();}}">
			  	{{aCtrl.orgunitLevelSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.filteredOrgunitLevels | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			<ui-select ng-disabled="aCtrl.orgunitLevelSelected" ng-model="aCtrl.orgunitGroupSelected"  style="margin-bottom: 10px; max-width: 470px;">
				  <ui-select-match placeholder="Select organisation unit group">
				  	{{aCtrl.orgunitGroupSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.orgunitGroups | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
			</ui-select>
		</div>
		
		
		<!-- CURRENT SELECTION -->
		<label for="orgunitSelected">Selected </label>
		<div id="orgunitSelected">
			<p><span style="font-size: 100%;" class="label label-primary">{{aCtrl.boundaryOrgunitSelected.name}}{{aCtrl.boundaryOrgunitSelected.text}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{aCtrl.orgunitLevelSelected.name}}</span></p>
			
			<p ng-show="aCtrl.orgunitGroupSelected"><span style="font-size: 100%;" class="label label-primary">{{aCtrl.userOrgunitLabel}}</span><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{aCtrl.orgunitGroupSelected.name}}</span></p>
			
			<p ng-show="!aCtrl.orgunitGroupSelected && !aCtrl.orgunitLevelSelected"><span style="font-size: 100%;" class="label label-primary">{{aCtrl.userOrgunitLabel}}</span></p>
			<br />
		</div>
    </accordion-group>
  </accordion>  	
  
<button type="button" class="btn btn-primary pull-right" ng-click="aCtrl.doAnalysis();" style="margin-bottom:20px"
	ng-disabled="!(aCtrl.datasetSelected || aCtrl.dataElementGroupsSelected || aCtrl.indicatorGroupsSelected)"
>Analyze</button>

<hr / style="clear: both;">

<div ng-if="aCtrl.processStatus.total > 0 && aCtrl.result === undefined">
<h5>Loading data...</h5>
<progressbar animate="false" value="aCtrl.processStatus.progress" type="default"><b>{{aCtrl.processStatus.progress}}%</b></progressbar>
</div>

<!-- RESULT -->
<div ng-show="aCtrl.result">

<div style="display: inline-block; width: 100%;">
	<div class="pull-left">
		<h4>Result</h4>
	</div>
	<div class="pull-right">
		<div class="btn-group">
	       <button type="button" ng-click="aCtrl.showFilter = !aCtrl.showFilter" class="btn btn-default" aria-label="Filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
	       <button type="button" ng-click="aCtrl.exportCSV();" class="btn btn-default" aria-label="Download"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
	       	<button type="button" class="btn btn-default" ng-disabled="aCtrl.results.length < 2 || aCtrl.currentResult >= 4" ng-click="aCtrl.previousResult();" aria-label="Backward">
	       		<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
	       	</button>
      </div>
	</div>
</div>
<div collapse="!aCtrl.showFilter" class="well well-sm">
	<div style="display: inline-block; margin-right: 15px;">
		<label for="threshold">Outlier filter</label>
		<div class="btn-group btn-group-justified" ng-click="aCtrl.updateFilter();" style="margin-bottom: 5px; max-width: 400px;">
				<label class="btn btn-default" ng-model="aCtrl.stdFilterType" btn-radio="0">Off</label>
				<label class="btn btn-default" ng-model="aCtrl.stdFilterType" btn-radio="1">Standard Score</label>
		  		<label class="btn btn-default" ng-model="aCtrl.stdFilterType" btn-radio="2">Modified Z-Score</label>
		</div>
	</div>
	<div style="display: inline-block; margin-right: 15px; vertical-align: bottom;">
		<div  class="btn-group btn-group-justified" ng-click="aCtrl.updateFilter();" style="margin-bottom: 5px; max-width: 250px;">
				<label ng-disabled="aCtrl.stdFilterType === 0" class="btn btn-warning" ng-model="aCtrl.stdFilterDegree" btn-radio="1">Moderate</label>
		  		<label ng-disabled="aCtrl.stdFilterType === 0" class="btn btn-danger" ng-model="aCtrl.stdFilterDegree" btn-radio="2">Extreme</label>
		</div>
	</div>
</div>

<div style="margin-top: 10px; font-size: 85%;" class="table-responsive">
<table class="table table-bordered table-striped table-condensed table-hover">
			        <thead>
			            <tr>
							<th ng-if="aCtrl.result.metaData.hierarchy.length > 0" colspan="{{aCtrl.result.metaData.hierarchy.length}}">Hierarchy</th>
			            	<th nowrap rowspan="2" ng-click="aCtrl.sortByColumn('metaData.ou.name')">Unit</th>
			            	<th nowrap rowspan="2" style="max-width: 200px;" ng-click="aCtrl.sortByColumn('metaData.dx.name')">Data</th>
			            	<th rowspan="2" ng-repeat="period in aCtrl.periods" nowrap>{{period}}</th>
			            	<th colspan="2" 
			            		popover-placement="top" popover="Maxium number of SD and the maximum modified z-Score respectively for the most extreme outlier." popover-trigger="click">Score</th>
			            	<th colspan="3" popover-placement="top" popover="Estimated weight (importance) of the gap and outlier." popover-trigger="click">Weight</th>
			            	<th rowspan="2"></th>
			            </tr>
						<tr>
							<th ng-click='aCtrl.sortByColumn("metaData.ou.hierarchy[" + $index + "]")'
								ng-repeat="levelName in aCtrl.result.metaData.hierarchy track by $index">{{levelName}}</th>
							<th ng-click="aCtrl.sortByColumn('result.maxSscore')">SD</th>
							<th ng-click="aCtrl.sortByColumn('result.maxZscore')">Z</th>
							<th ng-click="aCtrl.sortByColumn('result.gapWeight')">Gap</th>
							<th ng-click="aCtrl.sortByColumn('result.outWeight')">Outlier</th>
							<th ng-click="aCtrl.sortByColumn('result.totalWeight')">Total</th>
						</tr>
			        </thead>

			        <tfoot>
			            <td colspan="{{aCtrl.totalColumns}}">
				            <pagination total-items="aCtrl.totalRows" items-per-page="aCtrl.pageSize" max-size="5" ng-model="aCtrl.currentPage" class="pagination-sm pull-right" boundary-links="true" rotate="true"></pagination>
			            </td>
			        </tfoot>
			        
			        <tbody>
			        	<tr valign="middle" ng-repeat="row in aCtrl.filteredRows | orderBy:aCtrl.sortCol:aCtrl.reverse | startFrom:(aCtrl.currentPage-1)*aCtrl.pageSize | limitTo:aCtrl.pageSize">
			                <td ng-repeat="levelName in aCtrl.result.metaData.hierarchy track by $index">
								{{row.metaData.ou.hierarchy[$index] ? row.metaData.ou.hierarchy[$index] : ''}}</td>
							<td>{{row.metaData.ou.name}}</td>
			                <td>{{row.metaData.dx.name}}</td>
			                <td ng-repeat="value in row.data track by $index" class="valueCell"
			                	ng-class="{warning: value==='', danger: aCtrl.isOutlier(value, row.stats)}">
								{{value}}</td>
			                <td class="valueCell">{{row.result.maxSscore}}</td>
			                <td class="valueCell"><span ng-if="row.result.maxZscore != 0">{{row.result.maxZscore}}</span></td>
			                <td class="valueCell">{{row.result.gapWeight}}</td>
			                <td class="valueCell">{{row.result.outWeight}}</td>
			                <td class="valueCell">{{row.result.totalWeight}}</td>
			                
			                <td>
			                	<span class="dropdown" dropdown>
			                      <a href class="dropdown-toggle" dropdown-toggle>
			                              <span class="glyphicon glyphicon-th-list" style="color: black" aria-hidden="true"></span>
			                            </a>
			                      <ul class="dropdown-menu dropdown-menu-right">
			                        <li><a href ng-click="aCtrl.showDetails(row);">Visualise</a></li>
			                        <li><a href ng-click="aCtrl.drillDown(row.metaData);">Drill down</a></li>
			                        <li><a href ng-click="aCtrl.sendMessage(row.metaData);">Contact</a></li>
			                      </ul>
			                      </span>
			                </td>    
			            </tr>
			    	</tbody>
				</table>
			</div>
</div>