<h4 style="margin-top: 20px;">Outliers and Missing Data</h4>
<!-- PARAMETERS -->
<accordion close-others="aCtrl.oneAtATime">


	<!-- DATA -->
    <accordion-group heading="Data" is-open="aCtrl.status.isFirstOpen">
    
    				
		<!-- DATA SETS -->
		<div>
		<label>Data set</label><br />
		<ui-select ng-model="aCtrl.datasetSelected"  style="margin-bottom: 10px; max-width: 470px;">
		  <ui-select-match allow-clear="true" placeholder="Select data set...">
		  	{{aCtrl.datasetSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.datasets | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		</ui-select-choices>
		</ui-select>
		</div>
		
		
		<!-- DATA ELEMENTS -->
		<div style="display: inline-block;">
    	<label>Data elements</label><br />
		<ui-select ng-disabled="aCtrl.datasetSelected" ng-model="aCtrl.dataElementGroupsSelected" on-select="aCtrl.updateDataElementList()" style="margin-bottom: 10px; width: 330px;">
		  <ui-select-match allow-clear="true" placeholder="Select data element group...">
		  	{{aCtrl.dataElementGroupsSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.dataElementGroups | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		</ui-select-choices>
		</ui-select>
		</div>
		<div class="btn-group btn-group-justified" style="width: 120px; display: inline-block;">
				<label class="btn btn-default" ng-model="aCtrl.dataDisaggregation" btn-radio="0">Totals</label>
		  		<label class="btn btn-default" ng-model="aCtrl.dataDisaggregation" btn-radio="1">Details</label>
		</div>
		
		<ui-select multiple
				   ng-disabled="!aCtrl.dataElementGroupsSelected || aCtrl.dataElements.length < 1"
				   ng-model="aCtrl.dataElementsSelected"
				   style="margin-bottom: 10px; max-width: 470px; background-color: white">
		  <ui-select-match placeholder="{{aCtrl.dataElementPlaceholder}}">
			  {{$item.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.dataElements | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		  </ui-select>
		</div>
		
		
		<!-- INDICATORS -->
		<div>
    	<label>Indicators</label><br />
    	<ui-select ng-disabled="aCtrl.datasetSelected || aCtrl.dataDisaggregation != 0" ng-model="aCtrl.indicatorGroupsSelected" on-select="aCtrl.updateIndicatorList()" style="margin-bottom: 10px; max-width: 470px;">
    	  <ui-select-match allow-clear="true" placeholder="Select indicator group...">
    	  	{{aCtrl.indicatorGroupsSelected.name}}
    	  </ui-select-match>
    	  <ui-select-choices
    	  	repeat="obj in aCtrl.indicatorGroups | filter: $select.search">
    	   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
    	  </ui-select-choices>
    	</ui-select>
    	
		<ui-select
				multiple
				ng-disabled="!aCtrl.indicatorGroupsSelected || aCtrl.indicators.length < 1"
				ng-model="aCtrl.indicatorsSelected"
				style="margin-bottom: 10px; max-width: 470px; background-color: white">
		  <ui-select-match placeholder="{{aCtrl.indicatorPlaceholder}}">
		  	{{$item.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.indicators | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
		</div>
    </accordion-group>
           
           
    <!-- PERIOD -->
    <accordion-group heading="Period">
		<div class="btn-group btn-group-justified" style="margin-bottom: 10px; width: 306px;">
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'last'">Recent</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'year'">By year</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" btn-radio="'custom'">Custom</label>
			</div>
			
		
		<!-- RECENT -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'last'">
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodCountSelected"  style="margin-bottom: 10px; width: 106px;">
				  <ui-select-match placeholder="Select number of periods...">
				  	{{aCtrl.periodCountSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodCounts | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
				  <ui-select-match placeholder="Select period type...">
				  	{{aCtrl.periodTypeSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
		</div>
		
		
		<!-- BY YEAR -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'year'">
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{aCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
					
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.yearSelected"  style="margin-bottom: 10px; width: 106px;">
			  <ui-select-match placeholder="Select year...">
			  	{{aCtrl.yearSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.years | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
		</div>		
		
		<!-- CUSTOM -->
		<div ng-show="aCtrl.periodOption === 'custom'">
		<div style="margin-bottom: 10px;">
		<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 306px;">
		  <ui-select-match placeholder="Select period type...">
		  	{{aCtrl.periodTypeSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
		
			</div>
			<div style="display: inline-block;"><label>From</label>
			<div style="min-height:290px;">
			        <datepicker ng-model="aCtrl.date.startDate" class="well well-sm" starting-day="1" max-date="aCtrl.date.endDate"></datepicker>
			</div></div>
			<div style="display: inline-block;"><label>To</label>
			<div style="min-height:290px;">
			        <datepicker ng-model="aCtrl.date.endDate" min-date="aCtrl.date.startDate" max-date="aCtrl.currentDate" class="well well-sm" starting-day="1"></datepicker>
			</div>
			</div>
		</div>				
    </accordion-group>
    
    <!-- ORGUNIT -->
    <accordion-group heading="Orgunit" is-open="status.open">
    	<label>Boundary</label><br />
    	<div class="btn-group btn-group-justified" style="max-width: 400px;">
    	  	<label ng-repeat="orgunit in aCtrl.userOrgunits track by $index" class="btn btn-default" ng-model="aCtrl.boundarySelectionType" ng-change="aCtrl.orgunitUserModeSelected();" btn-radio="$index">{{orgunit.name}}</label>
    	  	<label class="btn btn-default" ng-change="alert('test');" ng-model="aCtrl.boundarySelectionType" btn-radio="aCtrl.userOrgunits.length">All</label>
    	</div>
		<br />
		<div ng-show="aCtrl.userOrgunits.length === aCtrl.boundarySelectionType" style="margin-bottom: 10px;">
			<div style="width:400px; height: 400px; overflow: scroll; border:1px solid lightgray; border-radius:5px;">
				<ou-tree on-select="dashCtrl.boundarySelected(orgunit)"></ou-tree>
			</div>
		</div>

		<!-- DISAGGREGATION -->
       <label for="orgunitSelect">Disaggregation</label>
		<div id="orgunitSelect">
			<ui-select ng-disabled="aCtrl.orgunitGroupSelected" ng-model="aCtrl.orgunitLevelSelected"  style="margin-bottom: 10px; max-width: 400px;">
			  <ui-select-match allow-clear="true" placeholder="{{aCtrl.getLevelPlaceholder();}}">
			  	{{aCtrl.orgunitLevelSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.filteredOrgunitLevels | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
			<ui-select ng-disabled="aCtrl.orgunitLevelSelected" ng-model="aCtrl.orgunitGroupSelected"  style="margin-bottom: 10px; max-width: 400px;">
				  <ui-select-match allow-clear="true" placeholder="Select organisation unit group">
				  	{{aCtrl.orgunitGroupSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.orgunitGroups | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
			</ui-select>
		</div>
		
		
		<!-- CURRENT SELECTION -->
		<label for="orgunitSelected">Selected </label>
		<div id="orgunitSelected">
			<p>
				<span style="font-size: 100%;" class="label label-primary">{{aCtrl.boundaryOrgunitSelected.name}}</span>
				<span ng-if="aCtrl.orgunitLevelSelected"><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{aCtrl.orgunitLevelSelected.name}}</span></span>
				<span ng-if="aCtrl.orgunitGroupSelected"><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size: 100%;" class="label label-primary">{{aCtrl.orgunitGroupSelected.name}}</span></span>
			</p>
			<br />
		</div>
    </accordion-group>
  </accordion>  	
  
<button type="button" class="btn btn-primary pull-right" ng-click="aCtrl.doAnalysis();" style="margin-bottom:20px"
	ng-disabled="!(aCtrl.datasetSelected || (aCtrl.dataElementGroupsSelected && aCtrl.dataElements.length > 0) || (aCtrl.indicatorGroupsSelected && aCtrl.indicators.length > 0))"
>Analyze</button>

<hr / style="clear: both;">

<div ng-if="aCtrl.processStatus.total > 0 && aCtrl.processStatus.progress != 100">
<h5>Loading data...</h5>
<progressbar animate="false" value="aCtrl.processStatus.progress" type="default"><b>{{aCtrl.processStatus.progress}}%</b></progressbar>
</div>

<!-- RESULT -->
<outlier-result result-control="aCtrl.resultControl"></outlier-result>
