<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div ng-if="resultCtrl.results.length > 0">
	<div style="display: inline-block; width: 100%;">
		<div class="pull-left">
			<h4>{{ 'Result'  | i18next }}</h4>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-default" ng-model="resultCtrl.showFilter" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
				{{ 'Options' | i18next }}
			</button>
			<div class="btn-group">
				<button style="width: 100px" type="button" ng-click="resultCtrl.exportCSV();" class="btn btn-default">Download</button>
				<button style="width: 100px" type="button"
						class="btn btn-default"
						ng-disabled="resultCtrl.results.length < 2 || resultCtrl.currentResult >= 4  || (1 + resultCtrl.currentResult) === resultCtrl.results.length"
						ng-click="resultCtrl.previousResult();">
					{{ 'Previous' | i18next }}
				</button>
			</div>
		</div>
	</div>
	<div uib-collapse="!resultCtrl.showFilter" class="well well-sm">
		<div>
			<label for="threshold">{{ 'Display columns' | i18next }}</label>
			<div class="btn-group btn-group-justified" ng-click="resultCtrl.updateType();" style="margin-bottom: 5px; max-width: 400px;">
				<label class="btn btn-default" ng-model="resultCtrl.typeFilter" uib-btn-radio="0">{{ 'All' | i18next }}</label>
				<label class="btn btn-default" ng-model="resultCtrl.typeFilter" uib-btn-radio="1">{{ 'Missing data' | i18next }}</label>
				<label class="btn btn-default" ng-model="resultCtrl.typeFilter" uib-btn-radio="2">{{ 'Outliers' | i18next }}</label>
			</div>
			<div style="display: inline-block; margin-bottom: 20px">
				<label>
					<input type="checkbox" ng-disabled="resultCtrl.typeFilter === 1" ng-init="resultCtrl.zScoreColumns = false" ng-model="resultCtrl.zScoreColumns"/>
					{{ 'Include Z-score' | i18next }}
				</label>
			</div>
		</div>
		<div >
			<label for="threshold">{{ 'Outlier filter' | i18next }}</label>
			<div class="btn-group btn-group-justified" ng-click="resultCtrl.updateFilter();" style="margin-bottom: 5px; max-width: 400px;">
				<label class="btn btn-default" ng-model="resultCtrl.stdFilterType" uib-btn-radio="0">{{ 'Off' | i18next }}</label>
				<label class="btn btn-default" ng-model="resultCtrl.stdFilterType" uib-btn-radio="1">{{ 'Standard Score' | i18next }}</label>
				<label class="btn btn-default" ng-model="resultCtrl.stdFilterType" uib-btn-radio="2">{{ 'Modified Z-Score' | i18next }}</label>
			</div>
		</div>
		<div style="display: inline-block; margin-right: 15px; vertical-align: bottom;">
			<div  class="btn-group btn-group-justified" ng-click="resultCtrl.updateFilter();" style="margin-bottom: 5px; max-width: 400px;">
				<label ng-disabled="resultCtrl.stdFilterType === 0" class="btn btn-warning" ng-model="resultCtrl.stdFilterDegree" uib-btn-radio="1">{{ 'Moderate' | i18next }}</label>
				<label ng-disabled="resultCtrl.stdFilterType === 0" class="btn btn-danger" ng-model="resultCtrl.stdFilterDegree" uib-btn-radio="2">{{ 'Extreme' | i18next }}</label>
			</div>
		</div>
	</div>
	<div style="margin-top: 10px; font-size: 85%; margin-bottom: 100px" class="table-responsive">
		<table class="table table-bordered table-striped table-condensed table-hover">
			<thead>
			<tr>
				<th ng-if="resultCtrl.result.metaData.hierarchy.length > 0" colspan="{{resultCtrl.result.metaData.hierarchy.length}}">{{ Hierarchy | i18next }}</th>
				<th style="white-space:nowrap;" rowspan="2" ng-click="resultCtrl.sortByColumn('metaData.ou.name')">
					{{ 'Unit' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'metaData.ou.name'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" rowspan="2" style="max-width: 200px;" ng-click="resultCtrl.sortByColumn('metaData.dx.name')">
					{{ 'Data' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'metaData.dx.name'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th rowspan="2" ng-repeat="period in resultCtrl.periods" nowrap>{{period}}</th>
				<th style="white-space:nowrap;" colspan="2"
					ng-if="resultCtrl.typeFilter != 1 && resultCtrl.zScoreColumns">
					{{ 'Z-score' | i18next }}
					<span class="glyphicon glyphicon-info-sign"
							style="color: black"
							aria-hidden="true"
							uib-tooltip="Maxium number of standard deviations from the mean (z-score) and the maximum modified z-score respectively for the most extreme outlier.">
					</span>
				</th>
				<th style="white-space:nowrap;" colspan="{{resultCtrl.typeFilter === 0 ? 3 : 1}}">
					{{ 'Weight' | i18next }}
					<span class="glyphicon glyphicon-info-sign"
							style="color: black"
							aria-hidden="true"
							uib-tooltip="Estimated weight (significance) of the missing data and/or outlier.">
					</span>
				</th>
				<th rowspan="2"></th>
			</tr>
			<tr>
				<th style="white-space:nowrap;" ng-click='resultCtrl.sortByColumn("metaData.ou.hierarchy[" + $index + "]")'
					ng-repeat="levelName in resultCtrl.result.metaData.hierarchy track by $index">
					{{levelName}}
					<span ng-if='resultCtrl.sortCol === "metaData.ou.hierarchy[" + $index + "]"' class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" ng-if="resultCtrl.typeFilter != 1 && resultCtrl.zScoreColumns" ng-click="resultCtrl.sortByColumn('result.maxSscore')">
					{{ 'Standard' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'result.maxSscore'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" ng-if="resultCtrl.typeFilter != 1 && resultCtrl.zScoreColumns" ng-click="resultCtrl.sortByColumn('result.maxZscore')">
					{{ 'Modified' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'result.maxZscore'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" ng-if="resultCtrl.typeFilter != 2" ng-click="resultCtrl.sortByColumn('result.gapWeight')">
					{{ 'Missing' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'result.gapWeight'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" ng-if="resultCtrl.typeFilter != 1" ng-click="resultCtrl.sortByColumn('result.outWeight')">
					{{ 'Outlier' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'result.outWeight'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
				<th style="white-space:nowrap;" ng-if="resultCtrl.typeFilter === 0" ng-click="resultCtrl.sortByColumn('result.totalWeight')">
					{{ 'Total' | i18next }}
					<span ng-if="resultCtrl.sortCol === 'result.totalWeight'" class="{{'glyphicon ' + (resultCtrl.reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes') }}"></span>
				</th>
			</tr>
			</thead>
			<tfoot>
				<tr height="81px">
					<td colspan="{{resultCtrl.totalColumns}}">
						<div uib-pagination ng-if="resultCtrl.totalRows > resultCtrl.pageSize" total-items="resultCtrl.totalRows" items-per-page="resultCtrl.pageSize" max-size="5" ng-model="resultCtrl.currentPage" class="pagination-sm pull-right" boundary-links="true" rotate="true"></div>
					</td>
				</tr>
			</tfoot>

			<tbody>
				<tr valign="middle" ng-repeat="row in resultCtrl.filteredRows | orderBy:resultCtrl.sortCol:resultCtrl.reverse | startFrom:(resultCtrl.currentPage-1)*resultCtrl.pageSize | limitTo:resultCtrl.pageSize">
					<td ng-repeat="levelName in resultCtrl.result.metaData.hierarchy track by $index">
						{{row.metaData.ou.hierarchy[$index] ? row.metaData.ou.hierarchy[$index] : ''}}</td>
					<td>{{row.metaData.ou.name}}</td>
					<td>{{row.metaData.dx.name}}</td>
					<td ng-repeat="value in row.data track by $index" class="valueCell"
						ng-class="{warning: value==='', danger: resultCtrl.isOutlier(value, row.stats, row.criteria)}">
						{{value}}</td>
					<td ng-if="resultCtrl.typeFilter != 1 && resultCtrl.zScoreColumns" class="valueCell">{{row.result.maxSscore}}</td>
					<td ng-if="resultCtrl.typeFilter != 1 && resultCtrl.zScoreColumns" class="valueCell"><span ng-if="row.result.maxZscore != 0">{{row.result.maxZscore}}</span></td>
					<td ng-if="resultCtrl.typeFilter != 2" class="valueCell">{{row.result.gapWeight}}</td>
					<td ng-if="resultCtrl.typeFilter != 1" class="valueCell">{{row.result.outWeight}}</td>
					<td ng-if="resultCtrl.typeFilter === 0" class="valueCell">{{row.result.totalWeight}}</td>

					<td>
						<span class="dropdown" uib-dropdown>
						<a href class="dropdown-toggle" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-th-list" style="color: black" aria-hidden="true"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href ng-click="resultCtrl.showDetails(row);">{{ 'Visualise' | i18next }}</a></li>
							<li><a href ng-click="resultCtrl.drillDown(row.metaData);">{{ 'Drill down' | i18next }}</a></li>
							<li><a href ng-click="resultCtrl.sendMessage(row.metaData);">{{ 'Contact' | i18next }}</a></li>
						</ul>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
