<h4 style="margin-top: 20px;">Outliers and Missing Data</h4>
<!-- PARAMETERS -->
<uib-accordion close-others="aCtrl.oneAtATime">


	<!-- DATA -->
    <uib-accordion-group heading="Data" is-open="aCtrl.status.isFirstOpen">

		<!-- DATA SETS -->
		<div style="max-width: 600px">
		<label>Data set</label><br />
			<d2-select-data-element
					multiple="true"
					ng-model="aCtrl.selectedData.ds"
					dataset="true">
			</d2-select-data-element>
		</div>
		
		
		<!-- DATA ELEMENTS -->
		<div style="max-width: 600px">
    	<label>Data elements</label><br />
		<d2-select-data-element
				multiple="true"
				ng-model="aCtrl.selectedData.deg">
		</d2-select-data-element>
		</div>
		
		
		<!-- INDICATORS -->
		<div style="max-width: 600px">
    	<label>Indicators</label><br />
			<d2-select-indicator
					ng-model="aCtrl.selectedData.ig"
					multiple="true">
			</d2-select-indicator>
		</div>
    </uib-accordion-group>
           
           
    <!-- PERIOD -->
    <uib-accordion-group heading="Period">
		<div class="btn-group btn-group-justified" style="margin-bottom: 10px; width: 306px;">
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" uib-btn-radio="'last'">Recent</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" uib-btn-radio="'year'">By year</label>
			  <label class="btn btn-default" ng-model="aCtrl.periodOption" uib-btn-radio="'custom'">Custom</label>
			</div>
			
		
		<!-- RECENT -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'last'">
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodCountSelected"  style="margin-bottom: 10px; width: 106px;">
				  <ui-select-match placeholder="Select number of periods...">
				  	{{aCtrl.periodCountSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodCounts | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
			<div style="display: inline-block;">
				<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
				  <ui-select-match placeholder="Select period type...">
				  	{{aCtrl.periodTypeSelected.name}}
				  </ui-select-match>
				  <ui-select-choices 
				  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
				   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
				  </ui-select-choices>
				</ui-select>
			</div>
		</div>
		
		
		<!-- BY YEAR -->
		<div style="margin-bottom: 15px;" ng-show="aCtrl.periodOption === 'year'">
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 196px;">
			  <ui-select-match placeholder="Select period type...">
			  	{{aCtrl.periodTypeSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
					
			<div style="display: inline-block;">
			<ui-select ng-model="aCtrl.yearSelected"  style="margin-bottom: 10px; width: 106px;">
			  <ui-select-match placeholder="Select year...">
			  	{{aCtrl.yearSelected.name}}
			  </ui-select-match>
			  <ui-select-choices 
			  	repeat="obj in aCtrl.years | filter: $select.search">
			   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			</div>
		</div>		
		
		<!-- CUSTOM -->
		<div ng-show="aCtrl.periodOption === 'custom'">
		<div style="margin-bottom: 10px;">
		<ui-select ng-model="aCtrl.periodTypeSelected"  style="margin-bottom: 10px; width: 306px;">
		  <ui-select-match placeholder="Select period type...">
		  	{{aCtrl.periodTypeSelected.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in aCtrl.periodTypes | filter: $select.search">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
		
			</div>
			<div style="display: inline-block;"><label>From</label>
			<div style="min-height:290px;">
			        <uib-datepicker ng-model="aCtrl.date.startDate" ng-change="aCtrl.datepickerOptionsTo.minDate = aCtrl.date.startDate;" class="well well-sm" datepicker-options="aCtrl.datepickerOptionsFrom" ></uib-datepicker>
			</div></div>

			<div style="display: inline-block;"><label>To</label>
			<div style="min-height:290px;">
			        <uib-datepicker ng-model="aCtrl.date.endDate" class="well well-sm" datepicker-options="aCtrl.datepickerOptionsTo"></uib-datepicker>
			</div>
			</div>

		</div>
    </uib-accordion-group>
    
    <!-- ORGUNIT -->
    <uib-accordion-group heading="Orgunit" is-open="status.open">
    	<d2-select-orgunit default-level="2" ng-model="aCtrl.selectedOrgunit"></d2-select-orgunit>
    </uib-accordion-group>
  </uib-accordion>
  
<button type="button" class="btn btn-primary pull-right" ng-click="aCtrl.doAnalysis();" style="margin-bottom:20px"
	ng-disabled="!(aCtrl.selectedData.ds.length > 0 || aCtrl.selectedData.deg.length > 0 || aCtrl.selectedData.ig.length > 0) || !(aCtrl.selectedOrgunit.boundary)"
>Analyze</button>

<hr style="clear: both;" />

<div ng-if="aCtrl.processStatus.total > 0 && aCtrl.processStatus.progress != 100">
<h5>Loading data...</h5>
<uib-progressbar animate="false" value="aCtrl.processStatus.progress" type="default"><b>{{aCtrl.processStatus.progress}}%</b></uib-progressbar>
</div>

<!-- RESULT -->
<outlier-result result-control="aCtrl.resultControl"></outlier-result>
