<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div>
	<d2-select
			ng-model="d2sCtrl.group"
			options="d2sCtrl.groups"
			placeholder="{{ 'Indicator group' | i18next }}..."
			on-select="d2sCtrl.getElements();">
	</d2-select>
</div>
<div style="margin-top: 10px;">
	<d2-select
			ng-disabled="!d2sCtrl.elements || d2sCtrl.elements.length === 0"
			multiple="d2sCtrl.multiple"
			ng-model="d2sCtrl.element"
			options="d2sCtrl.elements"
			placeholder="{{d2sCtrl.placeholder}}"
			on-select="d2sCtrl.selectElement()">
	</d2-select>
</div>
