<div style="margin-bottom: 10px">
	<ui-select ng-if="d2sCtrl.multiple"
			   ng-disabled="!d2sCtrl.options || d2sCtrl.options.length === 0 || d2sCtrl.ngDisabled"
			   multiple
			   on-select="d2sCtrl.onSelect({'object': d2sCtrl.ngModel})"
			   ng-model="d2sCtrl.ngModel"
			   theme="bootstrap">

		<ui-select-match
				placeholder="{{d2sCtrl.placeholder}}">
			{{$item.displayName}}
		</ui-select-match>

		<ui-select-choices
				repeat="obj in d2sCtrl.options | filter: $select.search">
			<div ng-bind-html="obj.displayName | highlight: $select.search">
			</div>
		</ui-select-choices>

	</ui-select>

	<ui-select ng-if="!d2sCtrl.multiple"
			   on-select="d2sCtrl.onSelect({'object': d2sCtrl.ngModel})"
			   ng-disabled="!d2sCtrl.options || d2sCtrl.options.length === 0 || d2sCtrl.ngDisabled"
			   ng-model="d2sCtrl.ngModel"
			   theme="bootstrap">

		<ui-select-match
				allow-clear="true"
				placeholder="{{d2sCtrl.placeholder}}">
			{{d2sCtrl.ngModel.displayName}}
		</ui-select-match>

		<ui-select-choices
				repeat="obj in d2sCtrl.options | filter: $select.search">
			<div ng-bind-html="obj.displayName | highlight: $select.search">
			</div>
		</ui-select-choices>

	</ui-select>
	{{d2sCtrl.clear}}
</div>