<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<label>{{ 'Boundary' | i18next }}</label><br />
<div class="btn-group" ng-click="d2sCtrl.orgunitSelect();">
	<label
			ng-repeat="orgunit in d2sCtrl.userOrgunits track by $index"
			class="btn btn-default"
			ng-model="d2sCtrl.selectionType"
			uib-btn-radio="$index">
		{{orgunit.displayName}}
	</label>
	<label
			class="btn btn-default"
			ng-model="d2sCtrl.selectionType"
			uib-btn-radio="d2sCtrl.userOrgunits.length">
		{{ 'Other' | i18next }}
	</label>
</div>

<br />

<div ng-show="d2sCtrl.userOrgunits.length === d2sCtrl.selectionType" style="margin-bottom: 10px; margin-top: 10px;">
	<div style="max-height: 300px; overflow: scroll; border:1px solid lightgray; border-radius:5px;">
		<ou-tree on-select="d2sCtrl.orgunitSelect(object)" ng-model="d2sCtrl.treeSelection"></ou-tree>
	</div>
</div>

<!-- DISAGGREGATION -->
<label style="margin-top: 10px;" for="orgunitSelect" ng-if="!(d2sCtrl.hideLevel && d2sCtrl.hideGroup)">{{ 'Disaggregation' | i18next }}</label>
<div>

	<d2-select
			ng-if="!d2sCtrl.hideLevel"
			ng-disabled="d2sCtrl.selectedGroup"
			ng-model="d2sCtrl.selectedLevel"
			options="d2sCtrl.filteredLevels"
			placeholder="{{ 'Organisation unit level' | i18next }}"
			on-select="d2sCtrl.selectLevel(object)">
	</d2-select>

	<d2-select
			ng-if="!d2sCtrl.hideGroup"
			ng-disabled="d2sCtrl.selectedLevel"
			ng-model="d2sCtrl.selectedGroup"
			options="d2sCtrl.orgunitGroups"
			placeholder="{{ 'Organisation unit group' | i18next }}"
			on-select="d2sCtrl.selectGroup(object)">
	</d2-select>
</div>


<!-- CURRENT SELECTION -->
<label style="margin-top: 10px" for="orgunitSelected">{{ 'Selected' | i18next }} </label>
<div id="orgunitSelected">
	<p>
		<span style="font-size: 100%;" class="label label-primary">{{d2sCtrl.selectedOrgunit.displayName}}</span>
		<span ng-if="d2sCtrl.selectedLevel && !d2sCtrl.hideLevel"><span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px; margin-right: 8px"></span><span style="font-size: 100%;" class="label label-primary">{{d2sCtrl.selectedLevel.displayName}}</span></span>
		<span ng-if="d2sCtrl.selectedGroup && !d2sCtrl.hideGroup"><span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px; margin-right: 8px"></span><span style="font-size: 100%;" class="label label-primary">{{d2sCtrl.selectedGroup.displayName}}</span></span>
	</p>
	<br />
</div>
