<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div style="margin-bottom: 10px">
	<ui-select ng-if="d2sCtrl.multiple"
			   ng-disabled="!d2sCtrl.options || d2sCtrl.options.length === 0 || d2sCtrl.ngDisabled"
			   multiple
			   on-select="d2sCtrl.onSelect({'object': d2sCtrl.ngModel})"
			   ng-model="d2sCtrl.ngModel"
			   theme="bootstrap">

		<ui-select-match
				placeholder="{{d2sCtrl.placeholder}}">
			{{$item.displayName}}
		</ui-select-match>

		<ui-select-choices
				repeat="obj in d2sCtrl.options | filter: $select.search">
			<div ng-bind-html="obj.displayName | highlight: $select.search">
			</div>
		</ui-select-choices>

	</ui-select>

	<ui-select ng-if="!d2sCtrl.multiple"
			   on-select="d2sCtrl.onSelect({'object': d2sCtrl.ngModel})"
			   ng-disabled="!d2sCtrl.options || d2sCtrl.options.length === 0 || d2sCtrl.ngDisabled"
			   ng-model="d2sCtrl.ngModel"
			   theme="bootstrap">

		<ui-select-match
				allow-clear="true"
				placeholder="{{d2sCtrl.placeholder}}">
			{{d2sCtrl.ngModel.displayName}}
		</ui-select-match>

		<ui-select-choices
				repeat="obj in d2sCtrl.options | filter: $select.search">
			<div ng-bind-html="obj.displayName | highlight: $select.search">
			</div>
		</ui-select-choices>

	</ui-select>
	{{d2sCtrl.clear}}
</div>