<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="modal-header">
    <h4>{{ 'Download' | i18next }}</h4>
	<h5>{{ 'CSV format' | i18next }}</h5>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <tr>
			<th colspan="2">{{ 'Options' | i18next }}</th>
        </tr>
		<tr>
			<td>
				{{ 'Field separator' | i18next }}
			</td>
			<td>
				<div class="btn-group btn-group-justified" style="width: 200px; display: inline-block;">
					<label
							ng-repeat="opts in exportCtrl.separators"
							class="btn btn-default"
							ng-model="exportCtrl.options.separator"
							ng-disabled="opts.value === exportCtrl.options.decSeparator"
							uib-btn-radio="opts.value">{{opts.label}}</label>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				{{ 'Decimal separator' | i18next }}
			</td>
			<td>
				<div class="btn-group btn-group-justified" style="width: 200px; display: inline-block;">
					<label ng-repeat="opts in exportCtrl.decSeparators"
						   class="btn btn-default"
						   ng-model="exportCtrl.options.decSeparator"
						   ng-disabled="opts.value === exportCtrl.options.separator"
						   uib-btn-radio="opts.value">{{opts.label}}</label>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				{{ 'File name' | i18next }}
			</td>
			<td>
				<input type="text" class="form-control" ng-model="exportCtrl.options.fileName">
			</td>
		</tr>
    </table>
</div>
<div class="modal-footer" style="clear: both;">
	<button type="button" class="btn btn-default" data-ng-click="exportCtrl.cancel()">{{ 'Cancel' | i18next }}</button>
    <button type="button" class="btn btn-primary" data-ng-click="exportCtrl.close()">{{ 'Download' | i18next }}</button>
</div>