<table style="width: 100%">
	<tr  height="60px">
		<td width="50px">
			<button class="btn btn-primary no-print"
					ng-click="dashCtrl.showParameters = !dashCtrl.showParameters; dashCtrl.setWindowWidth(); dashCtrl.updateCurrent();"
					style="width: 40px">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			</button>
		</td>
		<td>
			<h4>Dashboard</h4>
		</td>
		<td>
			<progressbar ng-if="dashCtrl.cmpLoading || dashCtrl.tcLoading || dashCtrl.dcLoading || dashCtrl.outLoading"
					style="width: 140px; float: right; margin-top: 20px"
					class="progress-striped active" value="100" type="default"><i ng-show="showWarning">Processing</i>
			</progressbar>
			<p></p>
		</td>
	</tr>
</table>
<div style="width: 100%; display: inline-block;">
	<div collapse="!dashCtrl.showParameters" class="well well-sm no-print" style="vertical-align: top; height: auto; margin-right: 10px; width: 320px; margin-top: 42px; float:left">
		<div style="height: auto;">
			<label>Data</label>
			<div ng-include="dashCtrl.partialGroupUrl">
			</div>
			<hr/>
			<label>Period</label>
			<div ng-include="dashCtrl.partialDateUrl">
			</div>
			<hr/>
			<label>Orgunit</label>
			<div ng-include="dashCtrl.partialOuUrl">
			</div>
		</div>
	</div>
	<tabset justified="true" ng-style="{width: dashCtrl.contentWidth, 'display': 'inline-block', 'vertical-align': 'top', 'float': 'right'}">
		<tab heading="Completeness" select="dashCtrl.selectedTab = 0; dashCtrl.makeCompletenessCharts();">
			<div
				style="display: inline-block; width: 100%; margin-top: 10px"
				ng-repeat="dataset in dashCtrl.completenessCharts|orderBy:'name'">
				<h5>"{{dataset.name}}" completeness</h5>
				<div ng-style="{width: dashCtrl.halfChart}" style="display: inline-block; border: 1px dotted gray; height: 400px">
					<nvd3
						options='dataset.trendChartOptions'
						data='dataset.trendChartData'>
					</nvd3>
				</div>
				<h5 ng-if="dashCtrl.singleCol">"{{dataset.name}}" completeness</h5>
				<div ng-style="{width: dashCtrl.halfChart}" style="display: inline-block; border: 1px dotted gray; height: 400px">
					<nvd3 style="width: 100%"
						options='dataset.ouChartOptions'
						data='dataset.ouChartData'>
					</nvd3>
				</div>
			</div>
		</tab>
		<tab heading="Consistency - time" select="dashCtrl.selectedTab = 1;dashCtrl.makeTimeConsistencyCharts();">
			<div
				style="display: inline-block; width: 100%; margin-top: 10px"
				ng-repeat="data in dashCtrl.consistencyCharts|orderBy:'name'|limitTo: 100">
				<h5>{{data.name}}</h5>
				<nvd3 style="display: inline-block; border: 1px dotted gray; height: 400px"
					  ng-style="{width: dashCtrl.halfChart}"
					options='data.yyChartOptions'
					data='data.yyChartData'>
				</nvd3>
				<h5 ng-if="dashCtrl.singleCol">{{data.name}}</h5>
				<nvd3 style="display: inline-block; border: 1px dotted gray; height: 400px"
					  ng-style="{width: dashCtrl.halfChart}"
					  options='data.consistencyChartOptions'
					data='data.consistencyChartData'>
				</nvd3>
			</div>
		</tab>
		<tab heading="Consistency - data" select="dashCtrl.selectedTab = 2; dashCtrl.makeDataConsistencyCharts();">
			<div style="display: inline-block; width: 100%; margin-top: 10px"
					ng-repeat="data in dashCtrl.dataConsistencyCharts|orderBy:'name'|limitTo: 100">
				<h5>{{data.name}} - {{data.period}}</h5>
				<nvd3
						class="elementFullWidth"
						style="display: inline-block; border: 1px dotted gray; height: 400px"
						options='data.chartOptions'
						data='data.chartData'>
				</nvd3>
			</div>
		</tab>
		<tab heading="Outliers" select=" dashCtrl.selectedTab = 3; dashCtrl.makeOutlierTable();">
			<div style="margin-bottom: 20px"></div>
			<outlier-result  result-control="dashCtrl.resultControl"></outlier-result>
		</tab>
	</tabset>

</div>