<h4 style="margin-top: 20px;">Data Quality Dashboard</h4>
<tabset>
	<tab heading="Completeness" select="dashCtrl.makeCompletenessCharts();">
		<div
			style="display: inline-block; width: 100%; margin-top: 10px"
			ng-repeat="dataset in dashCtrl.completenessCharts|orderBy:'name'">
			<h5>"{{dataset.name}}" completeness</h5>
			<div ng-class="{elementFullWidth: dashCtrl.singleCol, elementHalfWidth: !dashCtrl.singleCol}"
				 style="display: inline-block;">
				<nvd3
					options='dataset.trendChartOptions'
					data='dataset.trendChartData'>
				</nvd3>
			</div>
			<h5 ng-if="dashCtrl.singleCol">"{{dataset.name}}" completeness</h5>
			<div ng-class="{elementFullWidth: dashCtrl.singleCol, elementHalfWidth: !dashCtrl.singleCol}"
				style="display: inline-block;">
				<nvd3 style="width: 100%"
					options='dataset.ouChartOptions'
					data='dataset.ouChartData'>
				</nvd3>
			</div>
		</div>
	</tab>
	<tab heading="Consistency over time" select="dashCtrl.makeTimeConsistencyCharts();">
		<div
			style="display: inline-block; width: 100%; margin-top: 10px"
			ng-repeat="data in dashCtrl.consistencyCharts|orderBy:'name'|limitTo: 100">
			<h5>{{data.name}}</h5>
			<nvd3
				ng-class="{elementFullWidth: dashCtrl.singleCol, elementHalfWidth: !dashCtrl.singleCol}"
				style="display: inline-block;"
				options='data.yyChartOptions'
				data='data.yyChartData'>
			</nvd3>
			<h5 ng-if="dashCtrl.singleCol">{{data.name}}</h5>
			<nvd3
				ng-class="{elementFullWidth: dashCtrl.singleCol, elementHalfWidth: !dashCtrl.singleCol}"
				style="display: inline-block;"
				options='data.consistencyChartOptions'
				data='data.consistencyChartData'>
			</nvd3>
		</div>
	</tab>
	<tab heading="Consistency between indicators" select="dashCtrl.makeDataConsistencyCharts();">
		<div
				style="display: inline-block; width: 100%; margin-top: 10px"
				ng-repeat="data in dashCtrl.dataConsistencyCharts|orderBy:'name'|limitTo: 100">
			<h5>{{data.name}} - {{data.period}}</h5>
			<nvd3
					class="elementFullWidth"
					style="display: inline-block;"
					options='data.chartOptions'
					data='data.chartData'>
			</nvd3>
		</div>
	</tab>
	<tab heading="Outliers" select="dashCtrl.makeOutlierTable();">
		Coming...
	</tab>
</tabset>
