<div style="display: inline-block; width: 300px; max-height: 400px; margin-right: 10px; vertical-align: top; overflow: scroll"
	 class="well well-sm">
	<ou-tree on-select="dashCtrl.boundarySelected(orgunit)"></ou-tree>
</div>
<div style="display: inline-block; width: 300px; margin-right: 10px; vertical-align: top">
<label>Organisation unit level</label><br/>
<span>Completeness and consistency</span>
<ui-select on-select="dashCtrl.update();" ng-model="dashCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 100%; display: inline-block;">
	<ui-select-match placeholder="Select level...">
		{{dashCtrl.orgunitLevelSelected.name}}
	</ui-select-match>
	<ui-select-choices
			repeat="obj in dashCtrl.filteredOrgunitLevels | filter: $select.search">
		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>
<div style="margin-top: 10px">Outliers</div>
<ui-select on-select="dashCtrl.update();" ng-model="dashCtrl.orgunitLevelSelectedOutliers" theme="bootstrap" style="width: 100%; display: inline-block;">
	<ui-select-match placeholder="Select level...">
		{{dashCtrl.orgunitLevelSelectedOutliers.name}}
	</ui-select-match>
	<ui-select-choices
			repeat="obj in dashCtrl.filteredOrgunitLevelsOutliers | filter: $select.search">
		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>
</div>