<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div style="height: auto;">
		<h4>{{ 'Data' | i18next }}</h4>
		<d2-select on-select="dashCtrl.update(object);"
				   ng-model="dashCtrl.group"
				   options="dashCtrl.groups">
		</d2-select>
	</div>

	<hr/>

	<h4>{{ 'Period' | i18next }}</h4>
	<div style="width: 290px">
		<uib-datepicker
					ng-change="dashCtrl.update();"
					class="well well-sm"
					ng-model="dashCtrl.endDate"
					datepicker-options="dashCtrl.datepickerOptions">
		</uib-datepicker>
		<span>{{ 'Data for 12 months up to and including the selected month will be used.' | i18next }}</span>
	</div>


	<hr/>

	<h4>{{ 'Organisation unit' | i18next }}</h4>
	{{dashCtrl.selectedOrgunit.boundary.displayName}}<br/>
	<d2-select-orgunit style="width: 300px;" default-level="1" max-level="2" hide-group="true" hide-level="false" ng-model="dashCtrl.selectedOrgunit" on-select="dashCtrl.selectedOrgunit = object; dashCtrl.update();"></d2-select-orgunit>
