	<div style="height: auto;">
		<label>Data</label>
		<d2-select on-select="dashCtrl.update(object);"
				   ng-model="dashCtrl.group"
				   options="dashCtrl.groups">
		</d2-select>
	</div>

	<hr/>

	<label>Period</label>
	<div style="width: 290px">
		<uib-datepicker
					ng-change="dashCtrl.update();"
					class="well well-sm"
					ng-model="dashCtrl.endDate"
					datepicker-options="dashCtrl.datepickerOptions">
		</uib-datepicker>
		<span>Data for 12 months up to and including the selected month will be used.</span>
	</div>


	<hr/>

	<label>Organisation unit</label>
	<div style="display: inline-block; width: 300px; max-height: 400px; margin-right: 10px; vertical-align: top; overflow: scroll"
		 class="well well-sm">
		<ou-tree on-select="dashCtrl.boundarySelected(orgunit)"></ou-tree>
	</div>

	<div style="display: inline-block; width: 300px; margin-right: 10px; vertical-align: top">
		<span>Disaggregation</span>
		<d2-select
				on-select="dashCtrl.update(object);"
				ng-model="dashCtrl.orgunitLevelSelected"
				options="dashCtrl.filteredOrgunitLevels"
				placeholder="Select level...">
		</d2-select>
	</div>

