	<div style="height: auto;">
		<h4>Data</h4>
		<d2-select on-select="dashCtrl.update(object);"
				   ng-model="dashCtrl.group"
				   options="dashCtrl.groups">
		</d2-select>
	</div>

	<hr/>

	<h4>Period</h4>
	<div style="width: 290px">
		<uib-datepicker
					ng-change="dashCtrl.update();"
					class="well well-sm"
					ng-model="dashCtrl.endDate"
					datepicker-options="dashCtrl.datepickerOptions">
		</uib-datepicker>
		<span>Data for 12 months up to and including the selected month will be used.</span>
	</div>


	<hr/>

	<h4>Organisation unit</h4>
	<d2-select-orgunit style="width: 300px;" default-level="1" max-level="2" hide-group="true" hide-level="false" ng-model="dashCtrl.selectedOrgunit" on-select="dashCtrl.update();"></d2-select-orgunit>

