<div ng-controller="ParamterController as paramCtrl">
	<h5>Data sets</h5>
	<div >
		<ui-select multiple ng-model="paramCtrl.dataSelected" theme="bootstrap" style="width: 400px;">
		  <ui-select-match placeholder="Select data sets...">
		  	{{$item.name}}
		  </ui-select-match>
		  <ui-select-choices 
		  	repeat="obj in paramCtrl.dataOptions">
		   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
	</div>
	
	<h5>Period</h5>
	<div >
		<input class="selector" date-range-picker class="form-control date-picker" type="text" ng-model="paramCtrl.date" options="paramCtrl.datePickerOpts"/><br>
	</div>
	
	<h5>Reporting rate threshold(%)</h5>
	<div >
		<input class="selector" type="number" min="0" max="100" ng-model="paramCtrl.threshold"/><br>
	</div>
	
	<h5>Organisation unit</h5>
	<div>
		<div  style="height: 250px; width: 300px; border: 1px solid #gray; overflow: auto;">
			<div id="orgunitTree"></div>
		</div>
		Include children: <input type="checkbox" ng-model="paramCtrl.includeChildren"><br/>
	</div>
	<br><br>
	<button ng-click="paramCtrl.doAnalysis();">Do analysis</button>	
</div>