<div class="modal-header">
	<h3>{{addCtrl.title}}</h3>
</div>
<div class="modal-body">

	<table class="table table-bordered">
		<tr>
			<th>Survey/external indicator</th>
			<td>
				<div style="width: 400px">
					<div class="btn-group btn-group-justified" style="width: 120px; margin-bottom: 10px; display: inline-block;">
						<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'dataElements'">Data element</label>
						<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'indicators'">Indicator</label>
					</div>

					<!-- DATA ELEMENTS -->
					<div ng-if="addCtrl.dataTypeSelected === 'dataElements'" style="max-width: 600px">
						<d2-select-data-element
								multiple="false"
								ng-model="addCtrl.externalDataSelected">
						</d2-select-data-element>
					</div>

					<!-- INDICATORS -->
					<div ng-if="addCtrl.dataTypeSelected === 'indicators'" style="max-width: 600px">
						<d2-select-indicator
								ng-model="addCtrl.externalDataSelected"
								multiple="false">
						</d2-select-indicator>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th>Routine data numerator</th>
			<td>
				<ui-select ng-model="addCtrl.numeratorSelected" theme="bootstrap" style="width: 100%;">
					<ui-select-match placeholder="Select numerator...">
						{{addCtrl.numeratorSelected.name}}
					</ui-select-match>
					<ui-select-choices
							repeat="obj in addCtrl.numerators | filter: $select.search">
						<div ng-bind-html="obj.name | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</td>
		</tr>
		<tr>
			<th>Routine data denominator</th>
			<td>
				<ui-select ng-model="addCtrl.denominatorSelected" theme="bootstrap" style="width: 100%;">
					<ui-select-match placeholder="Select denominator...">
						{{addCtrl.denominatorSelected.name}}
					</ui-select-match>
					<ui-select-choices
							repeat="obj in addCtrl.denominators | filter: $select.search">
						<div ng-bind-html="obj.name | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</td>
		</tr>
		<tr>
			<th>Threshold (+/- %)</th>
			<td><input type="number" class="form-control" style="width: 100px;" ng-model="addCtrl.criteria"/></td>
		</tr>
		<tr>
			<th>Survey level</th>
			<td><d2-select ng-model="addCtrl.levelSelected" options="addCtrl.levels" placeholder="Select organisation unit level..."></d2-select></td>
		</tr>
	</table>

	<div style="margin-bottom: 10px;">
		<strong>Threshold</strong> denotes the % difference between external and routine data that is accepted.
	</div>

	<div class="modal-footer" style="clear: both;">
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.cancel()">Cancel</button>
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.save()" ng-disabled="addCtrl.dataTypeSelected === undefined || addCtrl.externalDataSelected === undefined || addCtrl.numeratorSelected === undefined || addCtrl.denominatorSelected === undefined || addCtrl.criteria === undefined">Save</button>
	</div>