<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="modal-header">
<h3>{{mapCtrl.indicator.displayName}}</h3>
</div>
<div class="modal-body">

<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<td><input ng-disabled="!mapCtrl.custom" type="text" style="width: 100%;" ng-model="mapCtrl.name"/></td>
	</tr>
	<tr>
		<th>Definition</th>
		<td><textarea ng-disabled="!mapCtrl.custom" style="width: 100%;" ng-model="mapCtrl.definition"></textarea></td>
	<tr>
		<th>Groups</th>
		<td>
			<d2-select multiple="true"
					   ng-model="mapCtrl.groupsSelected"
					   options="mapCtrl.groups"
					   placeholder="Select groups...">
			</d2-select>
		</td>
	</tr>
	<tr>
		<th>Core</th>
		<td>
			<input type="checkbox" value="mapCtrl.core" ng-model="mapCtrl.core">
		</td>
	</tr>
</table>

<label>Data mapping</label>
	<div style="max-width: 600px">
		<div class="btn-group btn-group-justified" style="width: 120px; margin-bottom: 10px; display: inline-block;">
			<label class="btn btn-default" ng-model="mapCtrl.dataTypeSelected" uib-btn-radio="'dataElements'">Data element</label>
			<label class="btn btn-default" ng-model="mapCtrl.dataTypeSelected" uib-btn-radio="'indicators'">Indicator</label>
		</div>

		<!-- DATA ELEMENTS -->
		<div ng-if="mapCtrl.dataTypeSelected === 'dataElements'" style="max-width: 600px">
			<d2-select-data-element
					multiple="false"
					ng-model="mapCtrl.dataSelected"
					on-select="mapCtrl.updateDataSetList(object); mapCtrl.updateDataElementOperandList();">
			</d2-select-data-element>
		</div>

		<!-- INDICATORS -->
		<div ng-if="mapCtrl.dataTypeSelected === 'indicators'" style="max-width: 600px">
			<d2-select-indicator
					ng-model="mapCtrl.dataSelected"
					multiple="false"
					on-select="mapCtrl.updateDataSetList(object); mapCtrl.updateDataElementOperandList();">
			</d2-select-indicator>
		</div>
	</div>

	<label>Dataset for completeness</label>
	<d2-select multiple="false"
			   ng-model="mapCtrl.dataSetSelected"
			   options="mapCtrl.dataSets"
				placeholder="Select data set...">
	</d2-select>

	<label>Variable for completeness</label>
	<d2-select multiple="false"
			   ng-model="mapCtrl.dataCompletenessSelected"
			   options="mapCtrl.dataCompleteness"
			   placeholder="Select variable...">
	</d2-select>

<span ng-if="mapCtrl.dataSelected && mapCtrl.name && mapCtrl.name.length > 0">
	<hr />
	<p >"<em>{{mapCtrl.name}}</em>" will be mapped to "{{mapCtrl.dataSelected.displayName}}".</em></p>
	</span>

</div>
<div class="modal-footer" style="clear: both;">     
    <button type="button" class="btn btn-default" data-ng-click="mapCtrl.cancel()">Cancel</button>
    <button type="button" class="btn btn-default" data-ng-click="mapCtrl.save()" ng-disabled="!mapCtrl.name || mapCtrl.name === '' || !mapCtrl.dataSelected || !mapCtrl.dataSetSelected || !mapCtrl.dataCompletenessSelected || mapCtrl.groupsSelected.length === 0">Save</button>
</div>