<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="modal-header">
	<h3>{{addCtrl.title}}</h3>
</div>
<div class="modal-body">

	<table class="table table-bordered">
		<tr>
			<th>
				Name
			</th>
			<td>
				<input type="text" class="form-control" ng-model="addCtrl.name"/>
			</td>
		</tr>
		<tr>
			<th>Survey/external indicator</th>
			<td>
				<div style="width: 400px">
					<div class="btn-group btn-group-justified" style="width: 120px; margin-bottom: 10px; display: inline-block;" ng-init="addCtrl.dataTypeSelected = 'dataElements'">
						<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'dataElements'">Data element</label>
						<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'indicators'">Indicator</label>
					</div>

					<!-- DATA ELEMENTS -->
					<div ng-if="addCtrl.dataTypeSelected === 'dataElements'" style="max-width: 600px">
						<d2-select-data-element
								multiple="false"
								ng-model="addCtrl.externalDataSelected">
						</d2-select-data-element>
					</div>

					<!-- INDICATORS -->
					<div ng-if="addCtrl.dataTypeSelected === 'indicators'" style="max-width: 600px">
						<d2-select-indicator
								ng-model="addCtrl.externalDataSelected"
								multiple="false">
						</d2-select-indicator>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th>Routine data numerator</th>
			<td>
				<ui-select ng-model="addCtrl.numeratorSelected" theme="bootstrap" style="width: 100%;">
					<ui-select-match placeholder="Select numerator...">
						{{addCtrl.numeratorSelected.name}}
					</ui-select-match>
					<ui-select-choices
							repeat="obj in addCtrl.numerators | filter: $select.search">
						<div ng-bind-html="obj.name | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</td>
		</tr>
		<tr>
			<th>Routine data denominator</th>
			<td>
				<ui-select ng-model="addCtrl.denominatorSelected" theme="bootstrap" style="width: 100%;">
					<ui-select-match placeholder="Select denominator...">
						{{addCtrl.denominatorSelected.name}}
					</ui-select-match>
					<ui-select-choices
							repeat="obj in addCtrl.denominators | filter: $select.search">
						<div ng-bind-html="obj.name | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</td>
		</tr>
		<tr>
			<th>Threshold (+/- %)</th>
			<td><input type="number" class="form-control" style="width: 100px;" ng-model="addCtrl.criteria"/></td>
		</tr>
		<tr>
			<th>Survey level</th>
			<td><d2-select ng-model="addCtrl.levelSelected" options="addCtrl.levels" placeholder="Select organisation unit level..."></d2-select></td>
		</tr>
	</table>

	<div style="margin-bottom: 10px;">
		<strong>Threshold</strong> denotes the % difference between external and routine data that is accepted.
	</div>

	<div class="modal-footer" style="clear: both;">
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.cancel()">Cancel</button>
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.save()"
				ng-disabled="!addCtrl.externalDataSelected || !addCtrl.numeratorSelected || !addCtrl.denominatorSelected || !addCtrl.criteria || !addCtrl.name || !addCtrl.levelSelected">Save</button>
	</div>