<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="modal-header">
	<h3>{{addCtrl.title}}</h3>
</div>
<div class="modal-body">

	<table class="table table-bordered">
		<tr>
			<th>Type</th>
			<td>
				<d2-select ng-model="addCtrl.typeSelected" options="addCtrl.types" placeholder="Select type"></d2-select>
			</td>
		</tr>
		<tr>
			<th>Denominator</th>
			<td style="width: 400px">
				<div class="btn-group btn-group-justified" style="width: 120px; margin-bottom: 10px; display: inline-block;">
					<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'dataElements'">Data element</label>
					<label class="btn btn-default" ng-model="addCtrl.dataTypeSelected" uib-btn-radio="'indicators'">Indicator</label>
				</div>

				<!-- DATA ELEMENTS -->
				<div ng-if="addCtrl.dataTypeSelected === 'dataElements'" style="max-width: 600px">
					<d2-select-data-element
							multiple="false"
							ng-model="addCtrl.dataSelected"
							on-select="addCtrl.updateDataSetList(object);">
					</d2-select-data-element>
				</div>

				<!-- INDICATORS -->
				<div ng-if="addCtrl.dataTypeSelected === 'indicators'" style="max-width: 600px">
					<d2-select-indicator
							ng-model="addCtrl.dataSelected"
							multiple="false"
							on-select="addCtrl.updateDataSetList(object);">
					</d2-select-indicator>
				</div>
			</td>
		</tr>
		<tr>
			<th>Lowest available level</th>
			<td>
				<d2-select ng-model="addCtrl.lowLevel" options="addCtrl.levels" placeholder="Select level..."></d2-select>
			</td>
		</tr>
	</table>

	<div class="modal-footer" style="clear: both;">
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.cancel()">Cancel</button>
		<button type="button" class="btn btn-default" data-ng-click="addCtrl.save()" ng-disabled="addCtrl.dataSelected === undefined || addCtrl.lowLevel === undefined || addCtrl.typeSelected === undefined">Save</button>
	</div>