<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<h3>Administration</h3>
	<h4 ng-if="!admCtrl.isAdmin">You do not have access to change the configuration.</h4>
	<p>This module is used for configuring the Data Quality Tool, and mapping the proposed data quality indicators to
		data elements and indicators in the	DHIS 2 database. This configuration is used as the basis for the Annual
		Report, and the numerator and numerator group configuration is also used for the Dashboard.</p>

	<uib-tabset>
		<uib-tab heading="Numerators">
			<br />
			<p>Please map the reference numerators to the corresponding data element/indicator in this database.</p>
			<table class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Group</th>
					<th>Reference numerator</th>
					<th>Core</th>
					<th>Data element/indicator</th>
					<th>Dataset</th>
					<th width="100px"></th>
				</tr>
				<tr ng-repeat="indicator in admCtrl.numerators| orderBy:admCtrl.numeratorSort">
					<td class="vert-align">{{admCtrl.dataGroups(indicator.code)}}</td>
					<td class="vert-align">{{indicator.name}}</td>
					<td class="vert-align" style="text-align: center;">
							<span ng-if="admCtrl.isCore(indicator.code)" class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="vert-align">{{admCtrl.d2NameFromID(indicator.dataID)}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromID(indicator.dataSetID)}}</td>
					<td class="vert-align" align="center">
						<button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.numeratorMap(indicator.code);" class="btn btn-default btn-xs">Edit</button><button ng-disabled="!admCtrl.isAdmin" ng-if="indicator.custom" style="margin-left: 5px; width: 50px;" ng-click="admCtrl.numeratorDelete(indicator.code);" class="btn btn-danger btn-xs">Delete</button><button ng-if="!indicator.custom" ng-disabled="!indicator.dataID || !admCtrl.isAdmin" style="margin-left: 5px; width: 50px" ng-click="admCtrl.numeratorClear(indicator.code);" class="btn btn-warning btn-xs">Clear</button></td>
				</tr>
			<tfoot>
			<tr><td colspan="6"><button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-primary pull-right btn-sm" ng-click="admCtrl.numeratorMap(null);" style="width: 90px;">Add</button></td></tr></tfoot>
			</table>
			
		</uib-tab>

		<uib-tab heading="Numerator groups">
			<br />
			<p>Add and remove numerators to/from groups, and to add new groups.</p>
			<div ng-repeat="group in admCtrl.groups |orderBy: 'name'">
				<h4>{{group.name}}</h4>
				<table class="table table-bordered table-striped table-condensed table-hover" style="max-width: 600px;">
					<tr>
						<th>Data</th>
						<th nowrap style="width: 60px;"></th>
					</tr>
					<tr ng-repeat="indicator in admCtrl.getIndicatorsInGroup(group.code) | orderBy: 'name'">
						<td class="vert-align">{{indicator.name}}</td>
						<td class="vert-align" align="middle"><button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.groupRemoveNumerators(group.code, indicator.code);" class="btn btn-danger btn-xs" style="width: 60px">Remove</button></td>
					</tr>
					<tr ng-if="admCtrl.isAdmin">
						<td class="vert-align"><ui-select ng-model="admCtrl.groupSelect[group.code]"  style="max-width: 500px;">
						  <ui-select-match  placeholder="Select item to add to {{group.name}} group...">
						  	{{admCtrl.groupSelect[group.code].name}}
						  </ui-select-match>
						  <ui-select-choices 
						  	repeat="obj in admCtrl.numerators | filter: $select.search | filter: admCtrl.groupFilter(group.members)">
						   		<div ng-bind-html="obj.name | highlight: $select.search"></div>
						</ui-select-choices>
						</ui-select></td>
						<td class="vert-align"><button style="width: 60px" ng-disabled="!admCtrl.groupSelect[group.code] || !admCtrl.isAdmin" ng-click="admCtrl.groupAddNumerators(group.code)" class="btn btn-success">Add</button></td>
					</tr>
					
				</table>
			</div>
			<hr style="margin: 20px;"/>
			<button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-primary" ng-click="admCtrl.groupAdd();" style="margin: 5px;">Add Group</button>
			<button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-danger" ng-click="admCtrl.groupDelete();" style="margin:5px">Delete Group</button>
		</uib-tab>

		<uib-tab heading="Numerator relations">
		<br />
					<table class="table table-bordered table-striped table-condensed table-hover minimized">
						<tr>
							<th nowrap>Name</th>
							<th nowrap>Numerator A</th>
							<th nowrap>Numerator B</th>
							<th nowrap>Type</th>
							<th nowrap>Threshold (%)</th>
							<th nowrap>Threshold explanation</th>
							<th nowrap>Description</th>
							<th></th>
						</tr>
						<tr ng-repeat="relation in admCtrl.relations | orderBy:['A', 'B']:false">
							<td class="vert-align">{{relation.name}}</td>
							<td class="vert-align">{{admCtrl.d2NameFromCode(relation.A);}}</td>
							<td class="vert-align">{{admCtrl.d2NameFromCode(relation.B);}}</td>
							<td class="vert-align">{{admCtrl.relationType(relation.type).displayName}}</td>
							<td class="vert-align" align="middle">{{relation.criteria}}</td>
							<td class="vert-align">{{admCtrl.relationType(relation.type).thresholdDescription;}}</td>
							<td class="vert-align">{{admCtrl.relationType(relation.type).description;}}</td>
							<td nowrap align="middle"><button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.editRelation(relation);" class="btn btn-default btn-xs" style="width: 60px;">Edit</button><button style="margin-left: 5px; width: 60px;" ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.deleteRelation(relation.code);" class="btn btn-danger btn-xs">Delete</button></td>
						</tr>
						<tfoot>
						<tr><td colspan="8"><button ng-disabled="!admCtrl.isAdmin" style="width: 125px" ng-click="admCtrl.editRelation(null);" class="btn btn-primary pull-right btn-sm">Add</button></td></tr>
						</tfoot>
					</table>						
				</uib-tab>

		<uib-tab heading="Numerator quality parameters">
			<h4>Numerator parameters</h4>
			<p>Modify parameters for each numerator. Only data elements/indicators mapped to the database are displayed.</p>
			<ul>
				<li><em>Moderate outliers:</em> Number of standard deviations (SD) from the mean for a values to quality
					as a moderate outlier.</li>
				<li><em>Extreme outliers:</em> Number of standard deviations (SD) from the mean for a values to quality
					as an extreme outlier.</li>
				<li><em>Consistency:</em> Threshold for consistency over time (percentage change over time).</li>
				<li><em>Expected trend:</em> Whether the numerator value is expected to be constant over time or
					increase/decrease.</li>
				<li><em>Missing/zero values:</em> Whether to compare consistency over time across organisation units,
					or to the expected change (e.g. constant or increasing/decreasing).</li>
				<li><em>Missing/zero values:</em> Threshold for missing/zero values for variable completeness.
					Note: when zero values are not stored for a data element, zeros and missing are not differentiated.</li>
			</ul>
			<table class="table table-bordered table-striped table-condensed table-hover minimized">
				<tr>
					<th>Group</th>
					<th>Reference indicator/data element</th>
					<th>Local data element/indicator</th>
					<th>Moderate outlier (SD)</th>
					<th>Extreme outlier (SD)</th>
					<th>Consistency (%)</th>
					<th>Expected trend</th>
					<th>Compare orgunit consistency with</th>
					<th>Missing/zero values (%)</th>
				</tr>
				<tr ng-repeat="indicator in admCtrl.numerators| filter: {dataID: ''} | orderBy:admCtrl.numeratorSort">
					<td class="vert-align">{{admCtrl.dataGroups(indicator.code)}}</td>
					<td class="vert-align">{{indicator.name}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromID(indicator.dataID)}}</td>
					<td class="vert-align" align="middle">
						<select ng-disabled="!admCtrl.isAdmin" ng-model="indicator.moderateOutlier" ng-options="opts.val as opts.label for opts in admCtrl.outlierOptionsModerate">
						</select>
					</td>
					<td class="vert-align" align="middle">
						<select ng-disabled="!admCtrl.isAdmin" ng-model="indicator.extremeOutlier" ng-options="opts.val as opts.label for opts in admCtrl.outlierOptionsExtreme">
						</select>
					</td>
					<td align="middle" style="width: 150px;" class="vert-align"><input ng-disabled="!admCtrl.isAdmin" type="number" style="text-align: right;" ng-model="indicator.consistency" min="0" max="100"/></td>
					<td align="middle" style="width: 150px;" class="vert-align"><select ng-disabled="!admCtrl.isAdmin" ng-model="indicator.trend">
						<options>
							<option value="constant">Constant</option>
							<option value="increasing">Increasing</option>
							<option value="decreasing">Decreasing</option>
						</options></select></td>
					<td align="middle" style="width: 150px;" class="vert-align"><select ng-disabled="!admCtrl.isAdmin" ng-model="indicator.comparison">
					<options>
						<option value="ou">Overall result</option>
						<option value="th">Expected result</option>
					</options></select></td>
					<td align="middle" style="width: 150px;" class="vert-align"><input ng-disabled="!admCtrl.isAdmin" type="number" style="text-align: right;" ng-model="indicator.missing" min="0" max="100"/></td>
				</tr>
			</table>
			<h4>Dataset completeness</h4>
			<div style="max-width: 1000px;">
				<p>Set the thresholds for various completeness in the table below. Only dataset linked to indicators are displayed.</p>
				<ul>
					<li><em>Completeness:</em> Threshold for completeness of reporting.</li>
					<li><em>Timeliness:</em> Threshold for timeliness of reporting.</li>
					<li><em>Consistency:</em> Threshold for consistency of completeness of reporting over time
						(percentage change over time).</li>
					<li><em>Expected trend:</em> Whether the completeness is expected to be constant over time or
						increase/decrease.</li>
					<li><em>Compare orgunit consistency with:</em> Whether to compare consistency over time across
						organisation units, or to the expected change (e.g. constant or increasing/decreasing).</li>
				</ul>
				<table class="table table-bordered table-striped table-condensed table-hover minimized">
					<tr>
						<th>Data set</th>
						<th>Completeness (%)</th>
						<th>Timeliness(%)</th>
						<th>Consistency (%)</th>
						<th>Expected trend</th>
						<th>Compare orgunit consistency with</th>
					</tr>
					<tr ng-class="{danger: !dataSet.threshold}" ng-repeat="dataSet in admCtrl.dataSets  | orderBy:['name']:false">
						<td class="vert-align">{{dataSet.name}}</td>
						<td align="middle" class="vert-align"><input ng-disabled="!admCtrl.isAdmin" style="text-align: right;" type="number" ng-model="dataSet.threshold" min="0" max="100"/></td>
						<td align="middle" class="vert-align"><input ng-disabled="!admCtrl.isAdmin" style="text-align: right;" type="number" ng-model="dataSet.timelinessThreshold" min="0" max="100"/></td>
						<td align="middle" class="vert-align"><input ng-disabled="!admCtrl.isAdmin" style="text-align: right;" type="number" ng-model="dataSet.consistencyThreshold" min="0" max="100"/></td>
						<td align="middle" class="vert-align">
							<select ng-disabled="!admCtrl.isAdmin" ng-model="dataSet.trend">
								<options>
									<option value="constant">Constant</option>
									<option value="increasing">Increasing</option>
									<option value="decreasing">Decreasing</option>
								</options></select>
						</td>
						<td align="middle" class="vert-align">
							<select ng-disabled="!admCtrl.isAdmin" ng-model="dataSet.comparison">
								<options>
									<option value="ou">Overall result</option>
									<option value="th">Expected result</option>
								</options>
							</select>
						</td>

					</tr>
				</table>
			</div>
			<button style="margin-bottom: 20px" ng-disabled="!admCtrl.isAdmin" class="btn btn-primary pull-right" ng-click="admCtrl.saveParameterChanges();">Save changes</button>

		</uib-tab>

		<uib-tab heading="Denominators">
			<br />
			<p>Please map alternative denominators for comparison, for example denominiators from the National Bureau of Statistics
				with denominators used by health programmes.</p>
			<table class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Data element/indicator</th>
					<th>Type</th>
					<th width="100px"></th>
				</tr>
				<tr ng-repeat="denominator in admCtrl.denominators | orderBy:'type'">
					<td class="vert-align">{{admCtrl.d2NameFromID(denominator.dataID)}}</td>
					<td class="vert-align">{{admCtrl.denominatorNameFromCode(denominator.type).displayName}}</td>
					<td class="vert-align" align="center">
						<button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.editDenominator(denominator);" class="btn btn-default btn-xs">Edit</button>
						<button ng-disabled="!admCtrl.isAdmin || denominator.type === 'un'" ng-click="admCtrl.deleteDenominator(denominator.code);" class="btn btn-danger btn-xs">Delete</button></td>
				</tr>
				<tfoot>
				<tr><td colspan="6"><button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-primary pull-right btn-sm" ng-click="admCtrl.editDenominator(null);" style="width: 90px;">Add</button></td></tr></tfoot>
			</table>

		</uib-tab>


		<uib-tab heading="Denominator relations">
			<br />
			<p>Please map alternative denominators for comparison, for example denominiators from the National Bureau of Statistics
				with denominators used by health programmes.</p>
			<table class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Name</th>
					<th>Denominator A</th>
					<th>Denominator B</th>
					<th>Criteria</th>
					<th width="100px"></th>
				</tr>
				<tr ng-repeat="relation in admCtrl.denominatorRelations | orderBy:'type'">
					<td class="vert-align">{{relation.name}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromCode(relation.A)}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromCode(relation.B)}}</td>
					<td class="vert-align">{{relation.criteria}} %</td>
					<td class="vert-align" align="center">
						<button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.editDenominatorRelation(relation);" class="btn btn-default btn-xs">Edit</button>
						<button ng-disabled="!admCtrl.isAdmin || relation.type === 'un'" ng-click="admCtrl.deleteDenominatorRelation(relation.code);" class="btn btn-danger btn-xs">Delete</button></td>
				</tr>
				<tfoot>
				<tr><td colspan="6"><button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-primary pull-right btn-sm" ng-click="admCtrl.editDenominatorRelation(null);" style="width: 90px;">Add</button></td></tr></tfoot>
			</table>

		</uib-tab>

		<uib-tab heading="External data comparison">
			<br />
			<p>Please identify external (survey) data that can be used for comparison with routine data, e.g. ANC coverage,
				immunisation coverage etc. The "external data" should refer to calculated survey result (e.g. a percentage),
				whilst the numerator and denominator refer to the raw data.
			</p>
			<table class="table table-bordered table-striped table-condensed table-hover">
				<tr>
					<th>Name</th>
					<th>Survey/external indicator</th>
					<th>Routine data numerator</th>
					<th>Routine data denominator</th>
					<th>Criteria</th>
					<th>Level</th>
					<th width="100px"></th>
				</tr>
				<tr ng-repeat="relation in admCtrl.externalRelations | orderBy:'type'">
					<td class="vert-align">{{relation.name}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromID(relation.externalData)}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromCode(relation.numerator)}}</td>
					<td class="vert-align">{{admCtrl.d2NameFromCode(relation.denominator)}}</td>
					<td class="vert-align">{{relation.criteria}} %</td>
					<td class="vert-align">{{admCtrl.d2OrgunitLevelNameFromLevel(relation.level)}}</td>
					<td class="vert-align" align="center">
						<button ng-disabled="!admCtrl.isAdmin" ng-click="admCtrl.editExternalRelation(relation);" class="btn btn-default btn-xs">Edit</button>
						<button ng-disabled="!admCtrl.isAdmin || denominator.type === 'un'" ng-click="admCtrl.deleteExternalRelation(relation.code);" class="btn btn-danger btn-xs">Delete</button></td>
				</tr>
				<tfoot>
				<tr><td colspan="7"><button ng-disabled="!admCtrl.isAdmin" type="button" class="btn btn-primary pull-right btn-sm" ng-click="admCtrl.editExternalRelation(null);" style="width: 90px;">Add</button></td></tr></tfoot>
			</table>

		</uib-tab>

			
	</uib-tabset>