<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="reportPart">
	<div class="fullWidth headerPart">
		{{ 'DOMAIN 1: COMPLETENESS OF REPORTING' | i18next }}
	</div>

	<div class="noBreak">
		<table class="table tablePrint table-bordered table-condensed ">
			<tr bgcolor="#f9f9f9">
				<th colspan="6">
					{{ '1a: Completeness of facility reporting' | i18next }}
				</th>
			</tr>
			<tr>
				<td colspan="6">
					<em>{{ 'The percentage of expected reports that have been entered and completed.' | i18next }}</em>
				</td>
			</tr>

			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">{{ 'Data set' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Quality threshold' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Overall score' | i18next }}</th>
				<th colspan="3" width="100">{{revCtrl.selectedOrgunit.level.displayName}} {{ 'with divergent score' | i18next }}</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th width="100">{{ 'Number' | i18next }}</th>
				<th width="100">{{ 'Percent' | i18next }}</th>
				<th>{{ 'Name' | i18next }}</th>
			</tr>
			<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy : 'dxName'">
				<td>{{dataset.dxName}}</td>
				<td>{{dataset.threshold}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.boundaryValue}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)">{{dataset.subunitViolationNames.join(', ')}}</td>
				<td ng-if="!revCtrl.isNumber(dataset.boundaryValue)" colspan="4">{{ 'Not available' | i18next }}</td>
			</tr>
		</table>
		<h5>{{ 'Interpretations' | i18next }}</h5>
		<textarea class="interpretation"></textarea>
	</div>

	<div class="noBreak">
		<table class="table tablePrint table-bordered table-condensed ">
			<tr bgcolor="#f9f9f9">
				<th colspan="6">
					{{ '1b: Timeliness of facility reporting' | i18next }}
				</th>
			</tr>
			<tr>
				<td colspan="6">
					<em>{{ 'The percentage of expected reports that have been entered and completed on time.' | i18next }}</em>
				</td>
			</tr>

			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">{{ 'Data set' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Quality threshold' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Overall score' | i18next }}</th>
				<th colspan="3" width="100">{{revCtrl.selectedOrgunit.level.displayName}} {{ 'with divergent score' | i18next }}</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th width="100">{{ 'Number' | i18next }}</th>
				<th width="100">{{ 'Percent' | i18next }}</th>
				<th>{{ 'Name' | i18next }}</th>
			</tr>
			<tr ng-if="revCtrl.completeness.timeliness.length > 0" ng-repeat="dataset in revCtrl.completeness.timeliness | orderBy : 'dxName'">
				<td>{{dataset.dxName}}</td>
				<td>{{dataset.threshold}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.boundaryValue}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryValue)">{{dataset.subunitViolationNames.join(', ')}}</td>
				<td ng-if="!revCtrl.isNumber(dataset.boundaryValue)" colspan="4">{{ 'Not available' | i18next }}</td>
			</tr>
			<tr ng-if="revCtrl.completeness.timeliness.length === 0">
				<td colspan="6">{{ 'Not available' | i18next }}</td>
			</tr>
		</table>
		<h5>{{ 'Interpretations' | i18next }}</h5>
		<textarea class="interpretation"></textarea>
	</div>


	<div class="noBreak" ng-if="revCtrl.completeness.indicatorsDetailed.length > 0">
		<table class="table tablePrint table-bordered table-condensed ">
			<tbody>
			<tr bgcolor="#f9f9f9">
				<th colspan="8">
					{{ '1c: Completeness of indicator data' | i18next }}
				</th>
			</tr>
			<tr>
			<tr>
				<td colspan="8">
					<em>{{ 'Reports where values are not missing. If zeros are not stored, zeros are counted as missing.' | i18next }}'</em>
				</td>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">{{ 'Indicator' | i18next }}</th>
				<th rowspan="2" width="80">{{ 'Quality threshold' | i18next }}</th>
				<th rowspan="1" colspan="2" width="100">{{ 'Values' | i18next }}</th>
				<th rowspan="2" width="80">{{ 'Overall score' | i18next }}</th>
				<th colspan="3" width="400">{{revCtrl.selectedOrgunit.level.displayName}} {{ 'with divergent score' | i18next }}</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th>{{ 'Expected' | i18next }}</th>
				<th>{{ 'Actual' | i18next }}</th>
				<th>{{ 'Number' | i18next }}</th>
				<th>{{ 'Percent' | i18next }}</th>
				<th>{{ 'Name' | i18next }}</th>
			</tr>
			<tr ng-repeat="indicator in revCtrl.completeness.indicatorsDetailed | orderBy : 'dataName'">
				<td>{{indicator.dataName}}</td>
				<td>{{indicator.criteria}}%</td>
				<td class="valueCell">{{indicator.boundaryValuesExpected}}</td>
				<td class="valueCell">{{indicator.boundaryValues}}</td>
				<td ng-if="!indicator.boundaryValuesExpected" colspan="4">{{ 'Not available' | i18next }}</td>
				<td ng-if="indicator.boundaryValuesExpected" class="valueCell">{{indicator.boundaryPercentage}}%</td>
				<td ng-if="indicator.boundaryValuesExpected" class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
				<td ng-if="indicator.boundaryValuesExpected" class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
				<td ng-if="indicator.boundaryValuesExpected">{{indicator.subunitViolationNames.join(', ')}}</td>
			</tr>
			</tbody>
		</table>

		<h5>{{ 'Interpretations' | i18next }}</h5>
		<textarea class="interpretation"></textarea>
	</div>

	<div class="noBreak">

		<table class="table tablePrint table-bordered table-condensed ">
			<tr bgcolor="#f9f9f9">
				<th colspan="8">
					{{ '1d: Consistency of dataset completeness over time' | i18next }}
				</th>
			</tr>
			<tr>
				<td colspan="8">
					<em>{{ 'Completeness of datasets in' | i18next }} {{revCtrl.yearSelected.id}} {{ 'compared to previous' | i18next }} {{revCtrl.selectedRefPeriod}} years.</em>
				</td>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">{{ 'Data set' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Expected trend' | i18next }}</th>
				<th rowspan="2">{{ 'Compare' | i18next }} {{revCtrl.selectedOrgunit.level.displayName}} {{ 'to' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Quality threshold' | i18next }}</th>
				<th rowspan="2" width="100">{{ 'Overall score' | i18next }}</th>
				<th colspan="3" width="100">{{revCtrl.selectedOrgunit.level.displayName}} {{ 'with divergent score' | i18next }}</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th width="100">{{ 'Number' | i18next }}</th>
				<th width="100">{{ 'Percent' | i18next }}</th>
				<th>{{ 'Name' | i18next }}</th>
			</tr>
			<tr ng-repeat="dataset in revCtrl.completeness.consistency| orderBy:'dxNameA':false">
				<td>{{dataset.dxNameA}}</td>
				<td ng-if="dataset.subType === 'constant'" class="valueCell">{{ 'Constant' | i18next }}</td>
				<td ng-if="dataset.subType === 'increasing'" class="valueCell">{{ 'Increasing' | i18next }}</td>
				<td ng-if="dataset.subType === 'decreasing'" class="valueCell">{{ 'Decreasing' | i18next }}</td>
				<td ng-if="dataset.comparison === 'ou'" class="valueCell">{{revCtrl.selectedOrgunit.boundary.displayName}}</td>
				<td ng-if="dataset.comparison === 'th' && dataset.subType === constant" class="valueCell">{{ 'Current vs average' | i18next }}</td>
				<td ng-if="dataset.comparison === 'th'" class="valueCell">{{ 'Current vs forecast' | i18next }}</td>
				<td class="valueCell">± {{dataset.criteria}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.boundaryPercentage}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
				<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" >{{dataset.subunitViolationNames.join(', ')}}</td>
				<td ng-if="!revCtrl.isNumber(dataset.boundaryPercentage)" colspan="4">{{ 'Not available' | i18next }}</td>
			</tr>
		</table>

		<h5>{{ 'Interpretations' | i18next }}</h5>
		<textarea class="interpretation"></textarea>
	</div>


	<div style="border: 1px dashed gray" class="noBreak" >
		<h5 class="chartTitle">{{ 'Reporting completeness over time' | i18next }}</h5>
		<div class="bigChart">
			<nvd3 options='revCtrl.datasetConsistencyChart.options' data='revCtrl.datasetConsistencyChart.data'></nvd3>
		</div>
	</div>
</div>
