<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="reportPart">
	<div class="fullWidth headerPart">
		DOMAIN 3: EXTERNAL COMPARISON
	</div>


	<div class="inline fullWidth">
		<table class="table tablePrint table-bordered table-condensed" style="margin-bottom: 5px">
			<tbody>
			<tr bgcolor="#f9f9f9">
				<th>
					3a: Comparison with external/survey data
				</th>
			</tr>
			<tr>
				<td>
					<em>Consistency of routine data with data from external source, e.g. population-based surveys.</em>
				</td>
			</tr>
			<tr ng-if="revCtrl.external.length === 0">
				<td>Not available</td>
			</tr>
			</tbody>
		</table>
	</div>


	<div class="noBreak inline fullWidth"
		 style="margin-bottom: 10px;"
		 ng-repeat="relation in revCtrl.external | orderBy:'meta.name' track by $index">

		<div class="inline relationTable halfWidth" style="min-height: 300px">
			<table class="table tablePrint table-bordered table-condensed">
				<tr bgcolor="#f9f9f9">
					<th colspan="2">{{relation.meta.name}}</th>
				</tr>
				<tr>
					<td>Survey value</td>
					<td ng-if="relation.boundaryValue" class="valueCell">{{relation.boundaryValue}}%</td>
					<td ng-if="!relation.boundaryValue" class="valueCell">Not available</td>
				</tr>
				<tr>
					<td>Routine value</td>
					<td ng-if="relation.boundaryRefValue" class="valueCell">{{relation.boundaryRefValue}}%</td>
					<td ng-if="!relation.boundaryRefValue" class="valueCell">Not available</td>
				</tr>
				<tr>
					<td>Quality threshold</td>
					<td class="valueCell">± {{relation.criteria}}%</td>
				</tr>
				<tr>
					<td>Overall score</td>
					<td ng-if="relation.boundaryPercentage" class="valueCell">{{relation.boundaryPercentage}}%</td>
					<td ng-if="!relation.boundaryPercentage" class="valueCell">Not available</td>
				</tr>
				<tr >
					<td>Number of {{relation.meta.ouLimitName}} with divergent score</td>
					<td ng-if="relation.subunitDatapoints.length > 0" class="valueCell">{{relation.subunitsOutsideThreshold}}</td>
					<td ng-if="relation.subunitDatapoints.length === 0" class="valueCell">Not available</td>
				</tr>
				<tr>
					<td>Percent of {{relation.meta.ouLimitName}} with divergent score</td>
					<td ng-if="relation.subunitDatapoints.length > 0" class="valueCell">{{relation.subunitViolationPercentage}}%</td>
					<td ng-if="relation.subunitDatapoints.length === 0" class="valueCell">Not available</td>
				</tr>
				<tr class="bigRow2" ng-if="relation.subunitViolationNames.length > 0 && relation.subunitDatapoints.length > 0">
					<td colspan="2">{{relation.subunitViolationNames.join(', ')}}</td>
				</tr>
			</table>
		</div>
		<div class="inline" style="float: right" ng-if="relation.chartOptions.type === 'scatter'">
			<div class="dottedBox relationChart">
				<nvd3 options='relation.chartOptions' data='relation.chartData'></nvd3>
			</div>
		</div>
		<div class="inline" style="float: right" ng-if="relation.chartOptions.type === 'bullet'">
			<div class="dottedBox bulletChart">
				<nvd3 options='relation.chartOptions' data='relation.chartData'></nvd3>
			</div>
		</div>

		<h5 style="margin-top: 10px;">Interpretations</h5>
		<textarea class="interpretation"></textarea>
	</div>


</div>