<div class="reportPart">
	<div class="fullWidth headerPart">
		DOMAIN 2: INTERNAL CONSISTENCY OF REPORTED DATA
	</div>

	<div class="noBreak">

		<table class="table tablePrint table-bordered table-condensed ">
			<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="6">
						2a: Extreme outliers
					</th>
				</tr>
				<tr >
					<td colspan="6">
						<em>Extreme outliers, using the standard method. Threshold denotes the number of standard deviations
						from the mean. {{revCtrl.selectedOrgunit.level.displayName}} are counted as divergent if they have one or more extreme outliers for an indicator.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="200">Indicator</th>
					<th rowspan="2" width="80">Threshold</th>
					<th rowspan="2" width="80">Overall score (%)</th>
					<th colspan="3">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="110">Number</th>
					<th width="110">Percent</th>
					<th>Names</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'displayName'">
					<td>{{indicator.displayName}}</td>
					<td class="valueCell">{{indicator.extremeOutlier}} SD</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.boundaryExtreme}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.countExtreme}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.percentExtreme}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)">{{indicator.namesExtreme.join(', ')}}</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryExtreme)" colspan="5" >Not available</td>
				</tr>
			</tbody>
		</table>

		<h5>Interpretations</h5>
		<textarea class="interpretation"></textarea>
	</div>

	<div class="noBreak">
		<table class="table tablePrint table-bordered table-condensed ">
			<tbody>
			<tr bgcolor="#f9f9f9">
				<th colspan="6">
					<em>2b: Moderate outliers.</em>
				</th>
			</tr>
			<tr >
				<td colspan="6">
					<em>Moderate outliers, using the standard method. Threshold denotes the number of standard deviations
						from the mean. {{revCtrl.selectedOrgunit.level.displayName}} are counted as divergent if they have two or more moderate outliers for an indicator.</em>
				</td>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">Indicator</th>
				<th rowspan="2" width="80">Threshold</th>
				<th rowspan="2" width="80">Overall score (%)</th>
				<th colspan="3">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th width="110">Number</th>
				<th width="110">Percent</th>
				<th>Names</th>
			</tr>
			<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'displayName'">
				<td>{{indicator.displayName}}</td>
				<td class="valueCell" ng-if="indicator.moderateOutlier >= 0">{{indicator.moderateOutlier}} SD</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryModerate) && indicator.moderateOutlier >= 0" class="valueCell">{{indicator.boundaryModerate}}%</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryModerate) && indicator.moderateOutlier >= 0" class="valueCell">{{indicator.countModerate}}</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryModerate) && indicator.moderateOutlier >= 0" class="valueCell">{{indicator.percentModerate}}%</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryModerate) && indicator.moderateOutlier >= 0">{{indicator.namesModerate.join(', ')}}</td>
				<td ng-if="!revCtrl.isNumber(indicator.boundaryModerate) && indicator.moderateOutlier >= 0" colspan="4" >Not available</td>
				<td ng-if="indicator.moderateOutlier == -1" colspan="5">Not applicable</td>
			</tr>
			</tbody>
		</table>


		<h5>Interpretations</h5>
		<textarea class="interpretation"></textarea>
	</div>

	<div class="noBreak">

		<table class="table tablePrint table-bordered table-condensed ">
			<tbody>
			<tr bgcolor="#f9f9f9">
				<th colspan="6">
					2c: Moderate outliers
				</th>
			</tr>
			<tr >
				<td colspan="6">
					<em>Moderate outliers, based on median (modified Z score). Threshold denotes the number of standard deviations
						from the mean. {{revCtrl.selectedOrgunit.level.displayName}} are counted as divergent if they have two or more moderate outliers for an indicator.</em>
				</td>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th rowspan="2" width="200">Indicator</th>
				<th rowspan="2" width="80">Threshold</th>
				<th rowspan="2" width="80">Overall score (%)</th>
				<th colspan="3">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
			</tr>
			<tr bgcolor="#f9f9f9">
				<th width="110">Number</th>
				<th width="110">Percent</th>
				<th>Names</th>
			</tr>
			<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'displayName'">
				<td>{{indicator.displayName}}</td>
				<td class="valueCell" ng-if="indicator.moderateOutlier >= 0">3.5</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryZscore) && indicator.moderateOutlier >= 0"  class="valueCell">{{indicator.boundaryZscore}}%</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryZscore) && indicator.moderateOutlier >= 0"  class="valueCell">{{indicator.countZscore}}</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryZscore) && indicator.moderateOutlier >= 0"  class="valueCell">{{indicator.percentZscore}}%</td>
				<td ng-if="revCtrl.isNumber(indicator.boundaryZscore) && indicator.moderateOutlier >= 0">{{indicator.namesZscore.join(', ')}}</td>
				<td ng-if="!revCtrl.isNumber(indicator.boundaryZscore) && indicator.moderateOutlier >= 0" colspan="4" >Not available</td>
				<td ng-if="indicator.moderateOutlier == -1" colspan="5">Not applicable</td>
			</tr>
			</tbody>
		</table>

		<h5>Interpretations</h5>
		<textarea class="interpretation"></textarea>
	</div>

	<div class="fullWidth">
		<div class="noBreak" style="margin-bottom: 10px;"
			 ng-repeat="indicator in revCtrl.consistency.data | orderBy:'dxNameA' track by $index">

			<div ng-if="$index === 0" class="inline fullWidth">
				<table class="table tablePrint table-bordered table-condensed" style="margin-bottom: 5px">
					<tbody>
					<tr bgcolor="#f9f9f9">
						<th>
							2d: Consistency of indicator values over time
						</th>
					</tr>
					<tr >
						<td>
							<em>Difference between the current year and either the average of the 3 preceding years
								(if expected trend is constant), or the forecasted value.</em>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="inline relationTable">
				<table class="table tablePrint table-bordered table-condensed" style="margin-bottom: 5px">
					<tr bgcolor="#f9f9f9"><th colspan="2">{{indicator.dxNameA}}</th></tr>
					<tr>
						<td>Expected trend</td>
						<td ng-if="indicator.subType === 'constant'" class="valueCell">Constant</td>
						<td ng-if="indicator.subType === 'increasing'" class="valueCell">Increasing</td>
						<td ng-if="indicator.subType === 'decreasing'" class="valueCell">Decreasing</td>
					</tr>
					<tr>
						<td>Compare {{revCtrl.selectedOrgunit.level.displayName}} to</td>
						<td ng-if="indicator.comparison === 'ou'" class="valueCell">{{revCtrl.selectedOrgunit.boundary.displayName}}</td>
						<td ng-if="indicator.comparison === 'th' && indicator.subType === constant" class="valueCell">Current vs average</td>
						<td ng-if="indicator.comparison === 'th'" class="valueCell">Current vs forecast</td>
					</tr>
					<tr>
						<td>Quality threshold</td>
						<td class="valueCell">± {{indicator.criteria}}%</td>
					</tr>
					<tr>
						<td>Overall score (%)</td>
						<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.boundaryPercentage}}%</td>
					</tr>
					<tr>
						<td>Number of {{revCtrl.selectedOrgunit.level.displayName}} with divergent score</td>
						<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
					</tr>
					<tr>
						<td>Percent of {{revCtrl.selectedOrgunit.level.displayName}} with divergent score</td>
						<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
					</tr>
					<tr class="bigRow1">
						<td colspan="2">{{indicator.subunitViolationNames.join(', ')}}</td>
					</tr>
				</table>

				<!--Line chart with last 4 years of data-->
				<div class="tinyChart" style="border: 1px dashed gray;">
					<nvd3 options='indicator.trendChartOptions' data='indicator.trendChartData'></nvd3>
				</div>
			</div>
			<div class="inline" style="float: right">
				<div class="dottedBox relationChartBig">
					<nvd3 options='indicator.chartOptions' data='indicator.chartData'></nvd3>
				</div>
			</div>

			<h5 style="margin-top: 10px;">Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>
	</div>


	<div class="noBreak inline fullWidth"
		 style="margin-bottom: 10px;"
		 ng-repeat="relation in revCtrl.consistency.relations | orderBy:'meta.name' track by $index">

		<div ng-if="$index === 0" class="inline fullWidth">
			<table class="table tablePrint table-bordered table-condensed" style="margin-bottom: 5px">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th>
						2e: Consistency between related indicators
					</th>
				</tr>
				<tr >
					<td>
						<em>Consistency between reported values for two related indicators within the same year.</em>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="inline relationTable">
			<table class="table tablePrint table-bordered table-condensed">
				<tr bgcolor="#f9f9f9"><th colspan="2">{{revCtrl.relationName(relation.relationCode)}}</th></tr>
				<tr>
					<td>Indicator A</td>
					<td class="valueCell">{{relation.dxNameA}}</td>
				</tr>
				<tr>
					<td>Indicator B</td>
					<td class="valueCell">{{relation.dxNameB}}</td>
				</tr>
				<tr>
					<td>Expected relationship</td>
					<td class="valueCell">{{revCtrl.relationType(relation.subType).displayName}}</td>
				</tr>
				<tr>
					<td>Quality threshold</td>
					<td class="valueCell"  ng-if="relation.subType != 'do'">± {{relation.criteria}} %</td>
					<td class="valueCell" ng-if="relation.subType === 'do'">Not negative</td>
				</tr>
				<tr>
					<td>Overall score</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.boundaryPercentage}}%</td>
					<td class="valueCell" rowspan="3" ng-if="!revCtrl.isNumber(relation.boundaryPercentage)">Not available</td>
				</tr>
				<tr>
					<td>Number of {{revCtrl.selectedOrgunit.level.displayName}} with divergent score</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.subunitsOutsideThreshold}}</td>
				</tr>
				<tr>
					<td>Percent of {{revCtrl.selectedOrgunit.level.displayName}} with divergent score</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.subunitViolationPercentage}}%</td>
				</tr>
				<tr class="bigRow3">
					<td colspan="2">{{relation.subunitViolationNames.join(', ')}}</td>
				</tr>
			</table>
		</div>
		<div class="inline" style="float: right">
			<div class="dottedBox relationChartMid">
				<nvd3 options='relation.chartOptions' data='relation.chartData'></nvd3>
			</div>
		</div>

		<h5 style="margin-top: 10px;">Interpretations</h5>
		<textarea class="interpretation"></textarea>
	</div>
</div>