
<div class="reportPart">
	<div class="fullWidth headerPart">
		SUMMARY
	</div>
	<div>
		<div class="noBreak">

			<div class="fullWidth headerSection">
				Domain 1: Completeness
			</div>

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						1a: Completeness of facility reporting
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>The percentage of expected reports that have been entered and completed.</em>
					</td>
				</td>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Dataset</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy : 'dxName'">
					<td>{{dataset.dxName}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.boundaryValue}}%</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(dataset.boundaryValue)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						1b: Timeliness of facility reporting
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>The percentage of expected reports that have been entered and completed on time.</em>
					</td>
					</td>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Dataset</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-if="revCtrl.completeness.timeliness.length > 0" ng-repeat="dataset in revCtrl.completeness.timeliness | orderBy : 'dxName'">
					<td>{{dataset.dxName}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.boundaryValue}}%</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryValue)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(dataset.boundaryValue)" colspan="3">Not available</td>
				</tr>
				<tr ng-if="revCtrl.completeness.timeliness.length === 0">
					<td colspan="6">Not available</td>
				</tr>

				</tbody>
			</table>
		</div>

		<div class="noBreak" ng-if="revCtrl.completeness.indicators.length > 0">
			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						1c: Completeness of indicator data
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Missing or zero values</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'dxName'">
					<td>{{indicator.dxName}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryValue)" class="valueCell">{{indicator.boundaryValue}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryValue)" class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryValue)" class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryValue)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>


		<div class="noBreak" ng-if="revCtrl.completeness.indicatorsDetailed.length > 0">
			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						1c: Completeness of indicator data
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Reports where values are not missing. If zeros are not stored, zeros are counted as missing.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.completeness.indicatorsDetailed | orderBy : 'dataName'">
					<td>{{indicator.dataName}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.boundaryPercentage}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryPercentage)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">
			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						1d: Consistency of dataset completeness over time
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Completeness of datasets in {{revCtrl.yearSelected.id}} compared to previous three years.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Dataset</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="dataset in revCtrl.completeness.consistency | orderBy:'dxNameA'">
					<td>{{dataset.dxNameA}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.boundaryPercentage}}%</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(dataset.boundaryPercentage)" class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(dataset.boundaryPercentage)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">
			<div class="fullWidth headerSection">
				Domain 2: Internal consistency
			</div>

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>2a: Extreme outliers.</em>
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Extreme outliers, using the standard method. Threshold denotes the number of standard deviations
							from the mean.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'displayName'">
					<td>{{indicator.displayName}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.boundaryExtreme}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.countExtreme}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryExtreme)" class="valueCell">{{indicator.percentExtreme}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryExtreme)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>2b: Moderate outliers.</em>
						Outliers relative to the mean.
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Moderate outliers, using the standard method. Threshold denotes the number of standard deviations
							from the mean.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'displayName'">
					<td>{{indicator.displayName}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryModerate)" class="valueCell">{{indicator.boundaryModerate}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryModerate)" class="valueCell">{{indicator.countModerate}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryModerate)" class="valueCell">{{indicator.percentModerate}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryModerate)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>2c: Moderate outliers.</em>
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Moderate outliers, based on median (modified Z score). Threshold denotes the number of standard deviations
							from the mean.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'displayName'">
					<td>{{indicator.displayName}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryZscore)" class="valueCell">{{indicator.boundaryZscore}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryZscore)"class="valueCell">{{indicator.countZscore}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryZscore)"class="valueCell">{{indicator.percentZscore}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryZscore)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">
			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>2d: Consistency over time.</em>
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Difference between the current year and either the average of the 3 preceding years
							(if expected trend is constant), or the forecasted value.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.consistency.data | orderBy:'dxNameA'">
					<td>{{indicator.dxNameA}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.boundaryPercentage}}%</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(indicator.boundaryPercentage)" class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(indicator.boundaryPercentage)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="noBreak">

			<table class="table tablePrint table-bordered table-condensed ">
				<tbody>
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>2e: Consistency between related indicators.</em>
					</th>
				</tr>
				<tr>
					<td colspan="4">
						<em>Consistency between reported values for two related indicators within the same year.</em>
					</td>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="relation in revCtrl.consistency.relations | orderBy:'meta.name'">
					<td>{{revCtrl.relationName(relation.relationCode)}}</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.boundaryPercentage}}%</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.subunitsOutsideThreshold}}</td>
					<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.subunitViolationPercentage}}%</td>
					<td ng-if="!revCtrl.isNumber(relation.boundaryPercentage)" colspan="3">Not available</td>
				</tr>
				</tbody>
			</table>
		</div>


		<div class="noBreak">
			<div class="fullWidth headerSection">
				Domain 3: External Comparison
			</div>
				<table class="table tablePrint table-bordered table-condensed ">
					<tbody>
					<tr>
						<td colspan="4">
							<em>3a: Comparison of routine data with survey values.</em>
						</td>
					</tr>
					<tr bgcolor="#f9f9f9">
						<th rowspan="2" width="275">Indicator</th>
						<th rowspan="2" width="175">Overall score</th>
						<th colspan="3" width="175">Subunits with divergent score</th>
					</tr>
					<tr bgcolor="#f9f9f9">
						<th width="175">Level</th>
						<th width="175">Number</th>
						<th width="175">Percent</th>
					</tr>
					<tr ng-repeat="relation in revCtrl.external | orderBy:'meta.name' track by $index">
						<td>{{relation.meta.name}}</td>
						<td ng-if="revCtrl.isNumber(relation.boundaryPercentage)" class="valueCell">{{relation.boundaryPercentage}}%</td>
						<td ng-if="revCtrl.isNumber(relation.boundaryPercentage) && relation.ouLimit > 1" class="valueCell">{{relation.meta.ouLimitName}}</td>
						<td ng-if="revCtrl.isNumber(relation.boundaryPercentage) && relation.ouLimit > 1" class="valueCell">{{relation.subunitsOutsideThreshold}}</td>
						<td ng-if="revCtrl.isNumber(relation.boundaryPercentage) && relation.ouLimit > 1" class="valueCell">{{relation.subunitViolationPercentage}}%</td>
						<td ng-if="!revCtrl.isNumber(relation.boundaryPercentage) || relation.ouLimit <= 1" colspan="3">Not available</td>
					</tr>
					</tbody>
				</table>
			</div>


		</div>


		<div class="noBreak">
			<div class="fullWidth headerSection">
				Domain 4: Consistency of Population Data
			</div>

			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tr bgcolor="#f9f9f9">
					<th colspan="2">
						<em>4a: Consistency with UN projections.</em>
					</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="275">Indicator</th>
					<th width="175">Overall score</th>
				</tr>
				<tr>
					<td>Consistency with United Nations Population Projections for Live Births</td>
					<td ng-if="revCtrl.denominators.un">{{revCtrl.denominators.un.boundaryRatio}}%</td>
					<td ng-if="!revCtrl.denominators.un">Not available</td>
				</tr>
			</table>
		</div>
		<div class="noBreak">
			<table class="table tablePrint table-bordered table-condensed noBreak">
				<tr bgcolor="#f9f9f9">
					<th colspan="4">
						<em>4b: Consistency of population/denominator data.</em>
					</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th rowspan="2" width="275">Indicator</th>
					<th rowspan="2" width="175">Overall score</th>
					<th colspan="2" width="175">{{revCtrl.selectedOrgunit.level.displayName}} with divergent score</th>
				</tr>
				<tr bgcolor="#f9f9f9">
					<th width="175">Number</th>
					<th width="175">Percent</th>
				</tr>
				<tr ng-repeat="denominator in revCtrl.denominators.relations | orderBy:'name'">
					<td>{{denominator.meta.relation.name}}</td>
					<td class="valueCell">{{denominator.boundaryPercentage}}%</td>
					<td class="valueCell">{{denominator.subunitsOutsideThreshold}}</td>
					<td class="valueCell">{{denominator.subunitViolationPercentage}}%</td>
				</tr>
				<tr ng-if="!revCtrl.denominators.relations || revCtrl.denominator.relations.length === 0">
					<td colspan="4">Not available</td>
				</tr>

			</table>
		</div>
	</div>
</div>