<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<div class="reportPart">
	<div class="fullWidth headerPart">
		{{ 'DOMAIN 4: CONSISTENCY OF POPULATION DATA' | i18next }}
	</div>
	<div class="noBreak">

		<table class="table tablePrint table-bordered table-condensed ">
			<tr bgcolor="#f9f9f9">
				<th colspan="2">
					{{ '4a: Consistency with UN population projection.' | i18next }}
				</th>
			</tr>
			<tr>
				<td>{{ 'Ratio of population projection from the Bureau of Statistics to a UN projection' | i18next }}</td>
				<td ng-if="revCtrl.denominators.un">{{revCtrl.denominators.un.boundaryRatio}}</td>
				<td ng-if="!revCtrl.denominators.un">{{ 'Not available' | i18next }}</td>
			</tr>
		</table>
	</div>



	<div class="inline fullWidth">
		<table class="table tablePrint table-bordered table-condensed" style="margin-bottom: 5px">
			<tbody>
			<tr bgcolor="#f9f9f9">
				<th>
					{{ '4b: Consistency of denominators' | i18next }}
				</th>
			</tr>
			<tr>
				<td>
					<em>{{ 'Consistency of denominators within the same year.' | i18next }}</em>
				</td>
			</tr>
			<tr ng-if="revCtrl.denominators.relations.length === 0">
				<td>{{ 'Not available' | i18next }}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="noBreak inline fullWidth"
		 style="margin-bottom: 10px;"
		 ng-repeat="denominator in revCtrl.denominators.relations | orderBy:'meta.relation.name' track by $index">
		<div class="inline relationTable" style="min-height: 300px">
			<table class="table tablePrint table-bordered table-condensed">
				<tr bgcolor="#f9f9f9"><th colspan="2">{{denominator.meta.relation.name}}</th></tr>
				<tr>
					<td>{{ 'Denominator A' | i18next }}</td>
					<td class="valueCell">{{denominator.dxNameA}}</td>
				</tr>
				<tr>
					<td>{{ 'Denominator B' | i18next }}</td>
					<td class="valueCell">{{denominator.dxNameB}}</td>
				</tr>
				<tr>
					<td>{{ 'Quality threshold' | i18next }}</td>
					<td class="valueCell">± {{denominator.criteria}}%</td>
				</tr>
				<tr>
					<td>{{ 'Overall score' | i18next }}</td>
					<td class="valueCell">{{denominator.boundaryPercentage}}%</td>
				</tr>
				<tr>
					<td># {{revCtrl.selectedOrgunit.level.displayName}} {{ 'with poor score' | i18next }}</td>
					<td class="valueCell">{{denominator.subunitsOutsideThreshold}}</td>
				</tr>
				<tr>
					<td>% {{revCtrl.selectedOrgunit.level.displayName}} {{ 'with poor score' | i18next }}</td>
					<td class="valueCell">{{denominator.subunitViolationPercentage}}%</td>
				</tr>
				<tr class="bigRow2" ng-if="denominator.subunitViolationNames.length > 0">
					<td colspan="2">{{denominator.subunitViolationNames.join(', ')}}</td>
				</tr>
			</table>
		</div>
		<div class="inline" style="float: right">
			<div class="dottedBox relationChart">
				<nvd3 options='denominator.chartOptions' data='denominator.chartData'></nvd3>
			</div>
		</div>

		<h5 style="margin-top: 10px;">{{ 'Interpretations' | i18next }}</h5>
		<textarea class="interpretation"></textarea>
	</div>
</div>
