<h3 class="no-print" style="margin-top: 20px;">Annual Data Quality Report</h3>

<!-- Parameter selection-->
<div class="no-print well" ng-if="!revCtrl.notPossible">
	<span style="white-space:nowrap;"><label>Year:</label>
	<ui-select ng-model="revCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
	 <ui-select-match placeholder="Select year...">
		{{revCtrl.yearSelected.name}}
	 </ui-select-match>
	 <ui-select-choices
		repeat="obj in revCtrl.years | filter: $select.search">
			<div ng-bind-html="obj.name | highlight: $select.search"></div>
	 </ui-select-choices>
	</ui-select></span>
	<span style="white-space:nowrap;"><label>Level:</label>
	<ui-select ng-model="revCtrl.orgunitLevelSelected" theme="bootstrap" style="width: 200px; display: inline-block;">
	 <ui-select-match placeholder="Select level...">
		{{revCtrl.orgunitLevelSelected.name}}
	 </ui-select-match>
	 <ui-select-choices
		repeat="obj in revCtrl.orgunitLevels | filter: $select.search">
			<div ng-bind-html="obj.name | highlight: $select.search"></div>
	 </ui-select-choices>
	</ui-select></span>
	<span style="white-space:nowrap;"><label>Group:</label>
	<ui-select ng-model="revCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
	 <ui-select-match placeholder="Select group...">
		{{revCtrl.groupSelected.name}}
	 </ui-select-match>
	 <ui-select-choices
		repeat="obj in revCtrl.groups | filter: $select.search">
			<div ng-bind-html="obj.name | highlight: $select.search"></div>
	 </ui-select-choices>
	</ui-select></span>
	<div class="inline pull-right">
		<button ng-disabled="!self.userOrgunit && !revCtrl.orgunitLevelSelected && !revCtrl.groupSelected"class="btn btn-primary inline" ng-click="revCtrl.doAnalysis();">Generate</button>
		<button ng-disabled="!(revCtrl.outstandingRequests === 0 && revCtrl.totalRequests != 0)" class="btn btn-primary inline" ng-click="revCtrl.doPrint();">Print</button>
	</div>

</div>

<div ng-if="revCtrl.outstandingRequests != 0">
	<h5>Loading data...</h5>
	<progressbar animate="false" value="revCtrl.progress()" type="default">
		<b>{{revCtrl.progress()}}%</b>
	</progressbar>
</div>

<div class="onlyPrint reportPart noBreak" style="display: inline-block; height: 1400px;">
	<div style="width: 200px; height: 200px; display: inline-block; vertical-align: top; ">
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:green;"/>
		</svg>
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:yellow;"/>
		</svg>
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:red;"/>
		</svg>
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:green;"/>
		</svg>
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:yellow;"/>
		</svg>
		<svg width="200px" height="228px">
			<rect width="200px" height="228px" style="fill:red;"/>
		</svg>
	</div>
	<div style="display: inline-block; width: 650px; vertical-align: top; ">
		<h2 style="text-align: center; margin-top: 500px; margin-left: 100px; width: 400px;">Assessment of Health Facility Data Quality</h2>
		<h3 style="text-align: center; margin-top: 100px; margin-left: 100px; width: 400px;">WHO Data Quality Review</h3>
		<h3 style="text-align: center; margin-left: 100px; width: 400px;">{{revCtrl.userOrgunit.name}} - {{revCtrl.yearSelected.id}}</h3>
	</div>
</div>


<div class="reviewResult reportPart" ng-if="revCtrl.outstandingRequests === 0 && revCtrl.totalRequests != 0">
	<!--SUMMARY-->
	<div class="reportPart">
		<h3>Summary</h3>
		<div>
			<div class="noBreak">
				<h5>1 Completeness</h5>
				<em>1a Completeness of facility reporting.</em> The percentage of expected reports that have been entered and completed.
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Dataset</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="dataset in revCtrl.completeness.datasets | orderBy : 'dxName'">
							<td>{{dataset.dxName}}</td>
							<td class="valueCell">{{dataset.boundaryValue}}%</td>
							<td class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
							<td class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>1b Completeness of indicator data (missing or zero values)</em>
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Dataset</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'dxName'">
							<td>{{indicator.dxName}}</td>
							<td class="valueCell">{{indicator.boundaryValue}}%</td>
							<td class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
							<td class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>1c Consistency of dataset completeness over time. </em>Completeness of datasets in {{revCtrl.yearSelected.id}} compared to previous three years.
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Dataset</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="dataset in revCtrl.completeness.consistency | orderBy:'dxName'">
							<td>{{dataset.dxName}}</td>
							<td class="valueCell">{{dataset.boundaryPercentage}}%</td>
							<td class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
							<td class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<h5>2 Internal consistency</h5>
				<em>2a Extreme outliers.</em>
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Indicator</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'name'">
							<td>{{indicator.name}}</td>
							<td class="valueCell">{{indicator.boundaryExtreme}}%</td>
							<td class="valueCell">{{indicator.countExtreme}}</td>
							<td class="valueCell">{{indicator.percentExtreme}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>2b Moderate outliers.</em> Outliers relative to the mean.
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Indicator</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'name'">
							<td>{{indicator.name}}</td>
							<td class="valueCell">{{indicator.boundaryModerate}}%</td>
							<td class="valueCell">{{indicator.countModerate}}</td>
							<td class="valueCell">{{indicator.percentModerate}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>2c Moderate outliers.</em> Outliers relative to the median (modified Z-score > 3.5).
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Indicator</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="indicator in revCtrl.outliers | orderBy:'name'">
							<td>{{indicator.name}}</td>
							<td class="valueCell">{{indicator.boundaryZscore}}%</td>
							<td class="valueCell">{{indicator.countZscore}}</td>
							<td class="valueCell">{{indicator.percentZscore}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>2d Consistency over time.</em>
				<table style="" class="table table-bordered table-condensed noBreak">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Indicator</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="indicator in revCtrl.consistency.data | orderBy:'dxName'">
							<td>{{indicator.dxName}}</td>
							<td class="valueCell">{{indicator.boundaryPercentage}}%</td>
							<td class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
							<td class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="noBreak">
				<em>2e Consistency between related indicators.</em>
				<table style="" class="table table-bordered table-condensed ">
					<tbody>
						<tr bgcolor="#f9f9f9">
							<th width="275">Indicator</th>
							<th width="175">Overall score (%)</th>
							<th width="175"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
							<th width="175">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						</tr>
						<tr ng-repeat="relation in revCtrl.consistency.relations | orderBy:'name'">
							<td>{{revCtrl.relationName(relation.relationCode)}}</td>
							<td class="valueCell">{{relation.boundaryPercentage}}%</td>
							<td class="valueCell">{{relation.subunitsOutsideThreshold}}</td>
							<td class="valueCell">{{relation.subunitViolationPercentage}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!--COMPLETENESS-->
	<div class="reportPart">
		<h3>Completeness</h3>

		<div class="noBreak">
			<em>1a Completeness of facility reporting.</em><br />The percentage of expected reports that have been entered and completed.
			<table style="" class="table table-bordered table-condensed ">
				<thead>
					<tr bgcolor="#f9f9f9">
						<th width="200">Dataset</th>
						<th width="260">Indicator</th>
						<th width="80">{{revCtrl.yearSelected.name}}</th>
						<th>Names</th>
					</tr>
				</thead>
				<tbody ng-repeat="dataset in revCtrl.completeness.datasets| orderBy:'dxName':false">
					<tr >
						<td rowspan="3">{{dataset.dxName}}</td>
						<td>Overall score (%)</td>
						<td class="valueCell">{{dataset.boundaryValue}}%</td>
						<td rowspan="3">{{dataset.subunitViolationNames.join(', ')}}.</td>
					</tr>
					<tr>
						<td># {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
						<td class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
					</tr>
					<tr>
						<td>% {{revCtrl.orgunitLevelSelected.name}}s with completeness below {{dataset.threshold}}%</td>
						<td class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
					</tr>
				</tbody>
			</table>
			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div class="noBreak">
			<em>1b Completeness of indicator data (missing/zero values).</em>
			<table style="" class="table table-bordered table-condensed ">
				<tbody>
					<tr bgcolor="#f9f9f9">
						<th width="200">Indicator</th>
						<th width="80">Threshold</th>
						<th width="80">Overall score (%)</th>
						<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th>Names</th>
					</tr>
					<tr ng-repeat="indicator in revCtrl.completeness.indicators | orderBy : 'dxName'">
						<td>{{indicator.dxName}}</td>
						<td>{{indicator.threshold}}%</td>
						<td class="valueCell">{{indicator.boundaryValue}}%</td>
						<td class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
						<td class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
						<td class="valueCell">{{indicator.subunitViolationNames.join(', ')}}</td>
					</tr>
				</tbody>
			</table>

			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div class="noBreak">
			<em>1c Consistency of dataset completeness over time.</em><br />Difference between the current year completeness and either the average of the 3 preceding years (if expected trend is constant), or the forecasted value.
			<table style="" class="table table-bordered table-condensed ">
				<tr bgcolor="#f9f9f9">
					<th width="200">Dataset</th>
					<th width="80">Expected trend</th>
					<th width="80">Quality threshold</th>
					<th width="80">Overall score (%)</th>
					<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
					<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
					<th>Names</th>
				</tr>
				<tr ng-repeat="dataset in revCtrl.completeness.consistency| orderBy:'dxName':false">
					<td>{{dataset.dxName}}</td>
					<td>{{dataset.type}}</td>
					<td class="valueCell">{{dataset.threshold}}%</td>
					<td class="valueCell">{{dataset.boundaryPercentage}}%</td>
					<td class="valueCell">{{dataset.subunitsOutsideThreshold}}</td>
					<td class="valueCell">{{dataset.subunitViolationPercentage}}%</td>
					<td>{{dataset.subunitViolationNames.join(', ')}}</td>
				</tr>
			</table>

			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>


		<div style="border: 1px dashed gray" class="noBreak" >
			<h5 class="chartTitle">Reporting completeness over time</h5>
			<div class="bigChart">
				<nvd3 options='revCtrl.datasetConsistencyChart.options' data='revCtrl.datasetConsistencyChart.data'></nvd3>
			</div>
		</div>

	</div>


	<!--INTERNAL CONSISTENCY-->
	<div class="reportPart">
		<h3>Internal Consistency</h3>

		<div class="noBreak">
			<em>2a Extreme outliers.</em>
			<table style="" class="table table-bordered table-condensed ">
				<tbody>
					<tr bgcolor="#f9f9f9">
						<th width="200">Indicator</th>
						<th width="80">Threshold</th>
						<th width="80">Overall score (%)</th>
						<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th>Names</th>
					</tr>
					<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'name'">
						<td>{{indicator.name}}</td>
						<td class="valueCell">{{indicator.extremeOutlier}} SD</td>
						<td class="valueCell">{{indicator.boundaryExtreme}}%</td>
						<td class="valueCell">{{indicator.countExtreme}}</td>
						<td class="valueCell">{{indicator.percentExtreme}}%</td>
						<td class="valueCell">{{indicator.namesExtreme.join(', ')}}</td>
					</tr>
				</tbody>
			</table>

			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div class="noBreak">
			<em>2b Moderate outliers.</em>
			<table style="" class="table table-bordered table-condensed ">
				<tbody>
					<tr bgcolor="#f9f9f9">
						<th width="200">Indicator</th>
						<th width="80">Threshold</th>
						<th width="80">Overall score (%)</th>
						<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th>Names</th>
					</tr>
					<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'name'">
						<td>{{indicator.name}}</td>
						<td class="valueCell">{{indicator.moderateOutlier}} SD</td>
						<td class="valueCell">{{indicator.boundaryModerate}}%</td>
						<td class="valueCell">{{indicator.countModerate}}</td>
						<td class="valueCell">{{indicator.percentModerate}}%</td>
						<td class="valueCell">{{indicator.namesModerate.join(', ')}}</td>
					</tr>
				</tbody>
			</table>


			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div class="noBreak">
			<em>2c Moderate outliers.</em> Based on median (modified Z score).
			<table style="" class="table table-bordered table-condensed ">
				<tbody>
					<tr bgcolor="#f9f9f9">
						<th width="200">Indicator</th>
						<th width="80">Threshold</th>
						<th width="80">Overall score (%)</th>
						<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
						<th>Names</th>
					</tr>
					<tr ng-repeat="indicator in revCtrl.outliers | orderBy : 'name'">
						<td>{{indicator.name}}</td>
						<td class="valueCell">3.5</td>
						<td class="valueCell">{{indicator.boundaryZscore}}%</td>
						<td class="valueCell">{{indicator.countZscore}}</td>
						<td class="valueCell">{{indicator.percentZscore}}%</td>
						<td class="valueCell">{{indicator.namesZscore.join(', ')}}</td>
					</tr>
				</tbody>
			</table>

			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div class="noBreak">
			<em>2d Consistency of indicator values over time.</em><br />Difference between the current year and either the average of the 3 preceding years (if expected trend is constant), or the forecasted value.
			<table style="" class="table table-bordered table-condensed ">
				<tr bgcolor="#f9f9f9">
					<th width="200">Indicator</th>
					<th width="80">Expected trend</th>
					<th width="80">Quality threshold</th>
					<th width="80">Overall score (%)</th>
					<th width="110"># {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
					<th width="110">% {{revCtrl.orgunitLevelSelected.name}}s with poor score</th>
					<th>Names</th>
				</tr>
				<tr ng-repeat="indicator in revCtrl.consistency.data | orderBy:'dxName'">
					<td>{{indicator.dxName}}</td>
					<td>{{indicator.type}}</td>
					<td class="valueCell">{{indicator.threshold}}%</td>
					<td class="valueCell">{{indicator.boundaryPercentage}}%</td>
					<td class="valueCell">{{indicator.subunitsOutsideThreshold}}</td>
					<td class="valueCell">{{indicator.subunitViolationPercentage}}%</td>
					<td>{{indicator.subunitViolationNames.join(', ')}}</td>
				</tr>
			</table>

			<h5>Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>

		<div style="border: 1px dashed gray" class="noBreak" >
			<h5 class="chartTitle">Reporting over time</h5>
			<div class="bigChart">
				<nvd3 options='revCtrl.dataConsistencyChart.options' data='revCtrl.dataConsistencyChart.data'></nvd3>
			</div>
		</div>

		<div style="width: 100%; margin-top: 30px; margin-bottom: 30px; display: inline-block;">
			<div class="noBreak chartHolder halfWidth"
				ng-repeat="indicator in revCtrl.consistency.data | orderBy:'dxName'"
				style="border: 1px dashed gray; display: inline-block;">

				<h5 class="chartTitle">{{indicator.dxName}}</h5>
				<div class="smallChart">
					<nvd3 options='indicator.chartOptions' data='indicator.chartData'></nvd3>
				</div>
			</div>
		</div>


		<div class="noBreak inline fullWidth"
			 style="margin-bottom: 10px;"
			 ng-repeat="relation in revCtrl.consistency.relations track by $index | orderBy:'name'">

			<em ng-if="$index === 0" class="inline fullWidth">2e Consistency between related indicators</em>

			<div class="inline relationTable halfWidth">
				<table class="table table-bordered table-condensed">
					<tr bgcolor="#f9f9f9"><th colspan="2">{{revCtrl.relationName(relation.relationCode)}}</th></tr>
						<tr>
							<td>Year</td>
							<td>{{revCtrl.yearSelected.name}}</td>
					</tr>
					<tr>
						<td>Expected relationship</td>
						<td>{{revCtrl.relationTypeName(relation.type)}}</td>
					</tr>
					<tr>
						<td>Quality threshold</td>
						<td ng-if="relation.type != 'do'">{{relation.criteria}}</td>
						<td ng-if="relation.type === 'do'">Not negative</td>
					</tr>
					<tr>
						<td>National score</td>
						<td>{{relation.boundaryPercentage}}%</td>
					</tr>
					<tr>
						<td># {{revCtrl.orgunitLevelSelected.name}}s with poor score</td>
						<td>{{relation.subunitsOutsideThreshold}}</td>
					</tr>
					<tr>
						<td>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</td>
						<td>{{relation.subunitViolationPercentage}}%</td>
					</tr>
					<tr ng-if="relation.subunitViolationNames.length > 0">
						<td colspan="2">Names:</td>
					</tr>
					<tr class="bigRow" ng-if="relation.subunitViolationNames.length > 0">
						<td colspan="2">{{relation.subunitViolationNames.join(', ')}}</td>
					</tr>
				</table>
			</div>
			<div class="halfWidth inline">
				<div class="dottedBox relationChart">
					<nvd3 options='relation.chartOptions' data='relation.chartData'></nvd3>
				</div>
			</div>

			<h5 style="margin-top: 10px;">Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>
	</div>


	<div class="reportPart">
		<h3>Consistency of Population Data</h3>

		<div class="noBreak">
			<em>3a Consistency with UN population projection.</em>
			<table class="table table-bordered table-condensed ">
				<tr>
					<td>Ratio of population projection of live births from the Bureau of Statistics to a UN live births projection</td>
					<td ng-if="revCtrl.denominators.un">{{revCtrl.denominators.un.boundaryRatio}}</td>
					<td ng-if="!revCtrl.denominators.un">Unavailable</td>
				</tr>
			</table>
		</div>


		<div class="noBreak inline fullWidth"
			 style="margin-bottom: 10px;"
			 ng-repeat="denominator in revCtrl.denominators.relations track by $index | orderBy:'name'">
			<em ng-if="$index === 0" class="inline fullWidth">3b Consistency of denominators</em>
			<div class="inline relationTable halfWidth">
				<table class="table table-bordered table-condensed">
					<tr bgcolor="#f9f9f9"><th colspan="2">{{denominator.meta.name}}</th></tr>
					<tr>
						<td>Year</td>
						<td>{{revCtrl.yearSelected.name}}</td>
					</tr>
					<tr>
						<td>Quality threshold</td>
						<td>{{denominator.criteria}}</td>
					</tr>
					<tr>
						<td>National score</td>
						<td>{{denominator.boundaryPercentage}}%</td>
					</tr>
					<tr>
						<td># {{revCtrl.orgunitLevelSelected.name}}s with poor score</td>
						<td>{{denominator.subunitsOutsideThreshold}}</td>
					</tr>
					<tr>
						<td>% {{revCtrl.orgunitLevelSelected.name}}s with poor score</td>
						<td>{{denominator.subunitViolationPercentage}}%</td>
					</tr>
					<tr ng-if="denominator.subunitViolationNames.length > 0">
						<td colspan="2">Names:</td>
					</tr>
					<tr class="biggerRow" ng-if="denominator.subunitViolationNames.length > 0">
						<td colspan="2">{{denominator.subunitViolationNames.join(', ')}}</td>
					</tr>
				</table>
			</div>
			<div class="halfWidth inline">
				<div class="dottedBox relationChart">
					<nvd3 options='denominator.chartOptions' data='denominator.chartData'></nvd3>
				</div>
			</div>

			<h5 style="margin-top: 10px;">Interpretations</h5>
			<textarea class="interpretation"></textarea>
		</div>
	</div>


	<div class="reportPart" ng-if="revCtrl.remarks.length > 0">
		<h3>Remarks</h3>
		<table class="table table-bordered" style=" margin-top: 20px;">
			<tr>
				<th>Analysis type</th>
				<th>Item</th>
				<th>Remarks</th></tr>
			<tr ng-repeat="alert in revCtrl.remarks track by $index">
				<td>{{alert.type}}</td>
				<td>{{alert.item}}</td>
				<td>{{alert.msg}}</td>
			</tr>
		</table>
	</div>
</div>