<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<h3 class="no-print" style="margin-top: 20px;">{{ 'Annual Data Quality Report' | i18next }}</h3>

<div ng-include="revCtrl.selection"></div>

<div ng-if="revCtrl.outstandingRequests != 0">
	<h5>{{ 'Loading data...' | i18next }}</h5>
	<uib-progressbar animate="false" value="revCtrl.progress()" type="default">
		<b>{{revCtrl.progress()}}%</b>
	</uib-progressbar>
</div>


<!--RESULT-->
<div class="reviewResult reportPart" ng-if="revCtrl.outstandingRequests === 0 && revCtrl.totalRequests != 0">

	<div ng-include="revCtrl.resultFrontpage"></div>

	<!--SUMMARY-->
	<div ng-include="revCtrl.resultSummary"></div>

	<!--COMPLETENESS-->
	<div ng-include="revCtrl.result1Completeness"></div>

	<!--INTERNAL CONSISTENCY-->
	<div ng-include="revCtrl.result2Consistency"></div>

	<!--EXTERNAL CONSISTENCY-->
	<div ng-include="revCtrl.result3External"></div>

	<!--DENOMINATOR CONSISTENCY-->
	<div ng-include="revCtrl.result4Denominators"></div>

	<!--ALERTS-->
	<div class="reportPart" ng-if="revCtrl.remarks.length > 0">
		<h3>{{ 'Remarks' | i18next }}</h3>
		<table class="table tablePrint table-bordered" style=" margin-top: 20px;">
			<tr>
				<th>{{ 'Analysis type' | i18next }}</th>
				<th>{{ 'Item' | i18next }}</th>
				<th>{{ 'Remarks' | i18next }}</th></tr>
			<tr ng-repeat="alert in revCtrl.remarks track by $index">
				<td>{{alert.type}}</td>
				<td>{{alert.item}}</td>
				<td>{{alert.msg}}</td>
			</tr>
		</table>
	</div>
</div>
