<div class="no-print" ng-if="!revCtrl.notPossible">
	<uib-accordion class="no-print" close-others="revCtrl.oneAtATime">

		<!-- DATA -->
		<uib-accordion-group heading="Data" is-open="revCtrl.status.isFirstOpen">
			<label>Group</label><br/>
			<ui-select ng-model="revCtrl.groupSelected" theme="bootstrap" style="min-width: 200px; display: inline-block;">
				<ui-select-match placeholder="Select group...">
					{{revCtrl.groupSelected.name}}
				</ui-select-match>
				<ui-select-choices
						repeat="obj in revCtrl.groups | filter: $select.search">
					<div ng-bind-html="obj.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</uib-accordion-group>

		<uib-accordion-group heading="Period">
			<label>Year</label><br/>
			<ui-select ng-model="revCtrl.yearSelected" theme="bootstrap" style="width: 100px; display: inline-block;">
				<ui-select-match placeholder="Select year...">
					{{revCtrl.yearSelected.name}}
				</ui-select-match>
				<ui-select-choices
						repeat="obj in revCtrl.years | filter: $select.search">
					<div ng-bind-html="obj.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</uib-accordion-group>

		<uib-accordion-group heading="Organisation unit">
			<d2-select-orgunit default-level="1" max-level="2" ng-model="revCtrl.selectedOrgunit"></d2-select-orgunit>
		</uib-accordion-group>

	</uib-accordion>

	<div class="inline pull-right" style="margin-bottom:20px">
		<button ng-disabled="revCtrl.selectedOrgunit.boundary === undefined || revCtrl.outstandingRequests > 0" class="btn btn-primary inline" ng-click="revCtrl.doAnalysis();">Generate</button>
		<button ng-disabled="!(revCtrl.outstandingRequests === 0 && revCtrl.totalRequests != 0)" class="btn btn-primary inline" ng-click="revCtrl.doPrint();">Print</button>
	</div>

	<hr style="clear: both;" />
</div>
