<div ng-controller="ParamterController as paramCtrl">
	<div class="panel-group" id="parameterAccordion">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#parameterAccordion" href="#optionsPanel">
	        Analysis type
	      </a>
	    </h4>
	  </div>
	  <div id="optionsPanel" class="panel-collapse collapse in">
	    <div class="panel-body">
				<label for="threshold">Threshold </label>
				<input id="threshold" class="selector" type="number" min="0" max="100" ng-model="paramCtrl.threshold"/>
	    </div>
	  </div>
	</div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#dataPanel">
	          Data
	        </a>
	      </h4>
	    </div>
	    <div id="dataPanel" class="panel-collapse collapse">
	      <div class="panel-body">
          	<p>Select one or more data sets, data elements and/or indicators.</p>
          	<br />
	        <ui-select multiple ng-model="paramCtrl.dataSetsSelected" theme="bootstrap" style="min-width: 250px; max-width: 500px;">
	          <ui-select-match placeholder="Select data sets...">
	          	{{$item.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.dataSets | filter: $select.search">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select> <p><small>The selected datasets will be analysed.</small></p>
	        <br />
	        <ui-select multiple ng-model="paramCtrl.dataElementsSelected" theme="bootstrap" style="min-width: 250px; max-width: 500px;">
	          <ui-select-match placeholder="Select data elements...">
	          	{{$item.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.dataElements | filter: $select.search">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select> <p><small>All datasets in which these data elements are members will be analysed.</small></p>
	        <br />
	        <ui-select multiple ng-model="paramCtrl.indicatorsSelected" theme="bootstrap" style="min-width: 250px; max-width: 500px;">
	          <ui-select-match placeholder="Select indicators...">
	          	{{$item.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.indicators | filter: $select.search">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select> <p><small>All datasets with data elements contributing to the denominator and numerator of these indicators will be analysed.</small></p>
	       </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#periodPanel">
	          Period
	        </a>
	      </h4>
	    </div>
	    <div id="periodPanel" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>Select the start and end date for the analysis.</p>
	        <input class="selector" date-range-picker class="form-control date-picker" type="text" ng-model="paramCtrl.date" placeholder="From - To" options="paramCtrl.datePickerOpts"/>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#orgunitPanel">
	          Organisation Units
	        </a>
	      </h4>
	    </div>
	    <div id="orgunitPanel" class="panel-collapse collapse">
	      <div class="panel-body">
   	    	<p>Select one or more (by holding Ctrl) organisation units. Use the "include children" checkbox to include the child orgunits in the analysis.</p>
	        <div class="treeHolder">
	        	<div id="orgunitTree"></div>
	        </div>
	        Include children: <input type="checkbox" ng-model="paramCtrl.includeChildren">
	      </div>
	    </div>
	  </div>
	</div>
	<button type="button" class="btn btn-default" ng-click="paramCtrl.doAnalysis();" ng-disabled="paramCtrl.orgunits.length === 0 || (paramCtrl.dataElementsSelected.length === 0 && paramCtrl.indicatorsSelected.length === 0 && paramCtrl.dataSetsSelected.length === 0) || paramCtrl.date.startDate == ''">Do analysis</button>
</div>