<div ng-controller="ParamterController as paramCtrl">
	<div class="panel-group" id="parameterAccordion">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#parameterAccordion" href="#optionsPanel">
	        Analysis type
	      </a>
	    </h4>
	  </div>
	  <div id="optionsPanel" class="panel-collapse collapse in">
	    <div class="panel-body">
	    	<label>Choose analysis type:</label><br />
	      	<input id="analysisType" type="radio" ng-model="paramCtrl.analysisType" value="completeness">  Data completeness<br/>
	      	<input type="radio" ng-model="paramCtrl.analysisType" value="outlier">  Outlier analysis<br/>
	      	<div ng-show="paramCtrl.analysisType === 'completeness'"><br />
				<label for="threshold">Target for completeness:   </label>
				<input style="width: 100px;" id="threshold" class="selector" type="number" min="0" max="100" ng-model="paramCtrl.threshold"/>
			</div>
			<div ng-show="paramCtrl.analysisType === 'outlier'"><br />
				<label for="threshold">Standard deviations:</label><br />
				<select style="width: 100px;"
				  ng-model="paramCtrl.stdDev"
				  ng-options="stdDev.name group by stdDev.category for stdDev in paramCtrl.stdDevOptions">
				</select>				
			</div>
			<span ng-show="paramCtrl.analysisType === 'outlier'"><br />
				<label for="highLimit">High limit:   </label>
				<input style="width: 100px;" id="highLimit" class="selector" type="number" ng-model="paramCtrl.highLimit"/>
			</span>
			<span ng-show="paramCtrl.analysisType === 'outlier'"><br />
				<label for="lowLimit">Low limit:   </label>
				<input style="width: 100px;" id="lowLimit" class="selector" type="number" ng-model="paramCtrl.lowLimit"/>
			</span>
	    </div>
	  </div>
	</div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#dataPanel">
	          Data
	        </a>
	      </h4>
	    </div>
	    <div id="dataPanel" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ui-select ng-disabled="paramCtrl.indicatorsSelected || paramCtrl.dataElementsSelected" ng-show="paramCtrl.analysisType === 'completeness'" ng-model="paramCtrl.dataSetsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
	          <ui-select-match placeholder="Select data set...">
	          	{{paramCtrl.dataSetsSelected.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.dataSets">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select>
	        <ui-select ng-disabled="paramCtrl.indicatorsSelected || paramCtrl.dataSetsSelected" ng-model="paramCtrl.dataElementsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
	          <ui-select-match placeholder="Select data elements...">
	          	{{paramCtrl.dataElementsSelected.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.dataElements | filter: $select.search">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select>
	        <ui-select ng-disabled="paramCtrl.dataSetsSelected || paramCtrl.dataElementsSelected" ng-model="paramCtrl.indicatorsSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
	          <ui-select-match placeholder="Select indicators...">
	          	{{paramCtrl.indicatorsSelected.name}}
	          </ui-select-match>
	          <ui-select-choices 
	          	repeat="obj in paramCtrl.indicators | filter: $select.search">
	           		<div ng-bind-html="obj.name | highlight: $select.search"></div>
	          </ui-select-choices>
	        </ui-select>
	       </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#periodPanel">
	          Period
	        </a>
	      </h4>
	    </div>
	    <div id="periodPanel" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p>Select the start and end date for the analysis.</p>
	        <input class="selector" date-range-picker class="form-control date-picker" type="text" ng-model="paramCtrl.date" placeholder="From - To" options="paramCtrl.datePickerOpts"/>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#parameterAccordion" href="#orgunitPanel">
	          Organisation Units
	        </a>
	      </h4>
	    </div>
	    <div id="orgunitPanel" class="panel-collapse collapse">
	      <div class="panel-body">
   	    	<p>Select one or more (by holding Ctrl) organisation units. Use the "include children" checkbox to include the child orgunits in the analysis.</p>
	        <div class="treeHolder">
	        	<div id="orgunitTree"></div>
	        </div>
	        Include children: <input type="checkbox" ng-model="paramCtrl.includeChildren">
	      </div>
	    </div>
	  </div>
	</div>
	<button type="button" class="btn btn-default" ng-click="paramCtrl.doAnalysis();" ng-disabled="paramCtrl.orgunits.length === 0 || (paramCtrl.dataElementsSelected.length === 0 && paramCtrl.indicatorsSelected.length === 0 && paramCtrl.dataSetsSelected.length === 0) || paramCtrl.date.startDate == ''">Do analysis</button>
</div>