@media screen
{  
	body {
	  padding-top: 50px;
	  padding-left: 3%;
	  padding-right: 3%;
	}

	.mainView {

		width: 100%;
	}
	
	.selector {
		width: 200px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	
	.headerCellWide {
		min-width: 100px;
		max-width: 200px;
	}
	
	.valueCell {
		text-align: right;
		vertical-align: middle;
	}

	.tableButton {
		height: 30px;
		padding: 4px; 
		text-aling:center;
	}
	
	.bigChart {
		border: 1px solid gray;
		min-width: 350px;
		height: 400px;
	}
	
	.smallChart {
		border: 1px solid gray;
		min-width: 300px;
		height: 300px;
	}
	
	.smallPie {
		border: 1px solid gray;
		height: 300px;
		min-width: 350px;
	}
	
	.chartHolder {
		margin: 3px		
	}
	
	.chartHalf {
		width: 48%;
	}
	
	.chartFull {
		width: 100%;
	}
	
	
	.hideDiv {
		display: none;
	}
	
	
	.table tbody>tr>td.vert-align {
	    vertical-align: middle;
	}
	
	.table-hover tbody tr:hover > td {
	  cursor: pointer
	}
	
	.rotate {
		display: block;
		  -webkit-transform: rotate(-45deg);
		  -moz-transform: rotate(-45deg);
		  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);	
	}
	
	.ui-select-multiple.ui-select-bootstrap {
	    min-height: 34px;        
	    height: auto;
	    padding: .3em;
	}
	.ui-select-toggle { /*Overwrite bootstrap btn alignment*/
		text-align: left;
	}
	
	.minimized {
		font-size: 90%;
		width: auto !important;
	}
}


@media print
{    
	.no-print, .no-print *
	{
		display: none !important;
	}
}