<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<h4 style="margin-top: 20px;">{{ 'Data Export' | i18next }}</h4>
<p>{{ 'Export data for use with the Excel-based data quality report card' | i18next }}</p>

<div class="well well-large" style="width: 470px">
<label>{{ 'Select data element OR indicator' | i18next }}</label><br />
<div class="btn-group btn-group-justified" style="width: 120px; margin-bottom: 10px; display: inline-block;" ng-init="exportCtrl.dataTypeSelected = 'dataElements'">
	<label class="btn btn-default" ng-model="exportCtrl.dataTypeSelected" uib-btn-radio="'dataElements'">{{ 'Data element' | i18next }}</label>
	<label class="btn btn-default" ng-model="exportCtrl.dataTypeSelected" uib-btn-radio="'indicators'">{{ 'Indicator' | i18next }}</label>
</div>

<!-- DATA ELEMENTS -->
<div ng-if="exportCtrl.dataTypeSelected === 'dataElements'" style="max-width: 470px">
	<d2-select-data-element
			multiple="false"
			ng-model="exportCtrl.dataSelected">
	</d2-select-data-element>
</div>

<!-- INDICATORS -->
<div ng-if="exportCtrl.dataTypeSelected === 'indicators'" style="max-width: 470px">
	<d2-select-indicator
			ng-model="exportCtrl.dataSelected"
			multiple="false">
	</d2-select-indicator>
</div>

<br />

<label>{{ 'Select organisation unit level' | i18next }}</label>
<ui-select ng-model="exportCtrl.orgunitLevelSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 470px;">
  <ui-select-match allow-clear="true" placeholder="Select organisation unit level">
	{{exportCtrl.orgunitLevelSelected.displayName}}
  </ui-select-match>
  <ui-select-choices
	repeat="obj in exportCtrl.orgunitLevels | filter: $select.search">
		<div ng-bind-html="obj.displayName | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>

<br />
<label>{{ 'Select year' | i18next }}</label>
<ui-select ng-model="exportCtrl.yearSelected" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 470px;">
  <ui-select-match allow-clear="true" placeholder="Select year">
	{{exportCtrl.yearSelected.name}}
  </ui-select-match>
  <ui-select-choices
	repeat="obj in exportCtrl.years | filter: $select.search">
		<div ng-bind-html="obj.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
</div>
<label>{{ 'Download'  | i18next }}</label><br />
<button type="button" class="btn btn-primary" ng-click="exportCtrl.doOuExport();" ng-disabled="exportCtrl.orgunitLevelSelected === undefined">{{ 'Admin Units' | i18next }}</button>
<button type="button" class="btn btn-primary" ng-click="exportCtrl.doTrendExport();" ng-disabled="exportCtrl.orgunitLevelSelected === undefined || exportCtrl.dataSelected === undefined || exportCtrl.yearSelected === undefined">{{ 'Trend Data' | i18next }}</button>
<button type="button" class="btn btn-primary" ng-click="exportCtrl.doExport();" ng-disabled="exportCtrl.orgunitLevelSelected === undefined || exportCtrl.dataSelected === undefined || exportCtrl.yearSelected === undefined">{{ 'Service Data' | i18next }}</button>
