<div class="modal-header">
<h3>{{mmCtrl.orgunitName}}</h3>
</div>

<div class="modal-body">
	<div ng-if="mmCtrl.info.length === 0" class="spinner">
		<p><img src="img/ajax-loader.gif" alt="loading"/> Loading contact information</p>
	</div>
	<div style="clear: both" ng-if="mmCtrl.info.length > 0">
	
		<table class="table table-bordered">
		<tr ng-repeat="info in mmCtrl.info">
			<th>{{info.label}}</th>
			<td>{{info.value}}</td>
		</tr>
		</table>
		<div ng-if="mmCtrl.message">
		
			<label style="float: left;">Recipients</label><br/>
						
			<ui-select ng-model="mmCtrl.selectedRecipient" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
			  <ui-select-match placeholder="Select organisation unit...">
			  	{{mmCtrl.selectedRecipient.orgunit}}
			  </ui-select-match>
			  <ui-select-choices
			  	repeat="recipient in mmCtrl.recipients | filter: $select.search">
			   		<div ng-bind-html="recipient.orgunit | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			<ui-select multiple ng-if="mmCtrl.selectedRecipient" ng-model="mmCtrl.selectedUsers" theme="bootstrap" style="margin-bottom: 10px; min-width: 250px; max-width: 400px;">
			  <ui-select-match placeholder="[All users]">
			  	{{$item.name}}
			  </ui-select-match>
			  <ui-select-choices
			  	repeat="user.id as user in mmCtrl.selectedRecipient.users | filter: $select.search">
			   		<div ng-bind-html="user.name | highlight: $select.search"></div>
			  </ui-select-choices>
			</ui-select>
			
				  
			<textarea style="margin-top: 10px; margin-bottom: 10px; width: 100%; height: 100px;" ng-model="mmCtrl.text"></textarea>
			<div style="clear: both;">
			<button ng-disabled="!mmCtrl.selectedRecipient || mmCtrl.text === ''" style="float: right; margin-bottom: 10px;" type="button" class="btn btn-success" data-ng-click="mmCtrl.sendMessage()">Send message</button>
			</div>
			<div style="clear: both;">
			<alert ng-repeat="alert in mmCtrl.alerts track by $index" type="{{alert.type}}" close="mmCtrl.alerts.splice($index, 1)">{{alert.msg}}</alert>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="clear: both;">     
    <button type="button" class="btn btn-default" data-ng-click="mmCtrl.enableMessage()">Write Message</button>
    <button type="button" class="btn btn-default" data-ng-click="mmCtrl.close()">Done</button>
</div>