<!--
© Copyright 2017 the World Health Organization (WHO).

This software is distributed under the terms of the GNU General Public License version 3 (GPL Version 3),
copied verbatim in the file “COPYING”.  In applying this license, WHO does not waive any of the privileges and
immunities enjoyed by WHO under national or international law or submit to any national court jurisdiction.
-->

<!DOCTYPE html>
<!--suppress ALL -->
<html >
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

	<title>WHO Data Quality Tool</title>
	<!--
		IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
		For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
		-->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
		<script>
		document.createElement('ui-select');
		document.createElement('ui-select-match');
		document.createElement('ui-select-choices');
		</script>
		<![endif]-->
	<style type="text/css">
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body>
	<div class="mainView ng-cloak" ng-controller="NavigationController as navCtrl">

		<nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
				<button class="navbar-toggle" type="button" ng-click="navCtrl.isCollapsed = !navCtrl.isCollapsed">
					<span class="sr-only">{{'Toggle navigation' | i18next }}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/dashboard" style="padding-top: 5px; vertical-align: text-bottom">
					<span style="margin-right: 3px;">
						<img src="img/icons/WHO-logo.png" style="width: 40px;height: 40px;"/>
					</span>
					<span style="color: #5B92E5; position:relative; top:1px">{{'Data Quality Tool' | i18next}}</span>
					<!--<p style="position:fixed; left:63px; top:30px; width:140px; height:30px; border:none; color: red; font-size: 10px">
						TEST VERSION
					</p>-->
				</a>
				</div>
				<div uib-collapse="navCtrl.isCollapsed" class="navbar-collapse bs-js-navbar-collapse" ng-class="{collapse: navCtrl.isCollapsed}">
				<ul class="nav navbar-nav">
						<li ng-class="navCtrl.navClass('dashboard')"><a href="#/dashboard">{{'Dashboard' | i18next}}</a></li>
						<li class="dropdown" uib-dropdown>
							<a href="#" class="dropdown-toggle" uib-dropdown-toggle>{{'Analysis' | i18next}}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" uib-dropdown-menu>
								<li><a href="#/outlier_gap">{{'Outliers and Missing Data' | i18next}}</a></li>
								<li><a href="#/consistency">{{'Consistency' | i18next}}</a></li>
							</ul>
						</li>
						<li ng-class="navCtrl.navClass('review')"><a href="#/review">{{'Annual Report' | i18next}}</a></li>
						<li ng-class="navCtrl.navClass('about')"><a href="#/about">{{'About' | i18next}}</a></li>
					<li class="dropdown" uib-dropdown>
							<a href="#" class="dropdown-toggle" uib-dropdown-toggle>{{'More' | i18next}}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" uib-dropdown-menu>
								<li><a target="_blank" href="https://www.ssb.no/en/helse/artikler-og-publikasjoner/manual-for-the-dhis2-quality-tool">{{'User manual' | i18next}}</a></li>
								<li><a href="#/export">{{'Data Export for Excel tool' | i18next}}</a></li>
								<li><a href="mailto:olavpo@ifi.uio.no?Subject=Data%20Quality%20App%20Feedback" target="_top">{{'Feedback' | i18next}}</a></li>
								<li class="divider"></li>
								<li><a href="#/admin">{{'Administration' | i18next}}</a></li>
							</ul>
						</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!navCtrl.validBrowser"><a class="warning">{{'This browser is not supported!' | i18next}}</a></li>
					<li><a href="#" ng-click="navCtrl.exit()">{{'Exit' | i18next}}</a></li>
				</ul>
				</div>
			</div>
			</nav>
		<div ng-view></div>
	</div> <!-- /container -->	
</body>
</html>